/* Style for Print */
* {
  text-shadow: none !important;
  color: #000;
  box-shadow: none !important; }

.header, .footer, .blk-heading-control, .booking-confirm-list, .form-search-flight, .link-print, .schedule-check-availability, .ico-print, .btn-back, .browsehappy, .sia-breadcrumb {
  display: none !important; }

.form-booking-1 .button-group, .form-relaunch-1 .button-group {
  display: none; }

.form-checkin-complete .button-group-1 {
  display: none; }

.flight-schedules-page .header, .flight-schedules-page .tab, .flight-schedules-page .download {
  display: none; }
.flight-schedules-page .table--1 {
  border: 1px solid #e2e2e2; }
  .flight-schedules-page .table--1 td:nth-child(3) {
    border-right: 1px solid #e2e2e2 !important; }
.flight-schedules-page .title-head-date--first {
  border-right: none; }
.flight-schedules-page .title-head-date--last {
  border-left: none; }

.table-default, .booking-passenger-content {
  background-color: white !important; }

.ico-tax {
  background: url("../images/ico-tax-print.png") no-repeat !important; }

.booking-item, .claim-make {
  box-shadow: none; }
  .booking-item:before, .claim-make:before {
    box-shadow: none; }

.booking-info, .booking-passenger-content {
  border: 1px solid #f2f2f2; }

.booking-passenger-content {
  border-top: 0; }

.flight-schedules-page .button-group .custom-radio {
  display: none; }
.flight-schedules-page .main-intro {
  margin-bottom: 0; }

.flight-schedule__table .flights__info--group {
  width: 47%; }
.flight-schedule__table .col-date {
  border: none; }
.flight-schedule__table .date-selected {
  background-color: transparent; }
.flight-schedule__table .title-head span {
  color: #fff; }

.dash {
  height: auto;
  text-indent: 0; }

.booking-summary {
  display: none; }

.sub-heading-1--dark .search-link {
  display: none; }

.select-flights__calendar-sort, .list-value-sort {
  display: none; }

.flights__searchs .control .wi-icon {
  display: none;
  opacity: 0; }

.calendar__table tr th {
  border-top: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5; }
  .calendar__table tr th.first {
    border: 0; }
  .calendar__table tr th.active {
    color: #000; }

.masthead {
  display: none; }

body {
  background-color: transparent; }
  body .main-container {
    width: 100%; }
  body .main-inner, body .block--full-page .block--full-page__inner {
    padding: 5px;
    margin-top: 20px; }

.promotion-item .promotion-item__heading {
  padding: 0; }
.promotion-item .list-unstyled {
  padding-left: 0; }
.promotion-item .promotion-item__content > a {
  margin-left: 0; }

.dials {
  background-color: transparent; }
  .dials:before {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #000;
    border-radius: 0; }

.claim-make, .form-claim__content {
  background-color: transparent; }

.statements-page .main-heading, .statements-page .form-calculate-miles, .statements-page .btn-back {
  display: none; }
.statements-page .statements .see-more-btn {
  display: none; }

.flight-history .blk-control {
  display: none; }
.flight-history .flight-history__more {
  display: none; }

.block--shadow, .form-claim__content, .claim-make, .travel-widget, .tabs .tab-content .main-heading, .passenger-details-page .main-heading {
  border-bottom: 1px solid #e5e5e5; }

.input-3 .input-3__text {
  top: 1px; }
.input-3 input[type="text"], .input-3 input[type="tel"] {
  padding: 9px 0; }

.popup--cookie, .toolbar--language, .beta-footer {
  display: none; }

.flights__info--group .flights__info--detail {
  width: 50%; }
  .flights__info--group .flights__info--detail .ico-airplane-lift {
    top: 5px; }

.custom-scroll.custom-dropdown, .ui-autocomplete {
  display: none !important; }

.custom-select--2.focus {
  border: 1px solid #ccc; }

.select-hotel-block, .choose-button {
  display: none; }

@media print and (orientation: landscape) { }

@media all and (orientation: portrait) {
  .flights__info--group .flights__info--detail .ico-airplane-lift {
    left: auto;
    right: 50%;
    margin-left: 0; } }

/* End Print */
/*# sourceMappingURL=print.css.map */