/* Fontface */
@font-face {
  font-family: 'sia';
  src: url('../fonts/sia.eot');
  src: url('../fonts/sia.eot?#iefix') format('embedded-opentype'), url('../fonts/sia.woff') format('woff'), url('../fonts/sia.ttf') format('truetype'), url('../fonts/sia.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-1';
  src: url('../fonts/sia-1.eot');
  src: url('../fonts/sia-1.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-1.woff') format('woff'), url('../fonts/sia-1.ttf') format('truetype'), url('../fonts/sia-1.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-2';
  src: url('../fonts/sia-2.eot');
  src: url('../fonts/sia-2.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-2.woff') format('woff'), url('../fonts/sia-2.ttf') format('truetype'), url('../fonts/sia-2.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-amenities';
  src: url('../fonts/sia-amenities.eot');
  src: url('../fonts/sia-amenities.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-amenities.woff') format('woff'), url('../fonts/sia-amenities.ttf') format('truetype'), url('../fonts/sia-amenities.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-map';
  src: url('../fonts/sia-map.eot?cbq5t9');
  src: url('../fonts/sia-map.eot?cbq5t9#iefix') format('embedded-opentype'), url('../fonts/sia-map.ttf?cbq5t9') format('truetype'), url('../fonts/sia-map.woff?cbq5t9') format('woff'), url('../fonts/sia-map.svg?cbq5t9#sia-3') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-meals';
  src: url('../fonts/sia-meals.eot?egg8fi');
  src: url('../fonts/sia-meals.eot?egg8fi#iefix') format('embedded-opentype'), url('../fonts/sia-meals.ttf?egg8fi') format('truetype'), url('../fonts/sia-meals.woff?egg8fi') format('woff'), url('../fonts/sia-meals.svg?egg8fi#sia-meals') format('svg');
  font-weight: normal;
  font-style: normal; }

/* End fontface */
.popup--need-help .popup__heading {
  margin-top: -4px;
  margin-bottom: 15px;
  font-size: 20px; }
.popup--need-help.popup-1 {
  position: fixed;
  right: 15px;
  bottom: 20px;
  z-index: 12;
  height: auto;
  padding: 11px;
  width: 196px;
  height: auto; }
  .popup--need-help.popup-1 .popup__close {
    padding: 11px; }
.popup--need-help .popup__desc p {
  opacity: 0.5;
  filter: alpha(opacity=50);
  margin: 0;
  font-size: 10px;
  line-height: 13px;
  color: #fff; }

.chat-btn {
  padding: 8px 30px;
  background-color: #00266b;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  border: 2px solid #cad1e0;
  color: #fff;
  font-weight: 700;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  text-transform: uppercase; }

.need-help {
  margin-bottom: 4px; }
  .need-help .ico-chat {
    line-height: 37px;
    margin-left: -8px;
    font-size: 37px;
    color: #fff; }

.popup__header {
  overflow: hidden;
  padding: 13px 20px;
  background-color: #00266b; }
  .popup__header .logo img {
    display: none; }
    .popup__header .logo img.img-1 {
      display: inline-block; }

.chat-window {
  position: relative; }
  .chat-window.popup .popup__content {
    padding: 0; }
  .chat-window .popup__close {
    padding: 10px;
    background-color: transparent;
    color: #fff; }
    .chat-window .popup__close:hover {
      color: #ccc; }
  .chat-window .print-btn {
    display: inline-block;
    margin: 10px 20px; }
  .chat-window .popup__content {
    background-color: #fff; }

.chat-primary__note {
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #eaeaea; }
  .chat-primary__note p {
    margin: 0;
    font-weight: 400;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    font-size: 13px;
    color: #aaa; }

.post-item {
  overflow: hidden;
  margin-bottom: 20px; }

.post-item__author {
  margin-bottom: 10px;
  overflow: hidden; }
  .post-item__author .operator {
    font-weight: 700;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    font-size: 14px; }
  .post-item__author .time {
    font-size: 12px;
    margin-top: 2px; }

.post-item__content {
  padding: 15px 10px;
  position: relative;
  display: inline-block;
  max-width: 325px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #000;
  margin-bottom: 2px; }
  .post-item__content .post-item__corner {
    display: block;
    width: 0px;
    height: 0px;
    border: 7px solid transparent;
    position: absolute;
    top: -13px;
    z-index: 1; }
  .post-item__content p {
    margin: 0;
    line-height: 20px; }
    .post-item__content p + p {
      margin-bottom: 4px; }

.post-item--get .operator {
  float: left;
  margin-right: 5px;
  color: #ff9f00; }
.post-item--get .post-item__content {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 0 0 #d2d2d2;
  -moz-box-shadow: 0 2px 0 0 #d2d2d2;
  box-shadow: 0 2px 0 0 #d2d2d2; }
  .post-item--get .post-item__content .post-item__corner {
    left: 5px;
    border-bottom-color: #fff; }
.post-item--get.post-item--sent {
  margin-top: 15px; }

.post-item--sent .operator {
  float: right;
  margin-left: 5px;
  color: #00266b; }
.post-item--sent .time {
  float: right; }
.post-item--sent .post-item__content {
  float: right;
  background-color: #e0ebff;
  -webkit-box-shadow: 0 2px 0 0 #acacac;
  -moz-box-shadow: 0 2px 0 0 #acacac;
  box-shadow: 0 2px 0 0 #acacac; }
  .post-item--sent .post-item__content .post-item__corner {
    right: 5px;
    border-bottom-color: #e5e9f0; }

.chat-primary {
  padding-top: 20px;
  border-top: 1px solid #e2e2e2;
  background-color: #f7f7f7; }

.chat-primary__show {
  overflow: hidden;
  padding: 25px 20px; }

.chat-primary__typing {
  margin-top: 0;
  font-size: 13px;
  color: #999;
  font-style: italic;
  text-align: center; }

.chat-primary__input {
  border-top: 2px solid #ff9f00;
  padding: 20px;
  background-color: #e5e9f0; }
  .chat-primary__input .input-chat {
    height: 95px;
    box-sizing: border-box;
    padding: 10px 15px;
    border: 1px solid #ccc;
    display: block;
    width: 100%;
    font-size: 13px;
    color: #000; }
    .chat-primary__input .input-chat::-webkit-input-placeholder {
      color: #999; }
    .chat-primary__input .input-chat:-moz-placeholder {
      color: #999; }
    .chat-primary__input .input-chat::-moz-placeholder {
      color: #999; }
    .chat-primary__input .input-chat:-ms-input-placeholder {
      color: #999; }

.chat-primary__scroll {
  height: 500px;
  overflow-y: scroll; }

.chat-btn:hover {
  color: #00266b;
  border-color: #fff;
  background-color: #fff; }

@media print {
  .chat-window {
    position: static; }
    .chat-window .print-btn {
      display: none; }
  .chat-primary__scroll {
    height: auto; }
  .popup__header .logo img.img-1 {
    display: none; }
  .popup__header .logo img.img-2 {
    display: none; }
  .popup__header .logo img.img-print {
    display: inline-block; }
  .popup__header {
    background: none !important; }
  .chat-window .print-btn {
    display: none; } }

/*# sourceMappingURL=main_chat.css.map */