.ie7 .popup__header .logo img.img-1, .ie8 .popup__header .logo img.img-1 {
  display: none; }
.ie7 .popup__header .logo img.img-2, .ie8 .popup__header .logo img.img-2 {
  display: inline-block; }
.ie7 .chat-window .popup__close, .ie8 .chat-window .popup__close {
  filter: none; }

.ie7 .chat-primary__input .input-chat {
  width: 430px; }
.ie7 .need-help .ico-chat {
  margin-right: 8px; }
.ie7 .popup--need-help.popup-1 .popup__close {
  padding: 5px; }
.ie7 .wrap-textarea {
  padding: 10px 15px;
  border: 1px solid #ccc;
  background-color: #fff; }
  .ie7 .wrap-textarea .input-chat {
    padding: 0;
    border: none; }

.ie8 .chat-btn {
  margin-left: -5px; }

/*# sourceMappingURL=ie_chat.css.map */