p {
  margin: 1em 0; }

.ie7 .btn-1, .ie7 .input-2, .ie8 .btn-1, .ie8 .input-2 {
  outline: none; }
.ie7 .custom-radio input, .ie7 .custom-checkbox input, .ie8 .custom-radio input, .ie8 .custom-checkbox input {
  filter: none;
  top: 1px; }
.ie7 .custom-radio label:before, .ie7 .custom-radio label:after, .ie7 .custom-checkbox label:before, .ie7 .custom-checkbox label:after, .ie8 .custom-radio label:before, .ie8 .custom-radio label:after, .ie8 .custom-checkbox label:before, .ie8 .custom-checkbox label:after {
  display: none; }

.ie7 .link-4 .ico-point-r {
  position: static;
  margin-top: -2px; }
.ie7 .popup__logo {
  margin-top: 14px; }
.ie7 .custom-checkbox input {
  position: static;
  float: left; }
  .ie7 .custom-checkbox input + label {
    padding-left: 5px; }
.ie7 .custom-checkbox.custom-checkbox-all input {
  margin-top: 15px; }

/*# sourceMappingURL=ie_popup-window.css.map */