div.beta-footer {
  border-bottom: 0;
  margin-bottom: 15px; }
  div.beta-footer > .beta-footer-inner {
    padding-top: 15px;
    background-color: #fffaf2;
    border: 2px solid #fe9f34;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px; }

div.footer-top {
  padding-top: 25px;
  border-top: 1px solid #e2e2e2; }

div.beta-footer .beta-footer__text {
  font-size: 17px; }

.popup .popup__inner {
  border: 4px solid #fe9f34; }

footer.footer > .footer-inner {
  padding-top: 15px; }

div.beta-footer {
  max-width: 890px;
  margin-left: auto;
  margin-right: auto; }
  div.beta-footer > .beta-footer-inner {
    padding: 10px 20px; }
  div.beta-footer .btn-1 {
    margin-bottom: 0; }

/*# sourceMappingURL=main_beta-highlight.css.map */