@import url("modules-dark-site.css");
@import url("modules__1-dark-site.css");
@import url("modules__2-dark-site.css");
@import url("popups-dark-site.css");
@import url("ico.css");
@import url("tooltips-dark-site.css");
@import url("table-flight-dark-site.css");
@import url("manage-booking-dark-site.css");
@import url("sqc-dark-site.css");
@import url("destination-dark-site.css");
@import url("static-content-dark-site.css");
@import url("ssh-dark-site.css");
@import url("style-large-dark-site.css");
.visibility-hidden {
  visibility: hidden; }

img, .highlight .img-block, .packages__wrapper, .full-banner--img, .component-carousel__background {
  filter: grayscale(1);
  /* Firefox 3.5+ */
  -webkit-filter: grayscale(1);
  /* Webkit Nightlies & Google Chrome Canary */ }

.flexslider--1 .hero {
  background: #666;
  height: 554px; }

.toolbar__text .toolbar__language {
  color: #aaa; }

.highlight figcaption, .packages__wrapper {
  background: #f4f4f4; }

.main-inner .wrapper.first {
  display: none; }

.beta-footer, .footer-top, .footer .social {
  display: none;
  visibility: hidden;
  opacity: 0; }

.ie10 .img_wrapper, .ie11 .img_wrapper {
  vertical-align: top; }
.ie10 .slick-slide .img_wrapper, .ie11 .slick-slide .img_wrapper {
  width: 100%; }
.ie10 .menu .flag .img_wrapper, .ie11 .menu .flag .img_wrapper {
  float: left; }

.travel-widget {
  position: absolute; }

.travel-widget .tab-item {
  background: #949494; }

/*# sourceMappingURL=main_dark-site.css.map */