@import url("modules.css");
@import url("modules__1.css");
@import url("modules__2.css");
@import url("popups.css");
@import url("ico.css");
@import url("tooltips.css");
@import url("table-flight.css");
@import url("manage-booking.css");
@import url("sqc.css");
@import url("destination.css");
@import url("static-content.css");
@import url("ssh.css");
@import url("style-large.css");
.travel-widget .tab .tab-item {
  width: 20%; }

.form-book-travel .input-3 .input-3__text input {
  padding-left: 10px; }
.form-book-travel .input-3 .input-3__label {
  display: none; }
.form-book-travel .one-third {
  width: 30%; }
  .form-book-travel .one-third + .one-third + .one-third {
    width: 40%; }
    .form-book-travel .one-third + .one-third + .one-third .custom-select--2 .select__label {
      max-width: 105px; }
    .form-book-travel .one-third + .one-third + .one-third .custom-select--2 .select__text {
      padding-left: 100px; }
.form-book-travel .link-2 {
  margin-top: 10px; }
  .form-book-travel .link-2.right {
    margin-top: 0; }

.menu-main {
  float: left; }
  .menu-main > ul {
    display: table; }
    .menu-main > ul > li {
      display: table-cell;
      float: none;
      vertical-align: middle;
      line-height: 1; }
    .menu-main > ul .menu-item {
      text-align: center; }

.hero figcaption .hero__text strong {
  font-size: 30px;
  line-height: 1; }

/*# sourceMappingURL=main_fr_FR.css.map */