@import url("modules.css");
@import url("modules__1.css");
@import url("modules__2.css");
@import url("popups.css");
@import url("ico.css");
@import url("tooltips.css");
@import url("table-flight.css");
@import url("manage-booking.css");
@import url("sqc.css");
@import url("destination.css");
@import url("static-content.css");
@import url("ssh.css");
@import url("style-large.css");
.travel-widget .tab .tab-item {
  width: 20%; }

.menu-main {
  float: left; }
  .menu-main > ul {
    display: table; }
    .menu-main > ul > li {
      display: table-cell;
      float: none;
      vertical-align: middle;
      line-height: 1; }
    .menu-main > ul .menu-item {
      text-align: center; }

.hero figcaption .hero__text strong {
  font-size: 30px;
  line-height: 1; }

.seat-equipped {
  min-height: 48px; }

.seat-equipped-item:first-child {
  width: 202px;
  text-align: left;
  line-height: 1.4em;
  top: 26px; }

.form-book-travel .input-3 .input-3__text input {
  padding-left: 13px; }
.form-book-travel .input-3 .input-3__label {
  display: none; }
.form-book-travel .custom-select--2 .select__label {
  max-width: 80px; }
.form-book-travel .custom-select--2 .select__text {
  padding-left: 78px; }
  .form-book-travel .custom-select--2 .select__text > input {
    padding-left: 78px; }
.form-book-travel .one-third .custom-select--2 .select__label {
  max-width: 80px; }

.tabs .tab-item {
  padding: 0 12px;
  width: 20%; }

.ie8 .tabs .tab, .ie7 .tabs .tab {
  behavior: url(display-table.min.htc);
  -dt-display: table; }
.ie8 .tabs .tab-item, .ie7 .tabs .tab-item {
  -dt-display: table-cell; }

/*# sourceMappingURL=main_es_ES.css.map */