@import url("modules.css");
@import url("modules__1.css");
@import url("modules__2.css");
@import url("popups.css");
@import url("ico.css");
@import url("tooltips.css");
@import url("table-flight.css");
@import url("manage-booking.css");
@import url("sqc.css");
@import url("destination.css");
@import url("static-content.css");
@import url("ssh.css");
@import url("style-large.css");
.menu-main {
  float: left; }
  .menu-main > ul {
    display: table; }
    .menu-main > ul > li {
      display: table-cell;
      float: none;
      vertical-align: middle;
      line-height: 1; }
    .menu-main > ul .menu-item {
      text-align: center; }
      .menu-main > ul .menu-item + .menu-item {
        padding-left: 15px; }

.form-book-travel .input-3 .input-3__label {
  display: none; }
.form-book-travel .input-3 .input-3__text input {
  padding-left: 15px; }
.form-book-travel .grid-col-1 .custom-select--2 .select__text {
  padding-left: 80px; }
.form-book-travel .grid-col-1 .custom-select--2 .select__label {
  max-width: 60px; }
.form-book-travel .grid-col-2 .one-third {
  width: 39%; }
  .form-book-travel .grid-col-2 .one-third .select__label {
    max-width: 90px; }
  .form-book-travel .grid-col-2 .one-third .select__text {
    padding-left: 107px; }
  .form-book-travel .grid-col-2 .one-third + .one-third {
    width: 27%; }
    .form-book-travel .grid-col-2 .one-third + .one-third .select__text {
      padding-left: 58px; }
    .form-book-travel .grid-col-2 .one-third + .one-third + .one-third {
      width: 34%; }
      .form-book-travel .grid-col-2 .one-third + .one-third + .one-third .select__label {
        max-width: 68px; }
      .form-book-travel .grid-col-2 .one-third + .one-third + .one-third .select__text {
        padding-left: 86px; }

.hero figcaption .hero__text {
  line-height: 38px; }
  .hero figcaption .hero__text strong {
    font-size: 36px;
    line-height: 1; }

/*# sourceMappingURL=main_de_DE.css.map */