/* Fontface */
@font-face {
  font-family: 'sia';
  src: url('../fonts/sia.eot');
  src: url('../fonts/sia.eot?#iefix') format('embedded-opentype'), url('../fonts/sia.woff') format('woff'), url('../fonts/sia.ttf') format('truetype'), url('../fonts/sia.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-1';
  src: url('../fonts/sia-1.eot');
  src: url('../fonts/sia-1.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-1.woff') format('woff'), url('../fonts/sia-1.ttf') format('truetype'), url('../fonts/sia-1.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-2';
  src: url('../fonts/sia-2.eot');
  src: url('../fonts/sia-2.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-2.woff') format('woff'), url('../fonts/sia-2.ttf') format('truetype'), url('../fonts/sia-2.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-amenities';
  src: url('../fonts/sia-amenities.eot');
  src: url('../fonts/sia-amenities.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-amenities.woff') format('woff'), url('../fonts/sia-amenities.ttf') format('truetype'), url('../fonts/sia-amenities.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-map';
  src: url('../fonts/sia-map.eot?cbq5t9');
  src: url('../fonts/sia-map.eot?cbq5t9#iefix') format('embedded-opentype'), url('../fonts/sia-map.ttf?cbq5t9') format('truetype'), url('../fonts/sia-map.woff?cbq5t9') format('woff'), url('../fonts/sia-map.svg?cbq5t9#sia-3') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-meals';
  src: url('../fonts/sia-meals.eot?egg8fi');
  src: url('../fonts/sia-meals.eot?egg8fi#iefix') format('embedded-opentype'), url('../fonts/sia-meals.ttf?egg8fi') format('truetype'), url('../fonts/sia-meals.woff?egg8fi') format('woff'), url('../fonts/sia-meals.svg?egg8fi#sia-meals') format('svg');
  font-weight: normal;
  font-style: normal; }

/* End fontface */
/* Style for seatmap */
.seatmap-columnletter, .seatmap-columnletter-empty {
  color: #333333;
  position: relative;
  float: left; }

.seatmap-galley, .seatmap-exit {
  border: 1px solid #dedede;
  text-transform: uppercase;
  border-radius: 3px;
  -webkit-transition: all 400ms ease 0s;
  -moz-transition: all 400ms ease 0s;
  -o-transition: all 400ms ease 0s;
  transition: all 400ms ease 0s; }

.seatmap {
  position: relative;
  text-align: center;
  padding-bottom: 40px; }

.seatmap-content {
  position: relative;
  text-align: center;
  font-size: 16px; }

.seatmap-cabin {
  padding-top: 33px;
  display: block;
  clear: both;
  position: relative; }

.seatmap-cabin-row {
  position: relative;
  display: block;
  text-align: center;
  zoom: 1; }
  .seatmap-cabin-row:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }

.seatmap-cabin-exit {
  margin-top: 15px; }
  .seatmap-cabin-exit .seatmap-row-block {
    margin-top: 20px; }
  .seatmap-cabin-exit .seatmap-rownum {
    top: auto;
    bottom: 18px; }


.seatmap-columnletter-empty {
  visibility: hidden; }

.seatmap-rownum {
  position: absolute;
  top: 0;
  margin: 5px;
  color: #333333; }

.seatmap-toprow .seatmap-rownum {
  visibility: hidden; }

.seatmap-row-block {
  display: inline-block;
  position: relative;
  text-align: center;
  vertical-align: top; }
  .seatmap-row-block.al-l {
    text-align: left; }
  .seatmap-row-block.al-r {
    text-align: right; }
  .seatmap-row-block.al-c {
    text-align: center; }
  .seatmap-row-block.al-x .seat-empty {
    display: inline-block;
    visibility: hidden; }

.seat-inner-galley.seat-inner-bassinet .seatmap-rownum {
  top: 0; }

.has-space-forbass.seat-inner-bassinet .seatmap-row-block {
  vertical-align: top; }
.has-space-forbass.seat-inner-bassinet .seat-aisle {
  height: auto; }
.has-space-forbass.seat-inner-bassinet .seatmap-rownum {
  top: 0; }

.seatmap-facility-lift.seat-has-facility [data-replace].seatmap-row-block, .seat-inner-bassinet.seat-has-facility [data-replace].seatmap-row-block, .seat-row-hasexit.has-space-forbass.seatmap-facility-lift.seat-has-facility [data-replace].seatmap-row-block, .seat-row-hasexit.seat-inner-bassinet.seat-has-facility [data-replace].seatmap-row-block {
  vertical-align: top; }
.seatmap-facility-lift .seatmap-row-block, .seat-inner-bassinet .seatmap-row-block, .seat-row-hasexit.has-space-forbass.seatmap-facility-lift .seatmap-row-block, .seat-row-hasexit.seat-inner-bassinet .seatmap-row-block {
  vertical-align: bottom; }
.seatmap-facility-lift.seatmap-facility-row .seatmap-row-block, .seat-inner-bassinet.seatmap-facility-row .seatmap-row-block, .seat-row-hasexit.has-space-forbass.seatmap-facility-lift.seatmap-facility-row .seatmap-row-block, .seat-row-hasexit.seat-inner-bassinet.seatmap-facility-row .seatmap-row-block {
  vertical-align: top; }

.seat-inner-galley.seatmap-facility-lift .seatmap-rownum {
  top: 0; }
.seat-inner-galley.seatmap-facility-lift .seatmap-row-block {
  vertical-align: top; }

.has-space-forbass.seat-row-hasexit.seat-inner-galley .seatmap-rownum, .has-bassinet-hit.has-transfer-facility.seat-inner-galley .seatmap-rownum {
  top: 45px; }
.has-space-forbass.seat-row-hasexit.seat-inner-galley .seatmap-row-block.next-colgrp-hasbassinet, .has-bassinet-hit.has-transfer-facility.seat-inner-galley .seatmap-row-block.next-colgrp-hasbassinet {
  vertical-align: top; }

.has-space-forbass.seat-row-hasexit.seat-inner-galley + .has-nospace.seat-inner-bassinet .seat-aisle, .has-bassinet-hit.has-transfer-facility.seat-inner-galley + .has-nospace.has-bassinet-hit .seat-aisle {
  height: auto; }
.has-space-forbass.seat-row-hasexit.seat-inner-galley + .has-nospace.seat-inner-bassinet .seatmap-rownum, .has-bassinet-hit.has-transfer-facility.seat-inner-galley + .has-nospace.has-bassinet-hit .seatmap-rownum {
  top: 0; }
.has-space-forbass.seat-row-hasexit.seat-inner-galley + .has-nospace.seat-inner-bassinet .seatmap-row-block, .has-bassinet-hit.has-transfer-facility.seat-inner-galley + .has-nospace.has-bassinet-hit .seatmap-row-block {
  vertical-align: top; }

.seat-inner-galley.seat-inner-bassinet.seatmap-facility-lift .seatmap-rownum {
  top: 45px; }
.seat-inner-galley.seat-inner-bassinet.seatmap-facility-lift .seatmap-row-block {
  vertical-align: bottom; }

.seatmap-lift-transfer-facility .seatmap-galley, .colgrp-has-transfac.next-colgrp-hasbassinet .seatmap-galley {
  -webkit-transform: translateY(-45px);
  -ms-transform: translateY(-45px);
  transform: translateY(-45px); }

.colgrp-exit:first-child {
  text-align: left; }
.colgrp-exit:last-child {
  text-align: right; }
.colgrp-exit .seatmap-exit {
  position: relative;
  display: inline-block;
  text-align: center;
  top: auto;
  margin: 5px; }

.seatmap-galley {
  text-align: center;
  background-color: #dedede;
  clear: both; }
  .seatmap-galley em {
    font-size: 17px;
    margin: 0; }
    .seatmap-galley em.ico-1-toilet {
      font-size: 21px; }
    .seatmap-galley em:before {
      margin: 0;
      vertical-align: middle; }

.seatmap-exit {
  display: block;
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  border-color: #00cc0a;
  color: #00cc0a;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center; }

.seat-deck {
  position: absolute;
  z-index: 1;
  top: 70px;
  display: none; }
  .seat-deck.active {
    position: relative;
    display: inline-block;
    top: auto;
    left: auto; }

.seat-deck-nav {
  display: none;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-top: 30px; }
  .seat-deck-nav.on {
    display: block; }

.seat-deck-tabs {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  padding: 0; }
  .seat-deck-tabs .tab-item {
    height: 36px;
    position: relative;
    display: inline-block;
    background-color: #ccc; }
    .seat-deck-tabs .tab-item a {
      color: #333333;
      font-size: 14px;
      line-height: 37px;
      padding: 0 35px;
      display: block; }
    .seat-deck-tabs .tab-item:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px; }
    .seat-deck-tabs .tab-item:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px; }
    .seat-deck-tabs .tab-item.active {
      background-color: #3d588c;
      -webkit-box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.2);
      box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.2); }
      .seat-deck-tabs .tab-item.active a {
        color: #fff; }

.seat-char-bassinet {
  -webkit-transition: all 400ms ease 0s;
  -moz-transition: all 400ms ease 0s;
  -o-transition: all 400ms ease 0s;
  transition: all 400ms ease 0s;
  position: relative;
  vertical-align: middle; }
  .seat-char-bassinet:before {
    font-family: "sia-1";
    content: '\e602';
    font-size: 33px;
    color: #333333;
    position: absolute;
    top: -120%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }

.seat {
  display: inline-block;
  cursor: pointer;
  vertical-align: bottom;
  text-align: center;
  font-style: normal;
  outline: 0;
  border-radius: 3px;
  color: #00266b;
  background-color: #fff; }
  .seat.seat-empty {
    display: none; }


.seat-aisle {
  display: inline-block;
  vertical-align: top;
  min-height: 1px;
  width: 25px; }

.seat-selected {
  background-color: #fe9500;
  color: #fff; }

.seat-occupied {
  background-color: #00266b;
  color: #00266b;
  cursor: default; }

.seat-status li {
  display: block;
  overflow: hidden;
  list-style: none;
  margin-bottom: 10px; }
  .seat-status li [class^="ico-"] {
    cursor: default; }
  .seat-status li .ico-1-info-round-fill {
    cursor: pointer; }
.seat-status span {
  line-height: 32px;
  vertical-align: middle;
  display: inline-block; }
.seat-status em {
  font-size: 22px;
  line-height: 32px;
  margin-right: 18px;
  margin-left: 5px;
  color: #333333; }
  .seat-status em:before {
    margin: 0; }
.seat-status .seat {
  line-height: 20px;
  width: 20px;
  height: 20px;
  font-size: 12px;
  margin-right: 18px;
  cursor: default;
  vertical-align: top; }
.seat-status .ico-1-seat-windowless {
  width: 20px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  margin-right: 18px;
  border-radius: 3px;
  cursor: default;
  background-color: #fff;
  text-align: center;
  border: 1px solid #ccc;
  color: #ccc; }
.seat-status .ico-1-info-round-fill {
  font-size: 18px;
  color: #ccc;
  margin-right: 0;
  margin-left: 8px; }
  .seat-status .ico-1-info-round-fill:before {
    display: block; }

.seat-click {
  border-color: #002261; }

.seat-equipped {
  overflow: hidden;
  padding: 23px 20px 14px;
  background-color: #fff;
  zoom: 1; }
  .seat-equipped:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }

.seat-equipped-item {
  line-height: 27px;
  word-spacing: 2px;
  text-align: left;
  color: #666; }
  .seat-equipped-item em {
    color: #666;
    margin-right: 5px; }
    .seat-equipped-item em:before {
      display: block; }
  .seat-equipped-item [class^="ico-"] {
    cursor: default; }
  .seat-equipped-item .ico-1-plug-in, .seat-equipped-item .ico-change-seat {
    font-size: 20px;
    vertical-align: -2px; }
  .seat-equipped-item .ico-1-television, .seat-equipped-item .ico-1-screen, .seat-equipped-item .ico-bed, .seat-equipped-item .ico-1-flat-bed {
    font-size: 22px;
    vertical-align: -5px; }
  .seat-equipped-item .ico-1-flat-bed {
    font-size: 25px;
    margin-top: -1px; }

.seat-preselected {
  background-color: #aaa;
  color: #fff; }
  .seat-preselected.seat-selected {
    background-color: #fe9500; }

.no-overflow {
  overflow: hidden; }

.seatsmap-page .tabs--1 > .tab {
  margin: 35px 0 33px; }
.seatsmap-page .blk-heading {
  padding-top: 0;
  z-index: 2; }
  .seatsmap-page .blk-heading .sub-heading-3--dark {
    line-height: 30px;
    margin-bottom: 10px; }
  .seatsmap-page .blk-heading .sub-text-1 {
    padding-top: 7px;
    line-height: 17px;
    color: #666;
    clear: both; }
.seatsmap-page .checkin-alert {
  margin-top: 25px;
  margin-bottom: 0; }

.form-seatmap {
  position: relative; }
  .form-seatmap .select__label {
    max-width: 114px; }

.seatmap--business .seatmap-cabin-row, .seatmap--first .seatmap-cabin-row {
  margin-bottom: 0; }
.seatmap--business .seatmap-exit, .seatmap--first .seatmap-exit {
  margin: 10px; }
.seatmap--business .has-transfer-facility .colgrp-exit .seatmap-exit, .seatmap--first .has-transfer-facility .colgrp-exit .seatmap-exit {
  margin-top: 5px;
  margin-bottom: 5px; }

.form-seat-confirm {
  overflow: hidden; }

.seat-bg {
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
  position: absolute;
  top: 0px;
  bottom: 0px; }

.seatmap-wings {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px; }
  .seatmap-wings.seatmap-wingstart {
    height: 140px;
    bottom: auto; }
    .seatmap-wings.seatmap-wingstart .seatmap-wingtip {
      bottom: -2px; }
  .seatmap-wings.seatmap-wingstart:before, .seatmap-wings.seatmap-wingstart:after {
    bottom: 15px;
    -webkit-box-shadow: -2px 0px 8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -2px 0px 8px rgba(0, 0, 0, 0.1);
    box-shadow: -2px 0px 8px rgba(0, 0, 0, 0.1); }
  .seatmap-wings.seatmap-wingend {
    top: auto;
    bottom: 0; }
    .seatmap-wings.seatmap-wingend .seatmap-wing-content:after {
      border-top-right-radius: 0;
      -webkit-box-shadow: 6px 0 10px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 6px 0 10px rgba(0, 0, 0, 0.1);
      box-shadow: 6px 0 10px rgba(0, 0, 0, 0.1); }
    .seatmap-wings.seatmap-wingend .seatmap-wing-content:before {
      border-top-left-radius: 0;
      -webkit-box-shadow: -6px 0 10px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: -6px 0 10px rgba(0, 0, 0, 0.1);
      box-shadow: -6px 0 10px rgba(0, 0, 0, 0.1); }

.seatmap-wing-content {
  position: relative;
  background: #f7f7f7;
  height: 100%; }
  .seatmap-wing-content:before, .seatmap-wing-content:after {
    content: "";
    width: 50%;
    z-index: -1;
    border-radius: 10%/116%;
    position: absolute;
    top: 10px;
    bottom: 10px; }
  .seatmap-wing-content:after {
    left: 50%;
    right: 0;
    -webkit-box-shadow: 8px 0px 8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 8px 0px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 8px 0px 8px rgba(0, 0, 0, 0.1); }
  .seatmap-wing-content:before {
    left: 0;
    right: 50%;
    -webkit-box-shadow: -8px 0px 8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -8px 0px 8px rgba(0, 0, 0, 0.1);
    box-shadow: -8px 0px 8px rgba(0, 0, 0, 0.1); }

.seatmap-wingtip {
  height: 100px;
  position: absolute; }
  .seatmap-wingtip.left {
    right: 100%;
    left: -35px; }
    .seatmap-wingtip.left img {
      float: right; }
  .seatmap-wingtip.right {
    left: 100%;
    right: -35px; }
    .seatmap-wingtip.right img {
      float: left; }

.generic-seatsmap-page .blk-heading {
  position: relative;
  clear: both; }
.generic-seatsmap-page .seat {
  cursor: default; }

.seatmap--generic {
  text-align: left; }
  .seatmap--generic .seatmap-content {
    background: #fff;
    border-bottom: 2px solid #ccc; }
  .seatmap--generic .sub-heading-2--grey {
    text-align: left; }
  .seatmap--generic .note-text {
    margin-top: 20px;
    font-size: 14px;
    text-align: left; }
  .seatmap--generic .seatmap__select-label {
    font-size: 15px;
    color: #333;
    text-transform: uppercase; }
  .seatmap--generic .custom-select--seat .select__text {
    left: 130px; }

.type-seatmap {
  margin-top: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
  background-color: #f7f7f7; }
  .type-seatmap .type-seatmap-item {
    padding: 5px 0;
    display: inline-block;
    background-color: #f7f7f7; }
  .type-seatmap:before, .type-seatmap:after {
    content: "";
    width: 40px;
    height: 100%;
    opacity: 0.2;
    filter: alpha(opacity=20);
    z-index: 1; }
  .type-seatmap:before {
    -webkit-box-shadow: -10px 0px 15px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -10px 0px 15px 0px rgba(0, 0, 0, 0.5);
    box-shadow: -10px 0px 15px 0px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 60px; }
  .type-seatmap:after {
    -webkit-box-shadow: 10px 0px 15px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 0px 15px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 10px 0px 15px 0px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0px;
    right: 60px;
    bottom: 0px; }

.leftWing {
  text-align: left; }

.rightWing {
  text-align: right; }

.galley-less .seatmap-galley, .galley-less-2 .seatmap-galley {
  margin-left: auto;
  margin-right: auto; }

.deselect-on .seat-selected {
  cursor: default; }

.seat-terms-conditions {
  margin-left: -20px;
  margin-bottom: 96px;
  color: #000; }
  .blk-heading + .seat-terms-conditions {
    margin-top: 30px; }
  .seat-terms-conditions .level-top > li {
    margin-top: 25px;
    padding-left: 5px; }
    .seat-terms-conditions .level-top > li:first-child {
      margin-top: 0; }
  .seat-terms-conditions .level-top ul + p {
    margin-top: 25px; }
  .seat-terms-conditions li {
    line-height: 1.3em; }
  .seat-terms-conditions .list-unstyled > li {
    margin-top: 8px; }
  .seat-terms-conditions .custom-list-style > li {
    position: relative;
    padding-left: 26px; }
    .seat-terms-conditions .custom-list-style > li > span:first-child {
      position: absolute;
      left: 0;
      top: 0; }

/* End seatmap */
.seat, .seatmap-columnletter, .seatmap-columnletter-empty {
  line-height: 35px;
  width: 35px;
  height: 35px;
  margin: 5px;
  border: 1px solid transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .seatmap--business .seat, .seatmap--business .seatmap-columnletter, .seatmap--business .seatmap-columnletter-empty, .seatmap--first .seat, .seatmap--first .seatmap-columnletter, .seatmap--first .seatmap-columnletter-empty {
    margin-left: 10px;
    margin-right: 10px; }
  .seatmap--business .seat, .seatmap--business .seatmap-columnletter, .seatmap--business .seatmap-columnletter-empty {
    width: 60px; }
  .seatmap--first .seat, .seatmap--first .seatmap-columnletter, .seatmap--first .seatmap-columnletter-empty {
    width: 68px; }

.seatmap-galley {
  font-size: 11px;
  height: 33px;
  line-height: 33px;
  margin: 5px;
  border: solid 1px transparent; }
  .seatmap-galley.icon-only em:before, .seatmap-galley.has-handicap em:before {
    vertical-align: top;
    line-height: 33px; }
  .seatmap--business .seatmap-galley, .seatmap--first .seatmap-galley {
    margin-left: 10px;
    margin-right: 10px; }

.seat {
  font-size: 16px;
  border-color: #ccc; }



.seatmap-exit {
  width: 78px;
  height: 33px;
  font-size: 11px;
  line-height: 33px; }
  .seatmap-exit.left {
    left: 5px;
    right: auto;
    margin-left: 0; }
  .seatmap-exit.right {
    right: 5px;
    left: auto;
    margin-right: 0; }
  .seatmap--business .seatmap-exit {
    width: 58px; }
    .seatmap--business .seatmap-exit.left {
      left: 10px; }
    .seatmap--business .seatmap-exit.right {
      right: 10px; }
  .seatmap--first .seatmap-exit {
    width: 66px; }
    .seatmap--first .seatmap-exit.left {
      left: 10px; }
    .seatmap--first .seatmap-exit.right {
      right: 10px; }

.seatmap-row-block[data-col="1"] {
  width: 45px; }
  .seatmap--business .seatmap-row-block[data-col="1"] {
    width: 80px; }
  .seatmap--first .seatmap-row-block[data-col="1"] {
    width: 88px; }
.seatmap-row-block[data-col="2"] {
  width: 90px; }
  .seatmap--business .seatmap-row-block[data-col="2"] {
    width: 160px; }
  .seatmap--first .seatmap-row-block[data-col="2"] {
    width: 176px; }
.seatmap-row-block[data-col="3"] {
  width: 135px; }
  .seatmap--business .seatmap-row-block[data-col="3"] {
    width: 240px; }
  .seatmap--first .seatmap-row-block[data-col="3"] {
    width: 264px; }
.seatmap-row-block[data-col="4"] {
  width: 180px; }
  .seatmap--business .seatmap-row-block[data-col="4"] {
    width: 320px; }
  .seatmap--first .seatmap-row-block[data-col="4"] {
    width: 352px; }

.galley-less[data-col="4"] .seatmap-galley {
  width: 168px; }
  .seatmap--business .galley-less[data-col="4"] .seatmap-galley {
    width: 298px; }
  .seatmap--first .galley-less[data-col="4"] .seatmap-galley {
    width: 330px; }
.galley-less[data-col="3"] .seatmap-galley {
  width: 78px; }
  .seatmap--business .galley-less[data-col="3"] .seatmap-galley {
    width: 138px; }
  .seatmap--first .galley-less[data-col="3"] .seatmap-galley {
    width: 154px; }
.galley-less[data-col="2"] .seatmap-galley {
  width: 33px; }
  .seatmap--business .galley-less[data-col="2"] .seatmap-galley {
    width: auto; }
  .seatmap--first .galley-less[data-col="2"] .seatmap-galley {
    width: 66px; }

.galley-less-2[data-col="4"] .seatmap-galley {
  width: 78px; }
  .seatmap--business .galley-less-2[data-col="4"] .seatmap-galley {
    width: 138px; }
  .seatmap--first .galley-less-2[data-col="4"] .seatmap-galley {
    width: 154px; }
.galley-less-2[data-col="3"] .seatmap-galley {
  width: 33px; }
  .seatmap--business .galley-less-2[data-col="3"] .seatmap-galley {
    width: 58px; }
  .seatmap--first .galley-less-2[data-col="3"] .seatmap-galley {
    width: 66px; }

.galley-less.leftWing .seatmap-galley, .galley-less.rightWing .seatmap-galley, .galley-less-2.leftWing .seatmap-galley, .galley-less-2.rightWing .seatmap-galley {
  width: auto;
  margin-left: 5px;
  margin-right: 5px; }

/* Style for Conditions */
.title-5 {
  font-weight: 600;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  color: #000; }

.conditions__wrap {
  margin-top: 44px; }
  .conditions__wrap .print-btn {
    margin-top: 25px; }
    .conditions__wrap .print-btn .ico-print {
      font-size: 16px;
      margin-right: 5px; }
  .conditions__wrap .accordion__content {
    padding: 0 35px 5px 25px;
    color: #000;
    line-height: 1.3; }
    .conditions__wrap .accordion__content p:first-child {
      margin-top: 0; }

.accordion__wrap {
  margin-top: 30px; }

.list-type-disc li {
  list-style-type: disc;
  text-indent: 0;
  list-style-position: outside;
  margin-left: 35px; }
  .list-type-disc li > span {
    line-height: 25px; }
  .list-type-disc li.last {
    margin-bottom: 0; }

.list-unstyled li {
  list-style: none; }

.list-style-1 {
  margin-bottom: 15px; }
  .list-style-1 li ul {
    padding-left: 30px; }
    .list-style-1 li ul li {
      margin: 15px 0; }
      .list-style-1 li ul li:first-child {
        margin-top: 0; }

/* End conditions */
/* Style for booking summary panel */
.booking-summary {
  z-index: 4;
  background-color: #fff;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.08); }
  .booking-summary.active .booking-summary__control .ico-point-d {
    margin-top: -8px; }
  .booking-summary.booking-summary--fixed {
    position: fixed;
    z-index: 4;
    top: 5px; }
  .booking-summary.disable {
    top: 5px; }
    .booking-summary.disable .booking-summary__control {
      cursor: default; }
      .booking-summary.disable .booking-summary__control .ico-point-d:before {
        display: none; }
    .booking-summary.disable .total-cost, .booking-summary.disable .total-miles {
      display: none; }
  .booking-summary .text-miles {
    float: left;
    margin: 0 0 6px;
    line-height: normal; }
    .booking-summary .text-miles a {
      margin: 0 3px;
      font-size: 14px;
      line-height: 1em;
      color: #ccc;
      cursor: pointer; }
  .booking-summary ul {
    list-style: none; }
  .booking-summary [data-tabindex] {
    overflow: hidden; }

.booking-summary__control {
  position: relative;
  display: block;
  padding: 10px;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  background-color: #00266b;
  outline: none;
  -webkit-transition: all 400ms ease 0s;
  -moz-transition: all 400ms ease 0s;
  -o-transition: all 400ms ease 0s;
  transition: all 400ms ease 0s; }
  .booking-summary__control .ico-point-d {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -5px;
    z-index: 1;
    font-size: 10px; }

.booking-summary__info {
  padding: 12px 15px 11px;
  background-color: #fff; }
  .booking-summary__info .number-passengers {
    margin: 0;
    font-size: 14px;
    color: #333; }
  .booking-summary__info .total-cost {
    margin: 0;
    font-family: "baker-signet-web", serif;
    font-size: 24px;
    line-height: 1;
    color: #00266b; }
    .booking-summary__info .total-cost span {
      clear: both;
      display: block; }
      .booking-summary__info .total-cost span.unit {
        text-transform: uppercase; }

.booking-summary .link-4 {
  font-size: 11px;
  line-height: 1.2; }

.booking-heading {
  overflow: hidden; }
  .booking-heading > h3 {
    float: left;
    max-width: 50%;
    font-weight: 700;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    font-size: 13px;
    color: #00266b;
    text-transform: uppercase; }
  .booking-heading > .link-4 {
    float: right;
    margin-top: 2px; }

.booking-summary__content {
  display: none;
  padding: 0 10px;
  background-color: #fff;
  position: relative; }
  .booking-summary__content .cta-group {
    border-top: 1px solid #e7e7e7;
    padding: 15px 0 16px; }
  .booking-summary__content .booking-summary__control-bottom {
    position: absolute;
    right: 8px;
    bottom: 15px;
    color: #00266b; }
  .booking-summary__content .bsp-wcag {
    font-size: 0;
    display: inline; }

.flights-info-heading {
  overflow: hidden;
  margin-bottom: 5px; }
  .flights-info-heading > h4 {
    line-height: 1;
    float: left;
    font-weight: 700;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    font-size: 11px;
    color: #666;
    text-transform: uppercase; }
  .flights-info-heading > span {
    float: right;
    font-size: 11px;
    color: #333; }

.flights-info {
  margin: 18px 0 0; }
  .flights-info .flights-info__country {
    clear: both;
    overflow: hidden;
    height: 25px;
    background: #e7e7e7 url("../images/bgd-arrow-left.png") 50% 50% no-repeat; }
    .flights-info .flights-info__country > span {
      width: 50%;
      padding: 4px 0;
      float: left;
      text-align: center; }

.flights-cost-title {
  overflow: hidden;
  line-height: 1;
  margin: 14px 0;
  font-weight: 700;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 11px;
  color: #333;
  text-transform: uppercase; }

.flights-cost__details {
  overflow: hidden; }
  .flights-cost__details > li {
    display: block;
    overflow: hidden;
    margin-bottom: 10px;
    font-size: 11px;
    color: #666; }
    .flights-cost__details > li > span {
      float: right; }
      .flights-cost__details > li > span:first-child {
        float: left;
        width: 65%; }
    .flights-cost__details > li.addon--item {
      position: relative; }
      .flights-cost__details > li.addon--item .delete-btn {
        position: absolute;
        right: 0; }
      .flights-cost__details > li.addon--item .ico-close-round-fill {
        color: #ff0000; }
        .flights-cost__details > li.addon--item .ico-close-round-fill:before {
          line-height: 1.2em; }
    .flights-cost__details > li.sub-total > span {
      font-weight: 700;
      font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
      font-size: 11px;
      line-height: 20px; }
      .flights-cost__details > li.sub-total > span:first-child {
        width: 40%; }
    .flights-cost__details > li.sub-total .miles, .flights-cost__details > li.sub-total .price {
      font-weight: normal;
      font-size: 16px;
      clear: right;
      text-align: right; }
    .flights-cost__details > li.sub-total .price {
      text-transform: uppercase; }
    .flights-cost__details > li.sub-total .miles {
      display: block;
      text-transform: none; }
    .flights-cost__details > li.sub-total-1 .price {
      font-size: 11px; }
  .flights-cost__details .grand-price {
    font-weight: 700;
    margin-top: 3px; }
    .flights-cost__details .grand-price span {
      color: #000;
      font-size: 13px; }
      .flights-cost__details .grand-price span:first-child {
        width: 50%; }
      .flights-cost__details .grand-price span.price {
        text-transform: uppercase; }

.booking-summary--1 .flights-cost__details > li.sub-total.sub-total-2 span:first-child {
  font-weight: bold;
  text-transform: none; }
.booking-summary--1 .flights-cost__details > li.sub-total.sub-total-2 .price {
  font-family: "baker-signet-web", serif; }

.grand-total {
  overflow: hidden;
  clear: both; }
  .grand-total .total-title {
    margin-top: 20px;
    text-align: right;
    margin-bottom: 0;
    font-size: 12px; }
  .grand-total.grand-charge .total-title {
    margin-top: 0; }
  .grand-total + .flights-cost__details {
    margin-top: 15px; }
  .grand-total .total-info {
    display: block;
    font-family: "baker-signet-web", serif;
    font-size: 24px;
    line-height: 1;
    color: #00266b;
    text-align: right;
    margin-top: 15px;
    margin-bottom: 10px; }
    .grand-total .total-info span {
      clear: both;
      display: block; }
      .grand-total .total-info span.unit {
        text-transform: uppercase; }
    .grand-total .total-info .grand-sub-title {
      text-align: right;
      margin-top: 5px;
      font-weight: 400;
      font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
      font-size: 12px;
      color: #666; }
  .grand-total > p.info-charge {
    color: #666;
    font-size: 11px;
    text-align: right; }

.total-title {
  display: block;
  font-weight: 700;
  font-size: 10px;
  color: #666;
  text-transform: uppercase; }

.list-miles > li {
  overflow: hidden;
  font-size: 10px;
  line-height: 21px;
  color: #666; }
  .list-miles > li > span {
    float: right;
    line-height: 21px;
    text-transform: uppercase; }

.miles-note {
  margin-top: 10px; }
  .miles-note > li {
    overflow: hidden;
    font-size: 10px;
    color: #666;
    position: relative;
    z-index: 0;
    padding-left: 10px; }
    .miles-note > li .list-miles__order {
      position: absolute;
      left: 0;
      top: 0; }
    .miles-note > li .text-miles {
      max-width: 60%;
      margin-bottom: 4px; }
      .miles-note > li .text-miles + span {
        max-width: 40%;
        float: right; }

.booking-group {
  position: relative;
  padding: 17px 0 12px;
  border-top: 1px solid #e7e7e7; }
  .booking-group .flights-info:first-child {
    margin-top: 13px; }
  .booking-group > .link-4 {
    position: absolute;
    top: 17px;
    right: 0;
    width: 50%;
    text-align: right;
    margin-top: 2px; }

.booking-summary .booking-group:first-child {
  padding-bottom: 20px; }
.booking-summary .grand-total .payment-currency-text {
  margin: 4px 0 6px;
  font-size: 13px;
  color: #000;
  display: block;
  font-weight: 700;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif; }
  .booking-summary .grand-total .payment-currency-text + .info-charge {
    margin-top: 0; }

.flights-cost__sub-total, .flights-cost__sub-title {
  zoom: 1; }
  .flights-cost__sub-total:after, .flights-cost__sub-title:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }
  .flights-cost__sub-total span, .flights-cost__sub-title span {
    float: right; }

.flights-cost-title {
  margin-bottom: 8px; }
  .flights-cost-title.flights-cost-title--1 {
    margin-top: 0; }

.flights-cost .flights-cost__sub-title {
  margin: 16px 0 7px; }

.flights-cost__sub-total {
  font-size: 11px;
  margin: 0; }

.flights-miles-title {
  text-transform: none; }

.flights-cost + .flights-cost .flights-cost-title {
  margin-top: 8px; }

.booking-summary--style-1 {
  top: -15px; }
  .booking-summary--style-1.booking-summary--fixed, .form-flight-search .booking-summary--style-1 {
    top: 5px; }
  .booking-summary--style-1 .price {
    text-transform: uppercase; }
  .booking-summary--style-1 .booking-summary__info .total-cost, .booking-summary--style-1 .booking-summary__info .total-miles, .booking-summary--style-1 .grand-total .total-miles, .booking-summary--style-1 .grand-total .total-info {
    font-size: 21px; }
  .booking-summary--style-1 .price-plus {
    display: inline;
    font-size: 0.7em;
    float: none; }
  .booking-summary--style-1 .booking-summary__info {
    padding-bottom: 8px; }
  .booking-summary--style-1 .booking-summary .booking-group:first-child {
    padding-top: 15px; }
  .booking-summary--style-1 .flights-cost__details > li {
    margin-bottom: 7px; }
  .booking-summary--style-1 .grand-total .total-title {
    margin-bottom: 3px; }
  .booking-summary--style-1 .flights-cost-title .text-right {
    text-transform: none; }

/* End booking summary panel */
.miles-info {
  list-style: none; }
  .miles-info > li .miles-info--item {
    font-weight: 600;
    font-size: 14px;
    color: #00266b; }

.info-card {
  font-size: 16px;
  color: #ccc; }

.list-cards {
  list-style: none; }
  .list-cards > li {
    display: inline-block; }

.wrap-payment-convert {
  overflow: hidden;
  padding-top: 10px; }
  .wrap-payment-convert .custom-checkbox--1 label {
    font-size: 18px;
    color: #000; }
  .wrap-payment-convert .form-inline {
    float: left; }
    .wrap-payment-convert .form-inline .price-input {
      padding-right: 10px; }
    .wrap-payment-convert .form-inline .input-1, .wrap-payment-convert .form-inline .custom-select {
      color: #000; }
    .wrap-payment-convert .form-inline .custom-select.disabled {
      background: #fff; }
  .wrap-payment-convert > span.left {
    margin: 13px 8px 0 4px;
    font-size: 11px; }
  .wrap-payment-convert .total-convert {
    float: left;
    margin: 15px 0 0 20px;
    font-family: "baker-signet-web", serif;
    font-size: 24px;
    color: #000; }

.payment-currency {
  padding: 30px 20px;
  background-color: #e5e9f0; }
  .payment-currency.disabled .wrap-payment-convert .input-1 input {
    color: #999; }
  .payment-currency.disabled .wrap-payment-convert .custom-select--2 .select__text {
    color: #999; }
  .payment-currency > ul {
    margin: 25px 0 10px 18px; }
    .payment-currency > ul > li {
      line-height: 20px;
      color: #000; }
  .payment-currency .custom-checkbox--1 label {
    font-size: 18px;
    line-height: normal; }
  .payment-currency .custom-checkbox--1 input + label:before, .payment-currency .custom-checkbox--1 input + label:after {
    top: 3px; }

.payments-detail .payments-heading {
  border-bottom: 1px solid #ccc; }

.payments-heading .custom-checkbox input + label {
  font-size: 18px; }

.krisflyer-account .custom-checkbox {
  margin-top: 15px; }
  .krisflyer-account .custom-checkbox label {
    font-size: 14px;
    color: #777; }

.cta-group {
  padding: 20px 0;
  list-style: none; }

.terms-conditions {
  margin-bottom: 40px;
  padding: 14px 20px 20px;
  background-color: #e5e9f0; }
  .terms-conditions .terms-detail p {
    color: #000;
    margin-top: 20px; }
    .terms-conditions .terms-detail p:first-child {
      margin-top: 10px; }
  .terms-conditions .grid-row {
    margin-top: 0;
    margin-bottom: 0; }
  .terms-conditions .custom-checkbox input + label {
    margin-bottom: 0; }
  .terms-conditions.tier-match-steps p, .terms-conditions.tier-match-steps ul {
    color: #000; }
  .terms-conditions.tier-match-steps ul {
    margin-left: 17px;
    margin-bottom: 20px; }
    .terms-conditions.tier-match-steps ul + p {
      margin-bottom: 0; }
  .terms-conditions.tier-match-steps li {
    margin-bottom: 5px; }
    .terms-conditions.tier-match-steps li:last-child {
      margin-bottom: 0; }

.slider--2 {
  position: relative;
  padding: 10px 35px 38px; }
  .slider--2 .ico-plus, .slider--2 .ico-minus {
    display: inline-block;
    width: 29px;
    height: 28px;
    position: absolute;
    top: -8px;
    z-index: 1;
    border: 1px solid #dfdfdf;
    font-size: 11px;
    line-height: 28px;
    color: #a9a9a9;
    text-align: center;
    -webkit-box-shadow: 0 2px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 0px rgba(0, 0, 0, 0.3);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    font-weight: bold;
    cursor: pointer; }
    .slider--2 .ico-plus:before, .slider--2 .ico-minus:before {
      margin-top: 9px; }
  .slider--2 .ico-minus {
    left: -35px; }
  .slider--2 .ico-plus {
    right: -35px; }
  .slider--2 .stripe-1, .slider--2 .stripe-2 {
    display: block;
    width: 4px;
    height: 15px;
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: #dbe0e8; }
  .slider--2 .stripe-1 {
    left: 25%; }
  .slider--2 .stripe-2 {
    left: 75%; }
  .slider--2 .line-bottom {
    position: absolute;
    display: block;
    height: 5px;
    left: 10px;
    right: 10px;
    bottom: -7px;
    background: url("../images/slider-line-bg.png") repeat-x; }
  .slider--2 .ui-slider {
    background-color: #b6c0d1;
    border: none;
    border-bottom: 1px solid #a8b1c1; }

.payments-group__slider .pattern {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  vertical-align: middle; }
  .payments-group__slider .pattern.blue-bgd {
    background-color: #00266b; }
  .payments-group__slider .pattern.grey-bgd {
    background-color: #e2e2e2; }
.payments-group__slider .info {
  font-size: 14px;
  color: #333;
  border-top: 1px solid #f2f2f2; }
  .payments-group__slider .info .cta-group {
    padding: 0;
    margin-top: 27px; }
  .payments-group__slider .info .grid-row {
    padding: 10px 0; }
  .payments-group__slider .info .label {
    line-height: 30px; }
  .payments-group__slider .info .value strong {
    font-family: "baker-signet-web", serif;
    font-weight: normal;
    font-size: 24px; }
.payments-group__slider .total .label {
  padding-left: 37px;
  font-weight: 700;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif; }
.payments-group__slider .total .value {
  color: #00266b; }

.payments-group__charge {
  overflow: hidden; }
  .payments-group__charge .info-card {
    position: absolute;
    left: 103px;
    z-index: 3; }
  .payments-group__charge .complete-fields .info-card {
    position: absolute;
    left: auto;
    right: -25px;
    top: 0; }
  .payments-group__charge .complete-fields .number-cvv label {
    position: relative; }
  .payments-group__charge .grid-row {
    margin-top: 20px; }
    .payments-group__charge .grid-row .grid-inner {
      position: relative; }
    .payments-group__charge .grid-row.grid-row--review {
      margin-top: 0; }
      .payments-group__charge .grid-row.grid-row--review span {
        display: block; }
  .payments-group__charge p {
    margin-top: 0;
    font-size: 16px;
    line-height: 24px;
    color: #333; }
    .payments-group__charge p.note {
      font-size: 13px;
      color: #666; }
    .payments-group__charge p.text-error {
      color: #ff0000;
      margin-top: 0; }
  .payments-group__charge fieldset:first-child + fieldset {
    margin-top: 29px;
    padding-top: 24px;
    border-top: 1px solid #f2f2f2; }
  .payments-group__charge fieldset:first-child label {
    font-size: 15px;
    line-height: 17px; }
    .global-manage-booking .payments-group__charge fieldset:first-child label {
      font-size: 15px;
      line-height: 17px; }
  .payments-group__charge fieldset > .link-4 {
    margin-top: 15px; }
  .payments-group__charge .type-card {
    margin-right: 15px;
    margin-top: -6px; }
  .payments-group__charge .list-cards {
    margin: 5px 0 15px; }
  .payments-group__charge .form-group-inner > .form-group {
    margin: 0; }
  .payments-group__charge .krisflyer-account {
    margin: 0 0 5px; }
    .payments-group__charge .krisflyer-account .form-group:first-child {
      margin-top: 26px; }
    .payments-group__charge .krisflyer-account .custom-checkbox--1 {
      display: block;
      cursor: default; }
  .payments-group__charge .complete-fields {
    margin-top: 24px;
    display: none; }
    .payments-group__charge .complete-fields.active {
      display: block; }
  .payments-group__charge .add-clear-text {
    outline: none; }
  .payments-group__charge .terms-conditions .grid-row {
    margin-top: 0; }

.payments-detail__form {
  overflow: hidden; }
  .payments-detail__form .secure-flight .payments-inner .grid-row:first-child {
    margin-top: 0; }
    .payments-detail__form .secure-flight .payments-inner .grid-row:first-child span {
      display: block;
      margin-top: 10px; }
  .payments-detail__form .form-group label {
    margin-bottom: 10px; }
  .payments-detail__form .grid-inner.grid-inner--min-height {
    min-height: 47px; }
  .payments-detail__form .terms-conditions {
    margin-top: 40px; }
  .payments-detail__form .custom-checkbox--1 {
    display: inline-block;
    line-height: 20px; }

.general-flight {
  position: relative; }
  .general-flight .sub-heading-1--dark {
    margin: 22px 0 23px; }
  .general-flight .main-intro {
    overflow: hidden;
    margin-top: 15px;
    padding-right: 0; }
    .general-flight .main-intro .payment-text {
      margin: 1em 0; }

.payments-page .main-intro .sub-heading-1--dark + p {
  font-size: 14px; }
.payments-page .general-flight .sub-heading-1--dark {
  margin: 0 0 31px; }

.table-allocation {
  width: 100%; }
  .table-allocation tr td {
    padding: 10px 0;
    color: #333; }
  .table-allocation tr.type-1 td {
    border-bottom: 1px solid #ededed;
    padding-bottom: 25px; }
  .table-allocation tr.type-1 + tr td {
    padding-top: 25px; }

.title-1, .title-2, .text-bold {
  font-weight: 700;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 14px; }

.title-1, .text-bold-1 {
  text-transform: uppercase;
  color: #000; }
  .title-1 > span, .text-bold-1 > span {
    color: #b2b2b2; }

.title-2, .text-bold {
  color: #333; }

.list-allocation > li {
  display: block;
  overflow: hidden;
  margin: 5px 0; }
  .list-allocation > li span {
    float: right;
    font-size: 14px;
    font-weight: normal;
    color: #666; }
    .list-allocation > li span:first-child {
      float: left; }

.table-allocation--cost tr td {
  padding: 2px 0; }
.table-allocation--cost tr.type-1 td {
  border-bottom: none; }
.table-allocation--cost tr.type-1 + tr td {
  padding-top: 0; }
.table-allocation--cost tr.type-1 + tr.subtotal td {
  padding-top: 20px; }
.table-allocation--cost .subtotal {
  font-weight: 700;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif; }
  .table-allocation--cost .subtotal td {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-top: 20px;
    padding-bottom: 20px; }

.cost-breakdown {
  margin-bottom: 20px; }

.terms-conditions .cta-group li {
  margin-bottom: 5px; }

.ancillary-sales .list-desc-extra {
  padding-top: 10px; }
  .ancillary-sales .list-desc-extra .item-desc {
    padding-left: 0;
    padding-right: 0;
    margin: 0 20px; }
.ancillary-sales .content-wrapper {
  overflow: visible; }
.ancillary-sales .complete-fields {
  margin-top: 0; }
.ancillary-sales .payments-detail__form {
  margin-top: -40px; }
.ancillary-sales .payments-group__charge.ancillary-sales .payments-inner .grid-row {
  margin-top: 0; }
.ancillary-sales .payments-group__charge.ancillary-sales fieldset:first-child label {
  font-size: 18px; }
.ancillary-sales .payments-group__charge .custom-checkbox--1 {
  display: block;
  margin-bottom: 15px; }
.ancillary-sales .payments-group__charge .available, .ancillary-sales .payments-group__charge .expiri {
  font-weight: 600;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  color: #00266b;
  display: inline-block; }
.ancillary-sales .payments-group__charge .available, .ancillary-sales .payments-group__charge .expiri {
  margin-left: 23px;
  display: block; }
.ancillary-sales .payments-group__charge .desciption {
  font-weight: 400;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  margin-left: 23px;
  margin-top: 15px;
  color: #000000; }
.ancillary-sales .payments-detail {
  margin-top: 10px; }
.ancillary-sales .payments-group__charge.payments-group__charge--as .payment-currency {
  margin-top: 0; }
.ancillary-sales .payments-group__charge.payments-group__charge--as .note-sales {
  margin-bottom: 10px; }
.ancillary-sales .payments-group__charge.payments-group__charge--as .payments-inner--title {
  overflow: hidden; }
  .ancillary-sales .payments-group__charge.payments-group__charge--as .payments-inner--title .note-sales {
    font-weight: 600;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    font-size: 18px;
    color: #00266b;
    display: block;
    margin-bottom: 0; }
  .ancillary-sales .payments-group__charge.payments-group__charge--as .payments-inner--title .list-cards {
    position: relative; }
    .ancillary-sales .payments-group__charge.payments-group__charge--as .payments-inner--title .list-cards .info-card {
      right: -5px; }
.ancillary-sales .payments-group__charge.payments-group__charge--as .note-spec-sales span {
  color: #2e77fd; }
.ancillary-sales .payments-group__charge.payments-group__charge--as .one-three {
  width: 33.33333%; }
.ancillary-sales .payments-group__charge.payments-group__charge--as .number-cvv {
  margin-top: -28px; }

.list-desc-extra .item-desc {
  padding: 40px 20px;
  border-top: 1px solid #ccc;
  overflow: hidden; }
  .list-desc-extra .item-desc .text {
    max-width: 525px; }
  .list-desc-extra .item-desc .image {
    border: 1px solid #ccc;
    margin-top: 14px; }
  .list-desc-extra .item-desc .agoda {
    padding: 24px 15px; }
  .list-desc-extra .item-desc .rentalcar {
    padding: 34px 7px 36px 7px; }
.list-desc-extra .title {
  font-weight: 600;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  color: #00266b;
  margin-bottom: 15px; }
.list-desc-extra .charge {
  font-weight: 400;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  color: #000000; }
.list-desc-extra .price {
  font-weight: 700;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  color: #00266b;
  text-transform: uppercase;
  margin-left: 10px; }
.list-desc-extra .desc {
  font-weight: 400;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 0; }

.payments-group__charge .block-content-payments-inner label {
  color: #00266b;
  font-weight: 600; }
.payments-group__charge .block-content-payments-inner .desciption {
  margin-top: 10px;
  font-weight: 600; }

.print-btn .ico-print {
  font-size: 17px;
  margin-right: 5px; }

.heading-wrap .print-btn {
  margin-top: 10px; }
.heading-wrap.type-1 .sub-heading-2--dark {
  margin-top: 5px; }

.heading-wrap {
  position: relative;
  overflow: hidden; }
  .heading-wrap.type-2 {
    text-transform: uppercase; }
    .heading-wrap.type-2 .sub-heading-3--dark {
      color: #000; }

.content-wrapper .main-intro {
  padding-right: 0; }
  .content-wrapper .main-intro p {
    margin: 0;
    line-height: 24px; }
  .content-wrapper .main-intro .note {
    margin-top: 24px; }
  .content-wrapper .main-intro .sub-heading-1--dark + p {
    line-height: 20px;
    margin-bottom: 21px; }

.paid-item .paid-text, .paid-item .carat, .paid-item .plus {
  display: block; }
.paid-item .paid-text {
  font-weight: 600;
  font-size: 16px;
  color: #333; }
.paid-item .carat, .paid-item .plus {
  font-family: "baker-signet-web", serif;
  color: #00266b;
  font-size: 24px; }
.paid-item .carat {
  margin-top: 5px; }
.paid-item .payment-currency-text {
  font-weight: 400;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  color: #666; }

.paid-block {
  overflow: hidden;
  margin-top: 10px; }
  .paid-block .paid-item {
    float: left; }

.booking-reference__item {
  clear: both;
  overflow: hidden;
  margin-bottom: 35px; }
  .booking-reference__item .link-4 {
    float: left;
    margin-top: 10px; }
  .booking-reference__item .flights__info--group, .booking-reference__item .info-passengers-group, .booking-reference__item .trave-insurance {
    overflow: hidden;
    background-color: #f7f7f7; }
  .booking-reference__item .text-kris {
    color: black;
    padding-top: 25px;
    clear: both; }

.booking-reference__item .heading-wrap {
  margin-bottom: 20px; }

.booking-reference__item--1 > .sub-heading-2--dark {
  margin-bottom: 25px; }
.booking-reference__item--1 .heading-wrap {
  margin-top: 32px; }
  .booking-reference__item--1 .heading-wrap:first-child {
    margin-top: 0; }
.booking-reference__item--1 .booking-reference__item__content {
  overflow: hidden; }
.booking-reference__item--1 .info-passengers-group .info-passengers {
  padding: 20px 20px 15px;
  border-bottom: 2px solid #fff; }
.booking-reference__item--1 .info-passengers-group .flights__info--detail .ico-airplane-lift {
  right: 90px; }

.cib-confirmation-page .main-intro {
  margin: 34px 0 23px; }

.booking-reference .warning-block {
  margin-top: 15px; }

.pref-bag.type-1 {
  clear: both;
  position: relative; }
  .pref-bag.type-1 .number-pref > span {
    position: absolute;
    left: 21px;
    top: 50%;
    margin-top: -9px;
    font-weight: 700;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    color: #fff; }
  .pref-bag.type-1 .number-pref .ico-business, .pref-bag.type-1 .number-pref .ico-baggage, .pref-bag.type-1 .number-pref .ico-business-1 {
    margin: 0; }

.title-3 {
  font-family: "baker-signet-web", serif;
  font-size: 10px;
  color: #000;
  text-transform: uppercase;
  font-weight: bold; }

.account-summary {
  color: #000; }
  .account-summary .title-3, .account-summary .title-6--dark {
    margin-bottom: 8px; }
  .account-summary p {
    margin: 0; }
    .account-summary p > span {
      font-family: "baker-signet-web", serif;
      font-size: 24px; }

.trave-insurance p {
  font-size: 16px;
  margin: 5px 0 7px; }
.trave-insurance .travel-text [class^="ico-"] {
  color: #23bd2d;
  margin-left: 0;
  margin-right: 6px; }
  .trave-insurance .travel-text [class^="ico-"]:before {
    margin-left: 0; }
.trave-insurance .print-btn {
  margin-top: 10px; }

.account-summary__group .account-summary {
  float: left; }

.account-summary__group--1 {
  overflow: hidden; }
  .account-summary__group--1 .title-2 {
    font-size: 13px;
    color: #666; }

.krisflyer-booking p {
  margin-top: 0;
  line-height: 20px;
  color: #000; }
.krisflyer-booking.detail-image {
  background: url("../images/earn-krisflyer-bgd.png") no-repeat center 100%;
  background-size: cover; }

.earn-krisflyer .block-2 {
  padding: 20px;
  color: #000; }
  .earn-krisflyer .block-2 p {
    margin: 0;
    line-height: 1.5em; }
.earn-krisflyer .text-grey {
  font-weight: normal;
  margin-top: 10px;
  line-height: 1.5em; }

.before-fly__items {
  overflow: hidden;
  padding: 20px;
  border-top: 1px solid #e5e5e5;
  background-color: #fff; }
  .before-fly__items .wrap-icon {
    position: relative;
    z-index: 2;
    float: left;
    margin-top: 7px; }
    .before-fly__items .wrap-icon [class^="ico"] {
      font-size: 50px;
      line-height: 0.8;
      color: #ccc; }
    .before-fly__items .wrap-icon img {
      margin-left: -10px; }
  .before-fly__items .before-fly-link {
    font-weight: bold;
    color: #333; }

.before-fly__group .before-fly__items:first-child {
  border-top: 0; }

.before-fly__items-details {
  position: relative;
  z-index: 1;
  padding-left: 90px;
  padding-right: 20px;
  color: #333; }
  .before-fly__items-details p {
    margin: 5px 0;
    line-height: 20px; }
  .before-fly__items-details .link-point {
    position: absolute;
    right: -5px;
    top: 50%;
    margin-top: -7.5px;
    line-height: 0.9;
    color: #000; }
    .before-fly__items-details .link-point .ico-point-r:before {
      font-weight: bold; }
    .touch .before-fly__items-details .link-point {
      padding: 10px 5px 10px 10px;
      margin-top: -17.5px;
      right: -10px; }

.main-intro .block-content-payments-inner .note {
  margin-top: 10px;
  margin-left: 23px; }

/*# sourceMappingURL=modules__1.css.map */