/* Fontface */
@font-face {
  font-family: 'sia';
  src: url('../fonts/sia.eot');
  src: url('../fonts/sia.eot?#iefix') format('embedded-opentype'), url('../fonts/sia.woff') format('woff'), url('../fonts/sia.ttf') format('truetype'), url('../fonts/sia.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-1';
  src: url('../fonts/sia-1.eot');
  src: url('../fonts/sia-1.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-1.woff') format('woff'), url('../fonts/sia-1.ttf') format('truetype'), url('../fonts/sia-1.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-2';
  src: url('../fonts/sia-2.eot');
  src: url('../fonts/sia-2.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-2.woff') format('woff'), url('../fonts/sia-2.ttf') format('truetype'), url('../fonts/sia-2.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-amenities';
  src: url('../fonts/sia-amenities.eot');
  src: url('../fonts/sia-amenities.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-amenities.woff') format('woff'), url('../fonts/sia-amenities.ttf') format('truetype'), url('../fonts/sia-amenities.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-map';
  src: url('../fonts/sia-map.eot?cbq5t9');
  src: url('../fonts/sia-map.eot?cbq5t9#iefix') format('embedded-opentype'), url('../fonts/sia-map.ttf?cbq5t9') format('truetype'), url('../fonts/sia-map.woff?cbq5t9') format('woff'), url('../fonts/sia-map.svg?cbq5t9#sia-3') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-meals';
  src: url('../fonts/sia-meals.eot?egg8fi');
  src: url('../fonts/sia-meals.eot?egg8fi#iefix') format('embedded-opentype'), url('../fonts/sia-meals.ttf?egg8fi') format('truetype'), url('../fonts/sia-meals.woff?egg8fi') format('woff'), url('../fonts/sia-meals.svg?egg8fi#sia-meals') format('svg');
  font-weight: normal;
  font-style: normal; }

/* End fontface */
.info-passengers--style-1 .pref-seat .number-seat {
  background-color: #ff9f00; }

.info-passengers--style-2 .info-passengers__detail .pref-bag:first-child {
  margin-top: 0; }

.info-passengers--style-1 .info-passengers__flight .title, .info-passengers--style-2 .info-passengers__flight .title {
  color: #00266b; }

.account-summary__group-1 .before-fly-link {
  margin-bottom: 8px; }

.text-dark.type-1 {
  font-size: 16px; }

.orb-add-ons .main-inner > .blk-heading .main-heading, .seatsmap-page .main-inner > .blk-heading .main-heading {
  float: left; }

.orb-confirmation-page .blk-heading .main-heading {
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  padding-bottom: 26px;
  margin-bottom: 41px; }
.orb-confirmation-page .blk-heading.block--shadow .main-heading {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding-bottom: 0;
  margin-bottom: 0; }
.orb-confirmation-page .general-flight {
  margin-top: 0; }

.orb-flight-schedule .main-inner > .blk-heading {
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  padding-bottom: 26px;
  margin-bottom: 41px; }

.orb-payments-page .main-intro .sub-heading-1--dark + p {
  font-size: 16px; }
.orb-payments-page .payments-group__charge fieldset:first-child + fieldset {
  border-top-color: #cdcdcd; }

.popup--flights-details .flights-target__content, .popup--flights-details .info-passengers--style-1 {
  background-color: #f7f7f7; }
.popup--flights-details .flights-target--2 .sub-heading-3--dark {
  margin-bottom: 15px;
  padding-top: 30px; }
  .popup--flights-details .flights-target--2 .sub-heading-3--dark:first-child {
    padding-top: 0; }

.popup--flights-details--1 .flights-target--2 .title-1 {
  font-family: "baker-signet-web", serif;
  font-size: 24px;
  text-transform: none;
  font-weight: 500; }
.popup--flights-details--1 .flights-target--3 .title-1 {
  padding: 20px 0;
  font-family: "baker-signet-web", serif;
  font-size: 21px;
  font-weight: 500; }
  .popup--flights-details--1 .flights-target--3 .title-1:first-child {
    padding-top: 0; }
.popup--flights-details--1 .flights-target--3 .info-passengers__flight .title, .popup--flights-details--1 .flights-target--3 .info-passengers__flight span {
  padding-left: 0; }
.popup--flights-details--1 .grand-total .total-info span:first-child {
  display: inline; }

/* Style for Add ons */
.add-ons-page [data-tabindex] {
  overflow: hidden; }

.table-baggage {
  width: 100%;
  border-collapse: separate;
  background-color: #f7f7f7; }
  .table-baggage td {
    padding: 25px 5px 25px 15px;
    color: #000;
    text-align: left; }
  .table-baggage .weight span {
    display: block; }
  .table-baggage .weight .add {
    font-weight: 700;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif; }
  .table-baggage .baggage-1 .custom-checkbox {
    margin-top: 18px; }
  .table-baggage .number-baggage {
    position: relative;
    float: left; }
  .table-baggage .number {
    position: absolute;
    top: 20px;
    font-size: 14px;
    color: #fff;
    width: 100%;
    left: 0;
    text-align: center; }
  .table-baggage .ico-baggage {
    font-size: 52px;
    color: #00266b;
    line-height: 0;
    font-style: normal; }
  .table-baggage .weight {
    float: left;
    margin-top: 10px;
    margin-left: 5px; }
    .table-baggage .weight .price {
      display: none; }
  .table-baggage .custom-checkbox {
    float: left; }
    .table-baggage .custom-checkbox input + label {
      margin-right: 0; }
  .table-baggage .ico-tooltips {
    float: left;
    margin-top: -3px; }
    .table-baggage .ico-tooltips.disabled {
      cursor: default;
      color: #e7e7e4; }
  .table-baggage .border-row > td {
    border-top: 1px solid #dfdfdd; }

.addon-item .accordion__control {
  border-top: 1px solid #ccc;
  color: #00266b;
  padding: 14px 20px;
  font-size: 24px; }
  .addon-item .accordion__control .ico-point-r {
    top: 50%;
    right: 20px; }
.addon-item .add-ons-item-added + .accordion__control {
  padding-top: 0;
  border-top: none; }

.hotel-list {
  border: 1px solid #ccc;
  margin-top: 10px; }
  .hotel-list .tabs--1 .tab-content {
    padding-top: 25px; }
  .hotel-list .says {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important; }
  .hotel-list.item-added-content {
    border: none; }

.hotel-infor__title .sub-heading-2--blue {
  font-weight: 600;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 16px; }
.hotel-infor__title .desc p {
  font-weight: 400;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: black; }
.hotel-infor__title .rating-block .ico-star {
  font-size: 18px;
  margin-left: -2px; }

.price-room .total-title {
  font-weight: 400;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  text-transform: inherit; }
.price-room .total-cost {
  font-size: 24px;
  color: #00266b; }
.price-room.price-room--1 {
  display: none; }

.addons-landing-content .addon-item .head-hotel {
  padding: 0; }

.addon-item .hotel-infor {
  table-layout: auto; }
.addon-item .head-hotel {
  border-top: none; }
  .addon-item .head-hotel .slider-hotel {
    visibility: hidden;
    overflow: hidden;
    width: 0;
    height: 0; }
    .addon-item .head-hotel .slider-hotel .flexslider--5 {
      position: relative; }
      .addon-item .head-hotel .slider-hotel .flexslider--5 .slick-next, .addon-item .head-hotel .slider-hotel .flexslider--5 .slick-prev {
        z-index: 2;
        margin-top: -20px; }
  .addon-item .head-hotel.active .hotel-infor {
    padding: 20px 0 22px 20px; }
  .addon-item .head-hotel.active .hotel-infor__content {
    padding: 0 60px 0 20px;
    width: 60%; }
  .addon-item .head-hotel.active figure {
    display: none; }
  .addon-item .head-hotel.active .slider-hotel {
    visibility: visible;
    height: 215px;
    width: 300px; }
  .addon-item .head-hotel.active .price-room--1 {
    display: block; }
  .addon-item .head-hotel.active .price-room--2 {
    display: none; }
  .addon-item .head-hotel.active .ico-point-r {
    top: 50px; }

.policy-hotel-room .policy-title {
  font-size: 16px;
  color: #00266b;
  font-weight: 700;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif; }
.policy-hotel-room .head-policy {
  margin-top: 30px; }
  .policy-hotel-room .head-policy .desc {
    margin-top: 20px; }
    .policy-hotel-room .head-policy .desc p {
      font-size: 14px;
      font-weight: 400;
      font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
      color: black; }
.policy-hotel-room .content-policy .title {
  font-size: 16px;
  font-weight: 700;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  color: black;
  margin-top: 30px; }

.hotel-block .button-group {
  text-align: center; }
.hotel-block .note {
  margin-top: 10px; }
  .hotel-block .note p {
    color: black; }
.hotel-block .terms-conditions {
  margin-top: 20px;
  margin-bottom: 20px; }
  .hotel-block .terms-conditions.added-room span {
    display: block; }
.hotel-block .see-more-btn {
  margin-bottom: 20px; }

.list-policy {
  list-style: none;
  margin-top: 10px; }
  .list-policy li {
    font-size: 14px;
    color: black;
    margin-top: 10px; }
    .list-policy li:first-child {
      margin-top: 0; }
    .list-policy li span {
      color: #666; }

.list-policy-1 {
  list-style: none;
  margin-top: 30px; }
  .list-policy-1 li {
    margin-top: 10px;
    position: relative;
    padding-left: 10px;
    color: black; }
    .list-policy-1 li:before {
      content: '.';
      position: absolute;
      top: -3px;
      left: 0; }
    .list-policy-1 li:first-child {
      margin-top: 0; }

.hotel-added-wrapper .list-link {
  float: right; }
  .hotel-added-wrapper .list-link li {
    float: left;
    margin-left: 30px; }
    .hotel-added-wrapper .list-link li a {
      font-size: 13px; }
    .hotel-added-wrapper .list-link li:first-child {
      margin-left: 0; }
  .hotel-added-wrapper .list-link .ico-point-r {
    font-size: 8px; }

/* End Add on */
legend {
  display: none; }

.form-general {
  padding-top: 25px; }
  .form-general .custom-radio--1 {
    margin-left: 20px;
    float: left; }
    .form-general .custom-radio--1:first-child {
      margin-left: 0; }
    .form-general .custom-radio--1 + .custom-radio--1 {
      margin-left: 25px; }
  .form-general .form-group .custom-radio label {
    margin-bottom: 0;
    font-size: 14px; }
  .form-general .form-group label {
    margin-bottom: 5px; }
  .form-general .form-group .custom-checkbox label {
    display: inline-block; }
  .form-general ul {
    padding: 0; }
    .form-general ul li {
      list-style: none; }

.form-global label {
  margin-bottom: 10px;
  font-size: 15px; }
.form-global .grid-inner label {
  display: block; }
.form-global .form-group {
  margin-top: 20px; }
  .form-global .form-group:first-child {
    margin-top: 0; }
.form-global .button-group-1 {
  margin-top: 40px; }
.form-global .custom-select--2 .select__text {
  padding-left: 13px; }
  .form-global .custom-select--2 .select__text input {
    padding-left: 13px; }

.multi-city-page .form-group--tooltips {
  margin-top: 20px; }

.form-general.form-krisshop {
  padding-top: 0; }
  .form-general.form-krisshop .title-5 {
    margin-bottom: 15px; }
  .form-general.form-krisshop .form-group {
    margin-bottom: 5px; }
  .form-general.form-krisshop .button-group-1 {
    margin-top: 28px; }

.form-partner-add .form-group .custom-select label {
  max-width: 137px; }
.form-partner-add .form-group .grid-col:first-child label {
  max-width: 68px; }

.form-book-travel .custom-checkbox--1 {
  float: left; }
.form-book-travel .custom-radio {
  margin-left: 37px; }
.form-book-travel .form-group--inline {
  padding-bottom: 10px;
  margin-bottom: 0; }

.form-book-travel .grid-row-1 {
  margin-bottom: 0; }
  .form-book-travel .grid-row-1 .text-error {
    top: -7px; }

.form-packages .form-group--select-tips {
  margin-bottom: 29px; }

.grid-row-1 .grid-inner {
  margin-bottom: 10px; }

.grid-col-1 {
  width: 100%; }
  .grid-col-1 .one-half {
    width: 100%; }

.grid-col-2 {
  width: 100%; }
  .grid-col-2 .one-third {
    float: left; }

.form-flight-status .form-group--1 .text-error, .form-manage-booking .text-error, .form-check-in .text-error {
  padding-left: 0;
  padding-right: 0; }

.form-manage-booking, .form-check-in {
  display: none; }
  .form-manage-booking.active, .form-check-in.active {
    display: block; }
  .form-manage-booking .radio-tooltips--1 .ico-arrow-up, .form-check-in .radio-tooltips--1 .ico-arrow-up {
    left: 237px; }
  .form-manage-booking fieldset > .link-4, .form-check-in fieldset > .link-4 {
    margin-top: 7px; }

.form-manage-booking .ico-user {
  padding-left: 0; }

.form-check-in .radio-tooltips--1 .ico-arrow-up {
  left: 275px; }

.form-flight-status {
  display: none; }
  .form-flight-status.active {
    display: block; }
  .form-flight-status .form-group--not-label .select__text {
    left: 15px; }
  .form-flight-status .form-group--2 .select__text, .form-flight-status .form-group--2 .input-1 {
    padding-left: 15px; }
  .form-flight-status .radio-tooltips--1 .ico-arrow-up {
    left: 215px; }

.datepicker-holder {
  position: absolute;
  bottom: -9px;
  left: 0;
  background: url("../images/transparent.png") repeat 0 0;
  border: none;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: -1; }

.form--login .form-group--1 {
  margin-bottom: 25px; }
.form--login .custom-checkbox--1 {
  float: left; }
.form--login .link-2 {
  float: right;
  color: #666;
  font-size: 14px;
  background: none; }
.form--login .login-hr {
  margin-top: 12px;
  margin-bottom: 12px;
  text-align: center; }
  .form--login .login-hr > span {
    background-color: #fff;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 10px; }
.form--login .btn-3.btn-full .ico-social-facebook {
  margin-top: -2px; }

.popup--login .form--login {
  padding-top: 10px; }
  .popup--login .form--login .link-4 {
    margin-top: 9px;
    clear: both; }
  .popup--login .form--login .form-group-wrapper {
    display: none; }
    .popup--login .form--login .form-group-wrapper.active {
      display: block; }

.form--login-1 .form-group--1 {
  margin-top: 0;
  text-align: center; }
  .form--login-1 .form-group--1 .custom-checkbox--1 {
    display: inline-block; }

.form--language .form-group label {
  margin-left: 0; }
.form--language .custom-select--2 {
  clear: both; }
  .form--language .custom-select--2 img {
    position: absolute;
    top: 8px;
    left: 15px;
    z-index: 1;
    -webkit-box-shadow: 1px 1px #cecece;
    -moz-box-shadow: 1px 1px #cecece;
    box-shadow: 1px 1px #cecece; }
  .form--language .custom-select--2 li img {
    position: static;
    margin-right: 10px;
    display: inline-block;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
.form--language .select__text {
  z-index: 2;
  color: #000;
  font-size: 14px;
  border: none;
  overflow: visible;
  right: 0;
  font-weight: 400;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif; }
.form--language .ico-cancel-thin {
  display: none;
  font-size: 10px;
  top: 50%;
  right: 38px;
  margin-top: -5px;
  line-height: 1;
  position: absolute;
  cursor: pointer;
  color: #000; }
.form--language .custom-radio--1 {
  width: 50%;
  margin-left: 0;
  margin-bottom: 15px;
  height: 20px; }
  .form--language .custom-radio--1 label {
    margin-left: 0;
    display: inline-block; }
  .form--language .custom-radio--1 + .custom-radio--1 {
    margin-left: 0; }
.form--language .form-group .custom-checkbox--1 {
  margin-top: 10px; }

.form--boarding-1 .table-default {
  padding-top: 0; }
.form--boarding-1 .input-1 {
  padding-left: 15px; }

.form--boarding-2 .input-1 {
  padding-left: 15px; }

.form--boarding-1 .table-col-1, .form--boarding-2 .table-col-1, .form--boarding-3 .table-col-1 {
  padding-top: 31px; }

.form--account-update .custom-checkbox--1, .form--account-update-1 .custom-checkbox--1 {
  line-height: 40px; }

.form--email-confirm {
  padding-top: 0; }
  .form--email-confirm .input-1 {
    padding-left: 15px; }

.form--email-address .table-col-1, .form--email-confirm .table-col-1 {
  width: 7%;
  line-height: 43px; }
.form--email-address .table-col-2, .form--email-confirm .table-col-2 {
  width: 93%; }

.form--check-available .form-wrapper {
  margin-top: 10px; }
  .form--check-available .form-wrapper .one-half {
    width: 100%; }

.popup .form--phone-number-1 .table-default {
  padding-top: 20px; }

.form--email-address .input-1, .form--phone-number-1 .input-1 {
  padding-left: 15px; }
.form--email-address .table-default, .form--phone-number-1 .table-default {
  padding-top: 20px;
  margin-bottom: 0; }
.form--email-address .table-content--1, .form--phone-number-1 .table-content--1 {
  height: 315px;
  margin-right: -10px;
  padding-right: 10px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }
  .windows-phone .form--email-address .table-content--1, .windows-phone .form--phone-number-1 .table-content--1 {
    -ms-overflow-style: -ms-autohiding-scrollbar; }
  .form--email-address .table-content--1 .table-row:first-child .table-col, .form--phone-number-1 .table-content--1 .table-row:first-child .table-col {
    padding-top: 0; }

.form--phone-number-1 .table-content--1 {
  height: auto;
  max-height: 280px; }

.form--phone-number .custom-checkbox label {
  color: #777; }
.form--phone-number .table-col-1 {
  line-height: 40px; }
.form--phone-number .input-1 {
  padding-left: 15px; }
.form--phone-number .custom-select--2 .select__text, .form--phone-number .custom-select--2 .select__text input {
  padding-left: 13px; }

.form--phone-number-1 .table-default {
  margin-bottom: 40px; }
.form--phone-number-1 .table-col-2 {
  width: 95%; }

.form--cancel-flight .custom-checkbox--1, .form--cancel-flight .success-text, .form--success-flight .custom-checkbox--1, .form--success-flight .success-text, .form--cancel-flight-confirm .custom-checkbox--1, .form--cancel-flight-confirm .success-text, .form--checkin-cancel-confirm .custom-checkbox--1, .form--checkin-cancel-confirm .success-text {
  text-transform: uppercase; }
  .form--cancel-flight .custom-checkbox--1 .default, .form--cancel-flight .success-text .default, .form--success-flight .custom-checkbox--1 .default, .form--success-flight .success-text .default, .form--cancel-flight-confirm .custom-checkbox--1 .default, .form--cancel-flight-confirm .success-text .default, .form--checkin-cancel-confirm .custom-checkbox--1 .default, .form--checkin-cancel-confirm .success-text .default {
    text-transform: capitalize; }
.form--cancel-flight .custom-checkbox-all, .form--cancel-flight .success-header, .form--success-flight .custom-checkbox-all, .form--success-flight .success-header, .form--cancel-flight-confirm .custom-checkbox-all, .form--cancel-flight-confirm .success-header, .form--checkin-cancel-confirm .custom-checkbox-all, .form--checkin-cancel-confirm .success-header {
  font-weight: 700;
  font-size: 16px;
  text-transform: none;
  line-height: 45px; }
.form--cancel-flight .popup__text-intro--2, .form--success-flight .popup__text-intro--2, .form--cancel-flight-confirm .popup__text-intro--2, .form--checkin-cancel-confirm .popup__text-intro--2 {
  padding-left: 21.5px; }
.form--cancel-flight .sub-heading-3--dark, .form--success-flight .sub-heading-3--dark, .form--cancel-flight-confirm .sub-heading-3--dark, .form--checkin-cancel-confirm .sub-heading-3--dark {
  margin-bottom: 10px; }

.form-search {
  position: relative;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px; }
  .form-search input {
    line-height: 20px;
    padding: 8px 30px 11px 13px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .form-search input::-webkit-input-placeholder {
      color: #c2c2c2;
      font-size: 14px;
      font-weight: 400;
      font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif; }
    .form-search input:-moz-placeholder {
      color: #c2c2c2;
      font-size: 14px;
      font-weight: 400;
      font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif; }
    .form-search input::-moz-placeholder {
      color: #c2c2c2;
      font-size: 14px;
      font-weight: 400;
      font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif; }
    .form-search input:-ms-input-placeholder {
      color: #c2c2c2;
      font-size: 14px;
      font-weight: 400;
      font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif; }
  .form-search .btn-search {
    height: 38px;
    line-height: 18px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0; }

.form-search-result .input-1 {
  position: relative; }
.form-search-result input {
  height: 40px;
  padding: 7px 30px 7px 13px;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .form-search-result input::-webkit-input-placeholder {
    color: #c2c2c2;
    font-size: 14px;
    font-weight: 400;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif; }
  .form-search-result input:-moz-placeholder {
    color: #c2c2c2;
    font-size: 14px;
    font-weight: 400;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif; }
  .form-search-result input::-moz-placeholder {
    color: #c2c2c2;
    font-size: 14px;
    font-weight: 400;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif; }
  .form-search-result input:-ms-input-placeholder {
    color: #c2c2c2;
    font-size: 14px;
    font-weight: 400;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif; }

.btn-search {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  width: 40px; }
  .btn-search .ico-search {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 18px;
    margin-top: -11px;
    width: 40px;
    z-index: -1;
    text-align: center;
    color: #666; }
  .btn-search input {
    font-weight: 400;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    font-size: 14px;
    height: 38px;
    line-height: 18px;
    padding: 0;
    width: 100%;
    background: url("../images/transparent.png") no-repeat;
    border: none;
    outline: none;
    text-indent: -99999px; }

.custom-checkbox--1 label span {
  text-transform: capitalize; }

.search-flight-2 .text-error {
  padding-left: 10px;
  padding-right: 0; }

.form-krisflyer-filter .custom-select--2 .select__text {
  padding-left: 0;
  left: 100px; }
.form-krisflyer-filter .form-group {
  margin-bottom: 20px; }
.form-krisflyer-filter .grid-col .one-half .select__label {
  max-width: 80px; }
.form-krisflyer-filter .grid-col .one-half:first-child .select__text {
  left: 50px; }
.form-krisflyer-filter .grid-col .one-half:first-child .select__label {
  max-width: 45px; }

.form-fare-filter {
  margin-bottom: 5px; }
  .form-fare-filter .select__text {
    padding-right: 25px; }
  .form-fare-filter .btn-1 {
    letter-spacing: 0; }
  .form-fare-filter .col-trip-type .select__label {
    max-width: 65px; }
  .form-fare-filter .col-trip-type .select__text {
    padding-left: 85px; }
  .form-fare-filter.form-promotion--enhance .select__label {
    max-width: 120px;
    color: #666; }
  .form-fare-filter.form-promotion--enhance .select__text {
    padding-left: 140px; }

.form-fare-filter-city .price-range {
  float: left; }

.widget-edit-search .grid-col-2 {
  padding-bottom: 30px; }

.widget-edit-search-ssh .form-wrapper {
  padding-bottom: 10px;
  margin-top: 20px; }
  .widget-edit-search-ssh .form-wrapper .grid-col.last .grid-inner {
    padding-right: 0; }
.widget-edit-search-ssh .sub-heading-3--dark {
  margin-bottom: 20px; }
  .widget-edit-search-ssh .sub-heading-3--dark .add-stopover {
    float: right;
    font-weight: 400;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif; }
.widget-edit-search-ssh .group-input .has-select__tips {
  padding-bottom: 0; }

.group-input + .group-input {
  margin-top: 20px; }

.multi-city-page .blk-heading {
  padding-bottom: 21px; }

.form--toggle-search {
  display: none; }
  .form--toggle-search.active {
    display: block; }
  .form--toggle-search .form-group {
    margin-bottom: 25px; }
    .form--toggle-search .form-group.grid-row {
      margin-bottom: 58px; }
    .form--toggle-search .form-group.form-group--tooltips {
      margin-bottom: 26px; }
    .form--toggle-search .form-group.form-group--info {
      margin-bottom: 27px; }
      .form--toggle-search .form-group.form-group--info p {
        font-size: 14px;
        color: #000;
        line-height: 20px; }
  .form--toggle-search .button-group.btn-add-flight {
    margin-bottom: 50px; }
  .form--toggle-search .form-group--info {
    padding-right: 240px;
    font-size: 14px;
    line-height: 20px;
    color: #000; }
    .form--toggle-search .form-group--info p {
      margin: 0; }
  .form--toggle-search .right {
    margin-top: 20px; }

.form--stopover .table-default--1 {
  margin-bottom: 40px;
  background-color: #f7f7f7; }
.form--stopover .table-row {
  padding: 20px; }
.form--stopover .table-col-1 {
  width: 50%; }
.form--stopover .table-col-2 {
  padding-top: 10px;
  width: 50%; }
.form--stopover .custom-select--2 {
  width: 105px; }
  .form--stopover .custom-select--2 .select__text {
    left: 13px;
    padding-left: 0; }
.form--stopover .border-row {
  border-top: 1px solid #fff; }

.multi-flight {
  margin-bottom: 30px; }
  .multi-flight a[data-remove-stopover] {
    display: block;
    position: absolute;
    font-size: 25px;
    color: #999; }
  .multi-flight .form-wrapper {
    overflow: hidden;
    position: relative;
    margin-top: 20px; }
    .multi-flight .form-wrapper .form-group {
      margin-bottom: 0; }

.form--mismatch p, .form--mismatch li {
  color: #000; }
.form--mismatch ul {
  margin: 0 0 0 20px; }

.form--confirm-passenger dl {
  overflow: hidden; }
  .form--confirm-passenger dl dt, .form--confirm-passenger dl dd {
    float: left;
    font-family: "baker-signet-web", serif; }
  .form--confirm-passenger dl dt {
    color: #808080; }
  .form--confirm-passenger dl dd {
    color: #000; }
.form--confirm-passenger .form__note {
  background-color: #e5e9f0;
  padding: 20px;
  margin-bottom: 30px; }
  .form--confirm-passenger .form__note p {
    color: #00266b;
    margin: 0; }

.form--addons .button-group-1 {
  margin-top: 40px; }

.table-cost {
  position: relative;
  width: 100%;
  color: #333;
  margin-top: 37px; }
  .table-cost:first-child {
    margin-top: 0; }
  .table-cost.table-addons thead th {
    padding-bottom: 10px; }
  .table-cost.table-addons .title td {
    padding-top: 20px; }
  .table-cost.table-addons tr:last-child td {
    padding-bottom: 20px; }
  .table-cost thead th {
    vertical-align: top;
    width: 20%;
    text-align: right;
    padding: 2px 0 30px; }
    .table-cost thead th:first-child {
      width: 80%;
      text-align: left; }
  .table-cost .title-1 span {
    padding-left: 5px; }
  .table-cost td {
    width: 20%;
    text-align: right;
    padding: 2px 0; }
    .table-cost td:first-child {
      width: 80%;
      text-align: left; }
  .table-cost .row-title td {
    padding: 15px 0; }
  .table-cost .row-content td {
    padding-bottom: 15px; }
  .table-cost .detail {
    display: block;
    padding-left: 10px;
    color: #666; }
  .table-cost .total-price {
    font-weight: 700;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    color: #000; }
  .table-cost tfoot td {
    padding: 20px 0;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2; }

.flights-target--1 {
  background-color: #f7f7f7;
  padding: 20px 0; }
  .flights-target--1 .second {
    color: #666; }
  .flights-target--1 .table-allocation tr td {
    padding: 10px 20px; }
  .flights-target--1 .subtotal td {
    font-weight: 700;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif; }

.target-checkbox .custom-checkbox--1 input + label {
  margin-right: 0; }
.target-checkbox a {
  margin-top: 12px;
  display: inline-block;
  outline: none; }

.form-personal-detail .notice-text, .form-personal-detail [class*="remind-note"] {
  margin: 5px 0; }
.form-personal-detail .remind-note--italic {
  margin-bottom: -5px; }
.form-personal-detail label {
  font-size: 15px;
  margin: 0 0 5px 5px; }
.form-personal-detail .custom-radio--1 label {
  margin-left: 0; }
.form-personal-detail .passenger-info__personal {
  margin-bottom: 30px; }
  .form-personal-detail .passenger-info__personal .form-group {
    margin-top: 25px; }
  .form-personal-detail .passenger-info__personal.last-field {
    padding-bottom: 0;
    margin-bottom: 0; }
.form-personal-detail.non-editable .form-content {
  padding-top: 15px; }
  .form-personal-detail.non-editable .form-content .last-field {
    margin-bottom: 3px; }
.form-personal-detail.non-editable .passenger-info__personal {
  margin-bottom: 25px; }
  .form-personal-detail.non-editable .passenger-info__personal .form-group {
    margin-top: 16px; }
    .form-personal-detail.non-editable .passenger-info__personal .form-group.last-group {
      margin-top: 20px; }
  .form-personal-detail.non-editable .passenger-info__personal .form-mobile--3, .form-personal-detail.non-editable .passenger-info__personal .form-group--3 {
    margin-top: 20px; }
.form-personal-detail .form__intro {
  overflow: hidden; }
.form-personal-detail .form-group .custom-radio {
  margin-left: 0;
  margin-right: 20px; }

.form-preferences {
  zoom: 1; }
  .form-preferences:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }
  .form-preferences .heading-wrapper {
    margin: 0 0 40px;
    overflow: hidden; }
  .form-preferences .button-group-1 .edit-btn {
    display: none; }
  .form-preferences .form-group {
    margin-top: 19px; }
    .form-preferences .form-group .custom-select--2 .select__text {
      padding-left: 13px; }
  .form-preferences .custom-checkbox {
    float: left;
    width: 100%;
    margin: 13px 0 0; }
  .form-preferences .preferences {
    padding: 20px 20px 0 20px;
    margin-bottom: 20px; }
    .form-preferences .preferences fieldset {
      padding-bottom: 37px; }
      .form-preferences .preferences fieldset + fieldset {
        padding-top: 33px; }
      .form-preferences .preferences fieldset .sub-heading-note {
        margin: 18px 0 12px; }
      .form-preferences .preferences fieldset .form-group--title {
        color: #333;
        font-size: 15px; }
      .form-preferences .preferences fieldset .grid-col {
        margin-top: 5px; }
        .form-preferences .preferences fieldset .grid-col .link-seat {
          margin: 3px 0;
          display: inline-block; }
  .form-preferences.non-editable .form-group .custom-select--2 .select__text {
    padding-left: 0; }
  .form-preferences.non-editable .custom-checkbox--1, .form-preferences.non-editable .custom-checkbox--1 input + label {
    cursor: auto; }

.custom-checkbox--wrapper.grid-row {
  margin: 0; }
  .custom-checkbox--wrapper.grid-row.form-group > label {
    margin-left: 0; }
.custom-checkbox--wrapper .grid-col {
  margin: 0; }

.form--redemption-nominee .form-wrapper {
  margin-top: 26px; }
  .form--redemption-nominee .form-wrapper .form-group {
    margin-top: 0; }
.form--redemption-nominee .form-group {
  margin-top: 26px; }
.form--redemption-nominee label {
  margin-bottom: 5px;
  font-size: 15px; }
.form--redemption-nominee .custom-radio label {
  display: inline-block;
  margin-bottom: 0;
  font-size: 15px; }
.form--redemption-nominee .ico-1-info-round-fill {
  margin-left: 7px;
  color: #999;
  font-size: 21px;
  cursor: pointer;
  line-height: 0.8; }
.form--redemption-nominee .custom-select--2.disabled .select__text {
  cursor: default; }
.form--redemption-nominee .button-group-1 {
  margin-top: 30px; }
  .form--redemption-nominee .button-group-1 .disabled {
    cursor: default; }
.form--redemption-nominee .accordion__control .custom-checkbox input {
  margin-top: 4px; }
  .form--redemption-nominee .accordion__control .custom-checkbox input + label {
    font-size: 21px;
    color: #000;
    margin-bottom: 0;
    padding-left: 29px; }
    .form--redemption-nominee .accordion__control .custom-checkbox input + label:before, .form--redemption-nominee .accordion__control .custom-checkbox input + label:after {
      margin-top: 6px; }
.form--redemption-nominee .non-editable .input-1 input[disabled], .form--redemption-nominee .non-editable .input-1 input[readonly] {
  color: #999; }
.form--redemption-nominee .non-editable .form-wrapper {
  margin-top: 20px; }
  .form--redemption-nominee .non-editable .form-wrapper .form-group:first-child {
    margin-top: 0; }
.form--redemption-nominee .non-editable .form-group {
  margin-top: 20px; }
  .form--redemption-nominee .non-editable .form-group:first-child {
    margin-top: 26px; }
  .form--redemption-nominee .non-editable .form-group label {
    margin-bottom: 0; }
.form--redemption-nominee .non-editable .grid-inner {
  padding-right: 0; }
.form--redemption-nominee .non-editable .width-2, .form--redemption-nominee .non-editable .width-7 {
  width: auto; }
.form--redemption-nominee .non-editable .form-group--mobile-1 .one-third {
  width: auto;
  float: left; }
.form--redemption-nominee .non-editable .custom-select--2 .select__text {
  position: static; }
.form--redemption-nominee .non-editable.accordion__control .custom-checkbox--1 input {
  display: none; }
  .form--redemption-nominee .non-editable.accordion__control .custom-checkbox--1 input + label {
    padding-left: 0; }
    .form--redemption-nominee .non-editable.accordion__control .custom-checkbox--1 input + label:before {
      display: none; }

.form--redemption-nominee--1 .input-1 input[readonly] {
  color: #000; }
.form--redemption-nominee--1 fieldset {
  position: relative;
  border-top: 1px solid #e5e5e5;
  padding-bottom: 40px; }

.form--redemption-nominee--2 .form-group:first-child {
  margin-top: 0; }
.form--redemption-nominee--2 .width-2 {
  width: 23%; }
.form--redemption-nominee--2 .width-7 {
  width: 77%; }
.form--redemption-nominee--2 .check-confirm {
  margin-top: 40px; }

.form-info-available .block-2 {
  list-style: none;
  margin: 20px 0 0; }
  .form-info-available .block-2 > a {
    position: relative;
    display: block;
    color: #333;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; }
  .form-info-available .block-2 em {
    position: absolute;
    top: 50%;
    left: 30px;
    margin-top: -14px;
    font-size: 27px;
    color: #bbb; }
    .form-info-available .block-2 em:before {
      margin: 0;
      display: block; }
  .form-info-available .block-2 .desc {
    line-height: 18px;
    border-top: 10px;
    margin-bottom: 0; }

.close-stopover {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 50%;
  margin-top: -14px;
  font-size: 26px;
  color: #999; }
  .close-stopover .ico-close-rounded {
    cursor: pointer; }

.economy-stopover-form {
  overflow: hidden;
  margin-top: 30px; }
  .economy-stopover-form fieldset {
    padding: 30px 0;
    border-top: 1px solid #c2c2c2; }
  .economy-stopover-form .custom-checkbox--capital {
    margin-bottom: 20px; }
    .economy-stopover-form .custom-checkbox--capital input + label {
      font-size: 21px;
      font-family: "baker-signet-web", serif; }
      .economy-stopover-form .custom-checkbox--capital input + label:after {
        font-size: 14px; }
  .economy-stopover-form .button-group-1 {
    padding-top: 30px;
    border-top: 1px solid #c2c2c2; }
  .economy-stopover-form .group-input-2 .group-input > .form-group {
    margin-bottom: 0;
    padding-right: 40px; }
    .economy-stopover-form .group-input-2 .group-input > .form-group .grid-col:first-child .custom-select label {
      max-width: 59px; }
  .economy-stopover-form .sub-heading-3--dark {
    overflow: hidden;
    margin-bottom: 20px; }
    .economy-stopover-form .sub-heading-3--dark .add-stopover {
      font-weight: 400;
      font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif; }

.custom-select--2.stopover-select .select__label {
  max-width: 65px; }
.custom-select--2.stopover-select .select__text {
  padding-left: 90px; }
  .custom-select--2.stopover-select .select__text input {
    padding-left: 90px; }

.economy-promo-form .custom-radio + .custom-radio {
  margin-top: 15px; }
.economy-promo-form .custom-radio .ico-radio {
  margin-top: 3px; }
.economy-promo-form .button-group-1 {
  margin-top: 40px; }

.economy-pwm-form, .economy-topup-form {
  overflow: hidden;
  margin-top: 35px; }

.input-3 .input-3__text {
  height: 38px;
  left: 0;
  right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .input-3 .input-3__text input {
    height: 38px;
    padding-left: 63px;
    padding-right: 35px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
.input-3 .ico-cancel-thin {
  right: 10px; }

.form-krisflyer-filter .grid-col .one-half:first-child .select__text {
  left: 0;
  padding-left: 48px; }

.form--boarding-2 .select__text, .before-fly-choose .custom-select--2 .select__text {
  left: 0;
  padding-left: 13px; }

.form-search-flight-1 .form-group--1 .custom-select--2 .select__text {
  left: 0;
  padding-left: 0; }

.form-passenger-detail .custom-select--2 .select__text, .payments-detail__form .custom-select--2 .select__text {
  padding-left: 13px; }
  .form-passenger-detail .custom-select--2 .select__text input, .payments-detail__form .custom-select--2 .select__text input {
    padding-left: 13px; }

.form-passenger-detail .phone-number-format .radio-group--left {
  margin-top: 0; }

.cancel-waitlist-form {
  margin-top: 30px; }
  .cancel-waitlist-form .input-3 .input-3__text input {
    padding-left: 10px; }

input[type="text"].focus-inputmask, input[type="tel"].focus-inputmask {
  text-transform: uppercase; }

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  top: 10px;
  width: 35px;
  height: 40px; }
.ui-datepicker .ui-datepicker-prev span {
  margin-left: -10px; }
.ui-datepicker .ui-datepicker-next span {
  margin-left: -5px; }

.search-city-custom .ico-dropdown {
  display: none; }
.search-city-custom .btn-search .ico-search {
  margin-top: -18px; }
.search-city-custom .custom-select .select__text .ico-cancel-thin {
  right: 38px; }

.form-feedback .sub-heading-1--dark {
  margin: 22px 0 23px; }
.form-feedback .custom-radio--1 label, .form-feedback .custom-checkbox label {
  margin-bottom: 0; }
.form-feedback.form-global .button-group-1 {
  margin: 30px 0 0; }
.form-feedback .feedback--details .form-group:first-child {
  margin-top: 20px; }
.form-feedback .terms-conditions {
  margin: 26px 0; }

.captcha-wrap {
  margin: 26px 0; }

.dest-city-form {
  margin-top: 31px; }
  .dest-city-form .form-group {
    margin-bottom: 40px; }
  .dest-city-form .select__label {
    max-width: 60px; }
  .dest-city-form .custom-select .select__text input {
    padding-left: 80px; }
  .dest-city-form .search-city-custom .select__text input {
    padding-right: 60px; }
  .dest-city-form .btn-search {
    z-index: 4; }

.form-checkin-complete .booking--style-2 {
  overflow: hidden; }
.form-checkin-complete .button-group-1 {
  float: right;
  padding-top: 40px;
  overflow: hidden; }
.form-checkin-complete .share {
  float: left; }
  .form-checkin-complete .share .text-share {
    color: #666; }
    .form-checkin-complete .share .text-share em {
      -webkit-transition: none;
      -moz-transition: none;
      -o-transition: none;
      transition: none; }
      .form-checkin-complete .share .text-share em:before {
        display: block; }

.landing-form .form-group {
  margin-bottom: 20px; }
.landing-form .form-group--inline {
  padding-bottom: 20px;
  margin-bottom: 0; }
.landing-form .radio-tooltips {
  background-color: #fff; }
  .landing-form .radio-tooltips .ico-arrow-up {
    border-bottom-color: #fff; }

.capitalize-input input {
  text-transform: capitalize; }

.small-link {
  font-size: 12px; }

.form-convert .link-2 {
  float: left;
  margin-left: 0;
  margin-top: 12px; }

.form-search-result {
  zoom: 1;
  margin-bottom: 30px; }
  .form-search-result:before {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }
  .form-search-result:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }

.form-contact {
  margin-bottom: 20px; }

.form--add-baggage .sub-heading-2--dark + .sub-heading-2--dark {
  margin-top: 10px; }

.form-promotion-packages .duration-sl.custom-select--2 .select__label {
  max-width: 90px; }
.form-promotion-packages .duration-sl.custom-select--2 .select__text {
  padding-left: 80px; }

.form--add-point-sale .text-error {
  margin-top: -17px;
  padding-left: 7%;
  padding-bottom: 28px; }

.form-booking-widget .select__tips {
  font-size: 11px;
  margin-top: 3px;
  left: 0;
  right: 0; }
.form-booking-widget .grid-col .grid-row {
  margin: 0; }
.form-booking-widget.form-booking-widget-destination .custom-radio--1:first-child {
  margin-left: 5px; }

.submit-btn {
  float: right;
  margin-top: 40px; }

.form-general.form-search-hotel {
  padding-top: 0; }
  .form-general.form-search-hotel .form-search-hotel__title {
    font-size: 20px;
    color: #00266b;
    font-family: "Barker";
    margin-bottom: 20px; }
  .form-general.form-search-hotel .input-3__label, .form-general.form-search-hotel .select__label {
    max-width: 70px;
    color: #999; }
  .form-general.form-search-hotel .input-3__text > input, .form-general.form-search-hotel .select__text {
    padding-left: 90px; }
  .form-general.form-search-hotel .btn-1 {
    padding-left: 34px;
    padding-right: 34px; }
  .form-general.form-search-hotel .width-2.last {
    width: 19%; }

.form-filter-hotel {
  margin: 20px 0;
  padding: 20px;
  background-color: #f5f5f5; }
  .form-filter-hotel .form-group {
    margin-bottom: 0; }
  .form-filter-hotel .rating-hotel {
    width: 25%; }
  .form-filter-hotel .price-range {
    width: 50%; }
  .form-filter-hotel .sortby {
    width: 25%; }
    .form-filter-hotel .sortby .sortby__text {
      position: absolute;
      top: -4px;
      color: #333; }
    .form-filter-hotel .sortby .sortby__select {
      margin-top: 23px; }
    .form-filter-hotel .sortby .select__text {
      padding-left: 13px; }

.select-meals-land-page .main-intro .link-list li {
  list-style: none; }

.form--select-meals--inflight .accordion__content-info {
  margin-bottom: 10px; }
.form--select-meals--inflight h3 {
  font-size: 23px; }
.form--select-meals--inflight .meal-list {
  clear: both;
  margin: 10px 0 15px; }
  .form--select-meals--inflight .meal-list li {
    list-style: none; }
    .form--select-meals--inflight .meal-list li strong {
      color: black; }

.form--select-meals--inflight .select-meal-item {
  display: none;
  border-top: 1px solid #ccc;
  padding-top: 20px; }
  .form--select-meals--inflight .select-meal-item .custom-select--2 {
    height: 45px;
    line-height: 45px; }
    .form--select-meals--inflight .select-meal-item .custom-select--2 option {
      text-transform: capitalize; }
    .form--select-meals--inflight .select-meal-item .custom-select--2 .select__label {
      max-width: 100%;
      padding-top: 13px;
      padding-bottom: 13px;
      font-size: 13px;
      color: #666; }
    .form--select-meals--inflight .select-meal-item .custom-select--2 .select__text {
      padding-left: 85px;
      font-size: 13px;
      line-height: 25px;
      height: 45px; }
  .form--select-meals--inflight .select-meal-item .overwrite {
    position: relative;
    z-index: 9;
    color: #ccc;
    padding-left: 10px; }
  .form--select-meals--inflight .select-meal-item .select-text--indent {
    opacity: 1;
    border: none;
    outline: none;
    text-indent: 115px;
    color: black;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none; }
  .form--select-meals--inflight .select-meal-item .text-dark {
    margin-bottom: 5px; }
  .form--select-meals--inflight .select-meal-item .form-group {
    margin-bottom: 20px; }
  .form--select-meals--inflight .select-meal-item .ico-dropdown {
    z-index: 9; }

.form-search-flight-des .from-to-container .full, .form-search-flight-des .date-group .full {
  width: 100%; }
  .form-search-flight-des .from-to-container .full + .full, .form-search-flight-des .date-group .full + .full {
    margin-top: 10px; }
.form-search-flight-des .button-group {
  margin-top: 40px; }
  .form-search-flight-des .button-group .btn-1 {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.form-book-hotel .form-group--select-tips {
  margin-bottom: 15px; }
.form-book-hotel .grid-row-1, .form-book-hotel .grid-row-1 .grid-inner {
  margin-bottom: 0; }
.form-book-hotel .grid-row-1 .grid-col {
  margin-bottom: 10px; }
.form-book-hotel .custom-select--2 .select__label {
  max-width: 110px; }
.form-book-hotel .custom-select--2 .select__text input {
  padding-left: 100px; }
.form-book-hotel .input-3 .input-3__label {
  max-width: 110px; }
.form-book-hotel .input-3 .input-3__text input {
  padding-left: 100px; }

.form-book-car .grid-row-1, .form-book-car .grid-row-1 .grid-inner {
  margin-bottom: 0; }
.form-book-car .grid-row-1 .grid-col {
  margin-bottom: 10px; }
.form-book-car .grid-row-1 .text-error {
  top: -10px; }
.form-book-car .time-line .grid-inner {
  position: relative; }
.form-book-car .form-group.form-group--2 {
  margin-bottom: 20px; }
.form-book-car .time-minute {
  width: 67%; }
.form-book-car .time-second {
  position: absolute;
  top: 0;
  left: 66.66%;
  width: calc(33.33% - 5px);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none; }
  .form-book-car .time-second:before {
    content: "";
    position: absolute;
    left: 0;
    top: 6px;
    height: 26px;
    border-left: 1px solid #ccc; }
  .form-book-car .time-second .select__text {
    padding-left: 8px; }

.private-form .label-title {
  color: #333; }
.private-form .form-group {
  margin-top: 18px;
  margin-bottom: 26px; }
  .private-form .form-group label {
    color: #333;
    font-size: 15px;
    margin-bottom: 9px;
    margin-left: 10px; }
  .private-form .form-group.comments {
    margin-bottom: 0; }
    .private-form .form-group.comments label {
      margin-left: 12px; }
.private-form .grid-row {
  margin-left: -10px;
  margin-right: -10px; }
.private-form .grid-inner {
  padding-left: 10px;
  padding-right: 10px; }
.private-form .custom-select--2 .select__text, .private-form .custom-select--2 .select__text input {
  padding-left: 13px; }
.private-form .input-3__text input {
  padding-left: 15px; }
.private-form .textarea-1 {
  height: 187px; }
.private-form .limit-comment {
  margin-top: 3px;
  font-style: italic;
  font-size: 14px;
  color: #777777; }
.private-form .text-error {
  padding-left: 15px; }
.private-form .cta-title {
  margin-bottom: 5px; }
.private-form .cta-group {
  padding-top: 0;
  padding-bottom: 10px; }

.static-bestfare .note-submit-claim {
  line-height: 20px; }
.static-bestfare .main-inner {
  margin-top: 38px; }
.static-bestfare .block-2 {
  margin-top: 36px; }
.static-bestfare .describe {
  line-height: 24px;
  font-size: 16px;
  margin-top: 12px;
  padding-bottom: 5px; }
.static-bestfare .block-inner {
  padding-top: 9px; }
.static-bestfare .custom-choose-file.focus {
  border: 1px #2e77fd solid; }

.block-form-group {
  border-top: 1px solid #cecece;
  padding-top: 36px;
  padding-bottom: 12px; }
  .block-form-group .captcha-wrap {
    margin-top: 14px;
    margin-bottom: 30px; }
  .block-form-group .terms-conditions {
    margin-bottom: 27px; }
  .block-form-group .text-note {
    padding-bottom: 10px; }
  .block-form-group:first-child {
    border-top: none;
    padding-top: 0; }
  .block-form-group.flight-information {
    padding-top: 26px;
    padding-bottom: 5px; }
  .block-form-group.details-booking {
    padding-top: 25px;
    padding-bottom: 32px; }
    .block-form-group.details-booking .attachment {
      margin-top: 14px; }
      .block-form-group.details-booking .attachment .formats {
        font-size: 13px;
        margin-top: 1px;
        margin-bottom: 5px;
        color: #999; }
  .block-form-group .limit-character {
    color: #999; }

.form-voucher {
  color: #000; }
  .form-voucher .custom-select--2 .select__text {
    padding-left: 15px; }
  .form-voucher .title-5--blue {
    margin-bottom: 6px; }
  .form-voucher .text-error {
    padding-top: 10px;
    margin-top: 0; }

.form-voucher .form-group {
  margin-bottom: 0; }

.form-review-cancellation {
  margin-top: 33px;
  color: #000; }
  .form-review-cancellation .button-group-1 {
    margin-top: 40px; }
  .form-review-cancellation .title-5--blue {
    display: block;
    margin-top: 22px;
    margin-bottom: 2px; }
    .form-review-cancellation .title-5--blue:first-child {
      margin-top: 0; }

.voucher-page .custom-checkbox label:focus {
  outline: #2e77fd solid thin; }
.voucher-page input[type="button"]:focus {
  outline: #2e77fd solid thin; }
.voucher-page .disbled input + label {
  color: #a7a7a7 !important; }
  .voucher-page .disbled input + label:after {
    color: #a7a7a7; }
  .voucher-page .disbled input + label:focus {
    outline: #a7a7a7 solid thin; }

.note-voucher-review-cancelled {
  font-style: italic; }

.form-search-car .sub-heading-3--blue {
  margin-bottom: 14px; }
.form-search-car .time-group {
  margin-bottom: 0; }
.form-search-car .custom-select[data-autocomplete-car="true"] .select__label {
  max-width: 65px; }
.form-search-car .custom-select[data-autocomplete-car="true"] .select__text input {
  padding-left: 85px; }
.form-search-car .time-minute .select__label {
  max-width: 90px; }
.form-search-car .time-minute .select__text {
  padding-left: 120px; }
.form-search-car .input-3 .input-3__label {
  max-width: 90px; }
.form-search-car .input-3 .input-3__text input {
  padding-left: 120px; }
.form-search-car .driver-field .one-half {
  float: none; }
  .form-search-car .driver-field .one-half + .one-half {
    margin-top: 10px; }
.form-search-car .time-line {
  margin-top: 10px; }
  .form-search-car .time-line .grid-inner {
    position: relative; }
.form-search-car .time-minute {
  width: 60%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }
.form-search-car .time-second {
  position: absolute;
  top: 0;
  left: 60%;
  width: calc(40% - 6px);
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }
  .form-search-car .time-second:before {
    content: "";
    position: absolute;
    left: 0;
    top: 6px;
    height: 26px;
    border-left: 1px solid #ccc; }
  .form-search-car .time-second .select__text {
    padding-left: 20px; }
.form-search-car .grid-col--1 + .text-error {
  top: -8px; }

/* Style for global table */
.table-default {
  background-color: #f2f2f2; }

.table-row {
  zoom: 1; }
  .table-row:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }

.table-row--fix .table-col {
  padding-top: 5px; }

.table-row--heading {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 15px;
  font-size: 16px; }
  .table-row--heading .table-col {
    padding-top: 0;
    font-size: 16px;
    font-weight: 600; }

.table-col {
  color: #333;
  padding-top: 20px;
  float: left; }

.table-col__arrive {
  position: absolute;
  top: 50%;
  right: 17px;
  margin-top: -10px; }

.table-inner {
  position: relative; }

.table--booking .data-title {
  display: none;
  color: #666; }

.flight__calendar {
  position: relative;
  margin-top: 80px; }
  .flight__calendar fieldset {
    margin-bottom: 38px;
    position: relative; }
    .flight__calendar fieldset legend {
      display: none; }
  .flight__calendar .control-horizontal, .flight__calendar .control-vertical {
    position: absolute; }
    .flight__calendar .control-horizontal > a, .flight__calendar .control-vertical > a {
      display: inline-block; }
      .flight__calendar .control-horizontal > a > em, .flight__calendar .control-vertical > a > em {
        font-size: 8px; }
  .flight__calendar .control-horizontal {
    top: -22px;
    right: 0; }
    .flight__calendar .control-horizontal .prev, .flight__calendar .control-horizontal .next {
      position: absolute;
      top: 0; }
    .flight__calendar .control-horizontal .prev {
      left: 0; }
    .flight__calendar .control-horizontal .next {
      right: 0; }
  .flight__calendar .control-vertical {
    left: 0;
    bottom: -20px; }
    .flight__calendar .control-vertical .prev, .flight__calendar .control-vertical .next {
      position: absolute;
      width: 100%;
      text-align: center; }
      .flight__calendar .control-vertical .prev > em, .flight__calendar .control-vertical .next > em {
        display: block; }
    .flight__calendar .control-vertical .prev {
      top: -52px; }
    .flight__calendar .control-vertical .next {
      bottom: -15px; }

.calendar__table {
  width: 100%;
  border-collapse: separate; }
  .calendar__table th, .calendar__table td {
    width: 12.5%;
    height: 99px;
    padding: 0 15px;
    border-right: 1px solid #efefef;
    border-bottom: 1px solid #efefef; }
  .calendar__table th {
    text-align: left;
    background: #e4e4e4;
    color: #333;
    font-weight: normal;
    line-height: 1.5; }
    .calendar__table th.first {
      background: transparent; }
    .calendar__table th.active {
      background: #2e77fd;
      color: #fff; }
      .calendar__table th.active span {
        font-weight: bold; }
  .calendar__table .custom-radio--1 {
    z-index: 3;
    overflow: hidden; }
    .calendar__table .custom-radio--1 label {
      padding-left: 0;
      font-size: 18px;
      color: #000;
      cursor: pointer;
      text-transform: uppercase; }
    .calendar__table .custom-radio--1 input {
      cursor: pointer; }
      .calendar__table .custom-radio--1 input + label:before, .calendar__table .custom-radio--1 input + label:after {
        display: none; }
  .calendar__table td {
    background: #fff;
    position: relative;
    text-align: center;
    font-family: "baker-signet-web", serif;
    font-size: 16px;
    cursor: pointer; }
    .calendar__table td > span {
      position: relative;
      z-index: 3; }
      .calendar__table td > span.label-status {
        position: absolute; }
    .calendar__table td.not-available {
      cursor: default; }
    .calendar__table td .bgd-hover {
      display: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: -1px;
      right: -1px;
      background: #f0f0f0;
      z-index: 0; }
    .calendar__table td.active .label-status {
      z-index: 0; }
    .calendar__table td.active .bgd-hover {
      display: block;
      height: 96px;
      border: 2px solid #2e77fd;
      left: 0;
      right: 0;
      background: transparent; }
    .calendar__table td a {
      color: #666; }
  .calendar__table .price {
    font-size: 18px;
    color: #000;
    text-transform: uppercase; }

.recent-activity {
  padding-top: 30px; }
  .recent-activity .blk-heading {
    padding-bottom: 20px; }

.expiring-miles__table .table-width-0 {
  width: 61px; }
.expiring-miles__table .table-width-1 {
  padding: 25px 40px; }
.expiring-miles__table .table-width-2 {
  width: 185px; }
.expiring-miles__table .table-width-3 {
  width: 190px; }

.flight-history__table .table-width-0 {
  width: 136px; }
.flight-history__table .table-width-2 {
  width: 150px; }
.flight-history__table .table-width-3 {
  width: 181px; }
.flight-history__table .ico-point-u {
  transition: all 500ms ease 0ms; }

.table-add-partner .table-width-0 {
  width: 280px; }
.table-add-partner .table-width-1 {
  width: 210px; }
.table-add-partner .table-width-2 {
  width: 160px; }
.table-add-partner .table-width-3 {
  width: 80px; }

.table-1 {
  width: 100%;
  background-color: #fff; }
  .table-1 th {
    color: #fff;
    text-align: left;
    font-weight: bold;
    padding: 25px 20px;
    background: #00266b; }
    .table-1 th a {
      position: relative;
      display: block;
      color: #fff; }
    .table-1 th em {
      font-size: 10px;
      margin-left: 5px; }
      .table-1 th em.ico-point-u:before {
        vertical-align: middle; }
  .table-1 td {
    padding: 20px;
    color: #000; }
  .table-1 .align-right {
    text-align: right; }
  .table-1.expiring-miles__table td {
    padding: 20px 40px; }

.table-2 {
  color: #000;
  width: 100%;
  background-color: #fff;
  border-collapse: separate; }
  .table-2 .table-2__info-top {
    color: #000;
    font-size: 13px;
    clear: both;
    overflow: hidden;
    padding-bottom: 15px;
    padding-top: 25px; }
  .table-2 .data-title {
    display: none; }
  .table-2 th {
    color: #fff;
    font-weight: bold;
    padding: 25px 20px;
    background: #00266b; }
  .table-2 td {
    vertical-align: bottom;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px; }
    .table-2 td:first-child {
      text-align: left;
      border-right: 1px solid #f0f0f0;
      padding-left: 20px; }
  .table-2 .table-2__content {
    padding-bottom: 15px; }
    .table-2 .table-2__content .flight {
      color: #666; }
      .table-2 .table-2__content .flight + .dash {
        display: inline-block;
        vertical-align: middle;
        margin: 0 5px; }

.table-flight-status .table-width-1 {
  width: 18%; }
.table-flight-status th:first-child {
  text-align: left;
  width: 50%; }
.table-flight-status td:first-child .table-2__content {
  text-align: left; }
.table-flight-status .table-2__content .dash {
  margin: 0 auto 8px; }
.table-flight-status .multi-flight-2 td, .table-flight-status .one-flight td {
  border-bottom: 1px solid #999;
  padding-bottom: 10px; }
.table-flight-status .table-2__layover .table-2__content {
  padding-top: 15px;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0; }

.link-table {
  color: #000; }

.popup .table-1 {
  background-color: #d3d3d3;
  margin-bottom: 26px; }

.even {
  background-color: #e8e8e8; }

tr.disabled {
  background-color: #f7f7f7; }

.editor .table-1--border td {
  background-color: #fff;
  border-top: 1px solid #e5e5e5; }

.fares-table td {
  padding: 8px 0;
  border-top: 1px solid #e5e5e5; }
  .editor .fares-table td {
    padding: 8px 0; }
.fares-table tr:first-child td {
  border-top: none; }
.fares-table .price {
  margin-right: 10px; }

/* End global table */
.car-protection-table .th-5 span {
  display: block;
  font-weight: normal; }
.car-protection-table .th-5 em {
  color: #ccc; }
.car-protection-table td .ico-check-thick {
  color: #00266b; }

.krisflyer-details-page .main-heading {
  margin-bottom: 24px;
  line-height: 1.2; }
.krisflyer-details-page .promotion-details__block {
  overflow: hidden;
  padding-bottom: 28px;
  margin-bottom: 36px; }

.promotion-details__content {
  position: relative; }
  .promotion-details__content .share {
    position: absolute;
    right: 0;
    top: -91px;
    margin-right: 0; }

.full-banner {
  width: 100%;
  overflow: hidden; }
  .full-banner img {
    width: 100%; }
  .full-banner .bestfare {
    max-width: 988px;
    margin: 0 auto;
    position: relative;
    height: 287px; }
    .full-banner .bestfare img {
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -23px;
      width: auto;
      height: auto; }

.component-carousel__background, .full-banner--img {
  width: 100%;
  background-size: cover; }

.promotion-inner {
  margin: 0 auto;
  color: #fff;
  position: relative; }

.promotion-desc p {
  font-size: 15px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 45px; }
.promotion-desc a {
  margin-left: 5px;
  color: #ff9f00; }
  .promotion-desc a.link-4 {
    display: inline; }
    .promotion-desc a.link-4 em {
      margin-top: 0; }
.promotion-desc.promotion-desc--1 {
  position: static; }
  .promotion-desc.promotion-desc--1 .main-heading {
    color: #00266b; }
  .promotion-desc.promotion-desc--1 p {
    width: 100%;
    font-size: 16px;
    max-width: 785px;
    color: #000000; }

.promotion-heading {
  margin-bottom: 30px; }
  .promotion-heading .main-heading, .promotion-heading .promo-to-title {
    float: left;
    line-height: 1.3;
    margin-right: 10px;
    color: #000; }
  .promotion-heading .promo-to-country {
    float: left; }
  .promotion-heading .promo-to-title {
    font-family: "baker-signet-web", serif; }

.promotion-result, .item-container {
  overflow: hidden;
  margin-left: -20px; }
  .promotion-result .empty-data, .promotion-result .item-container {
    padding-left: 20px; }

.promotion-item {
  float: left; }
  .promotion-item .flight-item {
    background-color: #a7a7a7; }
  .promotion-item.reposition {
    clear: left; }

.promotion-item__inner {
  display: block;
  background-color: #fff;
  margin-left: 20px;
  margin-bottom: 20px; }

.flight-item {
  position: relative; }
  .flight-item img {
    max-width: 100%; }

.promotion__title {
  line-height: 1.4;
  letter-spacing: -1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 6px; }

.promotion-item__content {
  padding: 16px 20px 14px; }
  .promotion-item__content .promotion_text-dark {
    color: #000; }
  .promotion-item__content > .link-4 {
    margin-left: 20px;
    margin-top: 0; }

.promotion-item__desc {
  margin: 0;
  overflow: hidden;
  color: #333;
  line-height: 21px;
  text-overflow: ellipsis; }

.flight-item__info-1, .flight-item__info-2 {
  color: #fff;
  position: absolute; }
  .flight-item__info-1 h3, .flight-item__info-1 .info-promotions, .flight-item__info-2 h3, .flight-item__info-2 .info-promotions {
    margin: 0;
    line-height: 1.3; }
  .flight-item__info-1 span, .flight-item__info-2 span {
    font-size: 14px;
    font-weight: 600;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif; }
  .flight-item__info-1 .text-from, .flight-item__info-2 .text-from {
    margin-top: 11px;
    margin-bottom: 3px;
    display: inline-block; }
  .flight-item__info-1 .info-promotions, .flight-item__info-2 .info-promotions {
    font-size: 24px;
    font-family: "baker-signet-web", serif; }

.flight-item__info-1 {
  left: 10px;
  bottom: 10px; }
  .flight-item__info-1 h3 span, .flight-item__info-1 .info-promotions span {
    display: block;
    margin-top: 5px;
    text-transform: capitalize; }

.flight-item__info-2 {
  right: 10px;
  bottom: 5px; }
  .flight-item__info-2 span {
    margin-right: 5px; }

.flight-item__vignette {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  -webkit-box-shadow: inset -1px -68px 17px -17px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset -1px -68px 17px -17px rgba(0, 0, 0, 0.6);
  box-shadow: inset -1px -68px 17px -17px rgba(0, 0, 0, 0.6); }

.promotion-item--1 .promotion__title {
  -webkit-line-clamp: 2;
  white-space: normal;
  max-height: 64px;
  margin-bottom: 5px; }

.promotion-item--2 .promotion-item__content {
  display: block;
  padding-top: 18px;
  margin: 1px;
  cursor: pointer; }
.promotion-item--2 .promotion-item__inner {
  overflow: hidden; }
  .promotion-item--2 .promotion-item__inner > a.flight-item {
    display: block;
    min-height: 100px;
    overflow: hidden; }
.promotion-item--2 .flight-item__wrapper {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0; }
  .promotion-item--2 .flight-item__wrapper .flight-item__info-1, .promotion-item--2 .flight-item__wrapper .flight-item__info-2 {
    position: static;
    vertical-align: middle;
    padding: 0 20px 6px; }
    .promotion-item--2 .flight-item__wrapper .flight-item__info-1 h3, .promotion-item--2 .flight-item__wrapper .flight-item__info-1 .info-promotions, .promotion-item--2 .flight-item__wrapper .flight-item__info-2 h3, .promotion-item--2 .flight-item__wrapper .flight-item__info-2 .info-promotions {
      line-height: 1;
      margin: -5px 0; }
    .promotion-item--2 .flight-item__wrapper .flight-item__info-1 span, .promotion-item--2 .flight-item__wrapper .flight-item__info-2 span {
      text-transform: uppercase;
      font-size: 10px; }
    .promotion-item--2 .flight-item__wrapper .flight-item__info-1 sup, .promotion-item--2 .flight-item__wrapper .flight-item__info-2 sup {
      margin-right: -6px;
      font-size: 65%; }
  .promotion-item--2 .flight-item__wrapper .flight-item__info-2 {
    padding: 0 14px 6px 0;
    text-align: right; }
    .promotion-item--2 .flight-item__wrapper .flight-item__info-2 h3, .promotion-item--2 .flight-item__wrapper .flight-item__info-2 .info-promotions {
      white-space: nowrap; }
.promotion-item--2 .promotion-item__content .link-2 {
  margin-top: 0; }
.promotion-item--2 .promotion-item__content p {
  margin-bottom: 4px;
  margin-top: 0;
  line-height: 1;
  font-size: 14px; }
  .promotion-item--2 .promotion-item__content p + p {
    padding-top: 2px; }
.promotion-item--2 .promotion-item__content .promotion_text-light {
  padding-top: 10px;
  color: #666; }
.promotion-item--2 .promotion-item__content .promotion-item__desc {
  height: auto; }
.promotion-item--2 .promotion-item__banner {
  position: relative; }
.promotion-item--2.active .promotion-item__inner {
  padding-bottom: 20px;
  margin-bottom: 0; }
.promotion-item--2.active .promotion-item__content.active .ico-point-r {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: transform 400ms ease 0s;
  -moz-transition: transform 400ms ease 0s;
  -o-transition: transform 400ms ease 0s;
  transition: transform 400ms ease 0s; }
.promotion-item--2 .promotion-item__content .ico-point-r {
  top: 0;
  -webkit-transition: all 400ms ease 0s;
  -moz-transition: all 400ms ease 0s;
  -o-transition: all 400ms ease 0s;
  transition: all 400ms ease 0s; }

.promotion-item--3 {
  width: 25%; }
  .promotion-item--3 .flight-item {
    margin-bottom: 12px; }
  .promotion-item--3 .promotion-item__inner {
    background-color: transparent; }
  .promotion-item--3 .promotion__title {
    color: #333; }

.promotion-item--4 .promotion-item__inner {
  background-color: transparent;
  margin-bottom: 35px;
  zoom: 1; }
  .promotion-item--4 .promotion-item__inner:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }
.promotion-item--4 .promotion-item__heading {
  margin-bottom: 6px; }
  .promotion-item--4 .promotion-item__heading p {
    color: #000;
    margin-bottom: 10px;
    line-height: 22px; }
.promotion-item--4 .promotion__title {
  line-height: 22px;
  margin-bottom: 0;
  padding-bottom: 8px; }
.promotion-item--4 .list-unstyled {
  overflow: hidden; }
  .promotion-item--4 .list-unstyled li {
    float: left; }
  .promotion-item--4 .list-unstyled .link-4 {
    margin-top: 0;
    line-height: 20px; }

.promotion-details [class^="promotion-details__"] p {
  font-size: 15px;
  line-height: 22px; }
.promotion-details figure {
  margin-bottom: 42px; }
.promotion-details .promotion-details__content .reservation__note {
  color: #666;
  font-size: 13px;
  line-height: 18px;
  margin-top: 27px; }
.promotion-details .text-error {
  font-size: 14px; }
.promotion-details.promotion-details--1 .promotion-conditions {
  margin: 0; }
.promotion-details.promotion-details--1 .promotion-details-list .sub-heading-2--dark {
  color: #00266b; }
.promotion-details.promotion-details--1 .promotion-details-list p {
  color: black;
  margin: 0 0 15px; }
.promotion-details.promotion-details--1 .promotion-conditions-text {
  padding-top: 35px; }
  .promotion-details.promotion-details--1 .promotion-conditions-text.last, .promotion-details.promotion-details--1 .promotion-conditions-text.first {
    clear: both; }
.promotion-details.promotion-details--1 ol {
  color: black; }
  .promotion-details.promotion-details--1 ol li {
    margin-top: 15px; }
    .promotion-details.promotion-details--1 ol li:first-child {
      margin-top: 0; }
.promotion-details.promotion-details--1 dl {
  padding-left: 0; }

.promotion-details-list .sub-heading-2--dark, .promotion-details__block .sub-heading-2--dark {
  margin-bottom: 20px; }

.promotion-reservation p {
  margin: 0;
  color: #000; }

.fares-details-page .blk-heading {
  padding: 0;
  min-height: 0;
  overflow: hidden; }

.promotion-details--krisflyer .blk-heading {
  margin-bottom: 26px;
  padding: 0;
  min-height: 0;
  overflow: hidden; }
  .promotion-details--krisflyer .blk-heading p {
    margin: 0;
    color: #333; }
.promotion-details--krisflyer .promotion-details__block img {
  width: 100%; }
.promotion-details--krisflyer .sub-heading-2--dark {
  clear: both; }

.promotion-details__intro {
  zoom: 1;
  min-height: 50px;
  position: relative;
  padding-right: 100px; }
  .promotion-details__intro:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }
  .promotion-details__intro p {
    line-height: 23px; }

.promotion-details__intro .share_title, .promotion-details__content .share_title {
  letter-spacing: 1px;
  line-height: 18px;
  margin-bottom: 0; }
.promotion-details__intro .social li, .promotion-details__content .social li {
  line-height: 43px;
  margin-right: 0;
  margin-left: 10px; }
  .promotion-details__intro .social li:first-child, .promotion-details__content .social li:first-child {
    margin-left: 0; }
.promotion-details__intro .social a em, .promotion-details__content .social a em {
  font-size: 18px; }

.promotion-details__block {
  padding-bottom: 20px;
  margin-bottom: 20px; }

.promotion-book-flight {
  margin-bottom: 37px;
  zoom: 1;
  overflow: hidden; }
  .promotion-book-flight:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }
  .promotion-book-flight .flight-item img {
    width: 100%; }
  .promotion-book-flight .flight-item__info-1 {
    left: 20px; }
  .promotion-book-flight .flight-item__info-2 {
    right: 20px; }
  .promotion-book-flight .form-promotion-book-flight .button-group-1 {
    margin-bottom: 10px; }
  .promotion-book-flight .form-promotion-book-flight .radio-tooltips__text {
    color: #666;
    width: auto;
    line-height: 1.1;
    font-weight: 600;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif; }
  .promotion-book-flight .form-promotion-book-flight .input-3 .input-3__text {
    padding-left: 70px; }
  .promotion-book-flight .sub-heading-2--dark {
    margin-bottom: 30px; }
  .promotion-book-flight.revert .form-promotion-book-flight {
    float: left;
    width: 48.989%;
    margin-bottom: 0; }
  .promotion-book-flight.revert figure {
    float: right;
    width: 51.011%;
    margin-bottom: 0; }
  .promotion-book-flight.revert .flight-item {
    margin-left: 20px;
    margin-right: 0; }
  .promotion-book-flight.revert .sub-heading-2--dark {
    margin-top: 25px; }
  .promotion-book-flight.revert .flight-item__info-2 span {
    display: block; }

.promotion-conditions {
  margin: 0 -10px;
  overflow: hidden; }

.promotion-conditions-text .title-condition {
  margin-bottom: 25px;
  font-size: 18px;
  color: #00266b;
  font-weight: 600;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif; }
.promotion-conditions-text dl {
  overflow: hidden;
  line-height: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  margin-top: 0; }
.promotion-conditions-text dt {
  color: #666; }
.promotion-conditions-text dd {
  color: #000;
  margin: 0; }
.promotion-conditions-text.full ol {
  padding-left: 20px; }

.promotion-note {
  margin-bottom: 16px;
  font-weight: 600;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif; }


.kf-merchant-offers-page .item-container {
  margin-top: 34px; }


.promotion-enhancement small {
  font-size: 14px;
  color: #666666;
  font-weight: 400;
  font-style: italic;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif; }
.promotion-enhancement .promotion-note {
  margin-top: 35px; }

.form-promotion--enhance .custom-select--2 .select__label {
  color: #666666;
  max-width: 100%; }
.form-promotion--enhance .custom-select--2 .select__text {
  padding-left: 130px; }

.promotion-result--enhance {
  margin-left: -20px;
  overflow: hidden;
  position: relative; }
  .promotion-result--enhance .promotion-item--2 .promotion-item__content .promotion-item__desc {
    position: relative; }
  .promotion-result--enhance .promotion-item--2 .promotion-item__content p + p {
    font-size: 24px;
    font-family: "baker-signet-web", serif;
    color: #00226b; }
  .promotion-result--enhance .promotion-item--2 .promotion-item__content sup {
    font-size: 12px; }
  .promotion-result--enhance .promotion-item--2 .promotion-item__content .ico-point-r {
    font-size: 14px;
    color: #00226b;
    position: absolute;
    top: 25%;
    right: 0; }
  .promotion-result--enhance .editor {
    background-color: #f5f5f5;
    padding: 0 20px; }
    .promotion-result--enhance .editor table tr td:first-child, .promotion-result--enhance .editor table tr th:first-child {
      padding-left: 0; }
    .promotion-result--enhance .editor table tr td:first-child {
      font-family: "baker-signet-web", serif;
      font-size: 21px;
      color: #00226b;
      border-top: 1px solid #cccccc;
      padding-top: 16px;
      line-height: 1; }
      .promotion-result--enhance .editor table tr td:first-child::before {
        font-size: 18px;
        line-height: 18px; }
      .promotion-result--enhance .editor table tr td:first-child .info-trip-type {
        text-transform: uppercase;
        color: #666;
        font-size: 11px;
        display: inline-block; }
    .promotion-result--enhance .editor table tr td:last-child, .promotion-result--enhance .editor table tr th:last-child {
      padding-right: 0;
      text-align: right; }
    .promotion-result--enhance .editor table tr:first-child td:first-child {
      border-top: 0; }
    .promotion-result--enhance .editor table th {
      color: #666;
      padding: 15px 0 0 15px;
      background: none;
      font-weight: normal;
      font-size: 14px; }
    .promotion-result--enhance .editor table td {
      padding: 10px 0 10px 15px;
      vertical-align: middle;
      font-weight: 400;
      font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
      font-size: 14px; }
    .promotion-result--enhance .editor table .btn-1 {
      padding: 15px 28px 13px;
      width: 100%; }
    .promotion-result--enhance .editor sup {
      top: -3px; }
  .promotion-result--enhance .min-to-go {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    margin-left: 5px; }
    .promotion-result--enhance .min-to-go li {
      display: inline-block;
      margin-top: 0;
      margin-left: -10px; }
  .promotion-result--enhance .ico-user {
    padding-left: 0;
    color: #00226b;
    font-size: 22px; }

.info-promotion--enhance {
  margin: 0;
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 28px;
  font-family: "baker-signet-web", serif;
  color: #ffffff; }

.promotion-list {
  clear: both;
  overflow: hidden; }

.promotion-item__detail {
  position: relative;
  padding: 20px;
  border-bottom: 2px solid #ccc;
  background-color: #ffffff;
  margin-left: 20px;
  margin-right: 5px;
  clear: both;
  display: none;
  margin-bottom: 20px; }
  .promotion-item__detail .title {
    font-size: 18px;
    font-weight: 600;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    color: #00226b;
    margin-bottom: 15px; }
  .promotion-item__detail .close-btn {
    position: absolute;
    top: 20px;
    right: 20px; }
    .promotion-item__detail .close-btn .ico-close {
      font-size: 12px;
      margin-left: 5px; }

.promotion-choice {
  list-style: none; }
  .promotion-choice li {
    width: 140px;
    height: 140px;
    float: left;
    text-align: center;
    background-color: white;
    letter-spacing: -1px; }
    .promotion-choice li .inner {
      padding: 20px;
      border-left: 1px solid #e5e5e5; }
    .promotion-choice li:first-child .inner {
      border-left: none; }
    .promotion-choice li span {
      display: block;
      color: #00266b; }
    .promotion-choice li .title {
      font-size: 14px;
      line-height: 1.1;
      text-transform: uppercase;
      color: #656565;
      font-weight: 700;
      font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif; }
    .promotion-choice li .text {
      font-size: 16px; }
    .promotion-choice li .order, .promotion-choice li [class^="ico-"] {
      margin-top: 13px;
      line-height: 41px; }
    .promotion-choice li [class^="ico-"] {
      padding-left: 0;
      font-size: 27px;
      color: #00266b; }
    .promotion-choice li .order {
      font-size: 32px;
      word-spacing: -2px;
      font-family: "baker-signet-web", serif; }

.promotion-enhancement .promotion-btn {
  margin-top: 0; }
.promotion-enhancement .min-pax-hide {
  font-size: 1px;
  color: transparent;
  display: block; }

.promotion-wrap {
  overflow: hidden;
  clear: both; }
  .promotion-wrap .promotion-note, .promotion-wrap .fare-deals-note {
    float: left;
    width: 60%; }
  .promotion-wrap .icon-guarantee {
    float: right;
    margin-top: 7px; }
    .promotion-wrap .icon-guarantee img {
      width: 103px; }

.popup__flight-heading {
  display: block;
  color: #002261;
  font-size: 24px;
  margin-top: 35px; }

.table-mobile__popup {
  display: none; }

.form-search-flight-1 fieldset {
  margin-left: -10px;
  margin-bottom: 10px; }
  .flight-status-page .form-search-flight-1 fieldset {
    margin-left: 0; }
.form-search-flight-1.form-general .custom-radio--1 {
  margin: 11px 0 10px 15px; }
.form-search-flight-1 .form-group--1 .custom-select--2 .select__text {
  left: 13px; }
.form-search-flight-1 .form-group--1 > li {
  float: left;
  width: 50%; }
.form-search-flight-1 .flight-group .custom-select--2:first-child {
  margin-left: 0; }
.form-search-flight-1 .flight-group .text-error {
  padding-left: 0;
  padding-right: 0; }
.form-search-flight-1 .custom-select--2, .form-search-flight-1 .input-1 {
  margin-left: 10px;
  padding-left: 13px; }

.flight-by-route .two-four li {
  float: left;
  width: 50%; }
.flight-by-route .two-four .city-to .text-error {
  padding-left: 10px;
  padding-right: 0; }
.flight-status-page .flight-by-route .two-four .city-from .custom-select {
  margin-left: 0; }
.flight-by-route .two-four .city-from .text-error {
  padding-left: 0;
  padding-right: 0; }

.dash {
  text-indent: -9999em;
  display: block;
  width: 10px;
  height: 1px;
  background-color: #666; }

.info .info-title {
  color: #002261;
  font-size: 25px; }
.info .to {
  font-size: 13px;
  color: #666; }
.info p {
  line-height: 1.2;
  margin: 0;
  font-size: 13px;
  color: #666; }
.info.info-color-1 p {
  color: #05b410; }
.info.info-color-2 p {
  color: #eeaa28; }
.info.info-color-3 p {
  color: #ff0000; }

.flight-status {
  margin-top: 25px; }
  .flight-status .sub-heading-1--dark {
    line-height: 1.3;
    margin-top: 8px; }
  .flight-status .tablet-mobile__popup {
    display: none; }
  .flight-status .blk-heading {
    padding-top: 3px;
    padding-bottom: 25px; }
  .flight-status .text-note {
    margin-bottom: 8px;
    margin-top: 12px; }
  .flight-status .table-header {
    padding: 15px 10px;
    font-size: 16px;
    background-color: #002261;
    color: #fff;
    font-family: "baker-signet-web", serif; }
    .flight-status .table-header .ico-point-r {
      float: right;
      font-size: 14px; }
  .flight-status .form-group + .form-group .text-error {
    padding-left: 10px;
    padding-right: 0;
    max-width: 100%; }

.flight-schedule__table {
  width: 100%;
  border-collapse: separate;
  overflow: hidden; }
  .flight-schedule__table .dash {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 8px; }
  .flight-schedule__table .title-head {
    color: #fff;
    font-weight: 600;
    background-color: #00266b; }
  .flight-schedule__table .flights__info--group {
    -webkit-transform: translate3d(0, 0, 0);
    width: 42.4%;
    padding-top: 7px;
    border-bottom: 1px solid #999; }
    .flight-schedule__table .flights__info--group .flights__info-schedule {
      padding-top: 7px;
      padding-bottom: 0; }
    .flight-schedule__table .flights__info--group .flights__info--detail {
      float: right; }
      .flight-schedule__table .flights__info--group .flights__info--detail:first-child {
        float: left; }
  .flight-schedule__table tbody {
    background-color: #fff; }
  .flight-schedule__table tr td:first-child, .flight-schedule__table tr th:first-child {
    padding-left: 25px;
    padding-right: 15px;
    text-align: left; }
  .flight-schedule__table tr th {
    -webkit-transform: translate3d(0, 0, 0);
    padding: 25px 0; }
    .flight-schedule__table tr th span {
      padding-left: 5px; }
  .flight-schedule__table tr td {
    text-align: center; }
    .flight-schedule__table tr td:first-child {
      border-right: 1px solid #e5e5e5; }
    .flight-schedule__table tr td .ico-airplane-lift {
      font-size: 35px;
      color: #00266b; }
  .flight-schedule__table .date-selected {
    background-color: #f7f7f7; }
    .flight-schedule__table .date-selected .ico-airplane-lift {
      font-size: 35px;
      color: #ef9a1a; }
  .flight-schedule__table .col-date {
    position: relative;
    border-right: 10px solid #fff;
    border-left: 10px solid #fff; }
    .flight-schedule__table .col-date .package-border {
      position: absolute;
      left: -10px;
      right: -10px;
      bottom: 0;
      border-bottom: 1px solid #999; }
    .flight-schedule__table .col-date.col-date--first {
      width: 62px;
      border-left: none; }
    .flight-schedule__table .col-date.col-date--last {
      width: 62px;
      border-right: none; }
  .flight-schedule__table .title-head-date--first {
    border-right: 10px solid #00266b; }
  .flight-schedule__table .title-head-date--last {
    border-left: 10px solid #00266b; }

.past-flight {
  margin-top: 3em; }
  .past-flight .table-width-4 {
    width: 10px; }
  .past-flight thead th a {
    display: inline;
    width: 10px; }

/* Style for language toolbar */
.transition-all .toolbar--language {
  -webkit-transition: margin 600ms ease;
  -moz-transition: margin 600ms ease;
  -o-transition: margin 600ms ease;
  transition: margin 600ms ease; }

.toolbar--language {
  background: #001b4a; }
  .toolbar--language *:focus {
    outline: #2e77fd solid thin !important; }

.toolbar__content {
  overflow: hidden;
  position: relative;
  padding: 12px 60px 12px 15px; }

.lang__content {
  background: #021234; }

.toolbar__close {
  font-family: "sia";
  font-size: 10px;
  line-height: 1;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0px;
  z-index: 3;
  padding: 15px;
  margin-top: -20px; }

.toolbar__text {
  float: left;
  margin: 0 8px 0 0;
  color: #fff; }
  .toolbar__text .toolbar__language {
    color: #ff9f00; }

.toolbar__control {
  list-style: none;
  float: left; }
  .toolbar__control li {
    float: left; }
    .toolbar__control li span {
      margin: 0 9px;
      color: #fff; }
    .toolbar__control li a {
      color: #fff; }

/* End language toolbar */
/*.wcag {
  *:focus{
    outline: $color-blue-focus solid thin;
  }
  // [data-tabindex]{
  //   overflow: hidden;
  // }
}*/
*:focus {
  outline: none; }

.focus-outline:focus, a:focus, input:focus, label:focus, select:focus, button:focus, textarea:focus, datalist:focus, output:focus, .custom-radio:focus {
  outline: #2e77fd solid thin; }

input[type="radio"].focus-outline:focus + label, input[type="checkbox"].focus-outline:focus + label {
  outline: #2e77fd solid thin; }

.focus-on-load:focus {
  outline: none !important; }

.accordion__control:hover {
  color: #333; }

.sia-breadcrumb-1 .breadcrumb-item a:hover {
  color: #00266b; }

.btn-1:hover, .btn-1.hover, .btn-1:focus {
  background-color: #2e77fd;
  color: #fff;
  outline: none; }
.btn-1.disabled:hover, .btn-1.disabled:focus {
  background-color: #999;
  color: #ddd; }

.btn-2:hover, .btn-2.hover {
  background-color: #666;
  color: #fff;
  outline: none; }
.btn-2.disabled:hover {
  background-color: #999;
  color: #ddd; }

.btn-3:hover, .btn-3.hover {
  background-color: #002261;
  color: #fff;
  outline: none; }

.btn-4:hover, .btn-4.hover {
  background-color: #b3c0d8;
  color: #fff;
  outline: none; }

.btn-7:hover, .btn-7.hover, .btn-7:focus {
  background-color: #2e77fd;
  color: #fff;
  outline: none; }
.btn-7.disabled:hover, .btn-7.disabled:focus {
  background-color: #999;
  color: #ddd; }

.see-more-btn:hover, .see-more-btn.hover {
  background-color: #666;
  color: #fff;
  outline: none; }

.btn-5:hover, .btn-5.hover {
  color: #333;
  outline: none; }

.btn-back:hover {
  color: #00266b; }

.btn-compare:hover, .btn-compare:hover > .ico-download {
  color: #333; }

.menu-main .menu-item > a:hover {
  color: #fff; }

.ico-seat-available:hover {
  background-color: #fff; }

.slick-dots li:hover button {
  background-color: #6c6c68; }

.custom-scroll.custom-dropdown li:hover, .custom-scroll.custom-dropdown li.active, .custom-scroll.custom-dropdown li.keyboardfocus {
  background-color: #00266b;
  color: #fff; }
.custom-scroll.custom-dropdown li.keyboardfocus {
  outline: none; }

.social a:hover {
  color: #333; }

.main-intro a:hover {
  -webkit-transition: all 400ms ease 0s;
  -moz-transition: all 400ms ease 0s;
  -o-transition: all 400ms ease 0s;
  transition: all 400ms ease 0s;
  color: #00266b; }
.main-intro .btn-1.disabled:hover {
  color: #ddd; }

.slick-slideGroup:focus .slick-slideGroup {
  outline: #2e77fd solid thin; }

.slick-dots li button:hover, .slick-dots li button:focus {
  background-color: #ef9a1a; }
.slick-dots li button:focus {
  box-shadow: 0 0 1px 1px #2e77fd; }
  .slick-dots li button:focus:hover {
    box-shadow: none; }

.flexslider .slick-prev:hover, .flexslider .slick-prev:focus, .flexslider .slick-next:hover, .flexslider .slick-next:focus, .slickslider--custom .slick-prev:hover, .slickslider--custom .slick-prev:focus, .slickslider--custom .slick-next:hover, .slickslider--custom .slick-next:focus {
  background-color: rgba(0, 0, 0, 0.5); }

.flexslider .slick-list.slick-focus {
  outline: #2e77fd solid thin; }

.flexslider--3:hover .slick-prev, .flexslider--3:hover .slick-next {
  opacity: 1;
  filter: alpha(opacity=100);
  z-index: 2; }
.flexslider--3 .slick-prev:focus, .flexslider--3 .slick-next:focus {
  opacity: 1;
  filter: alpha(opacity=100);
  z-index: 2; }
.flexslider--3 .highlight:focus {
  outline: #2e77fd solid thin; }

.flexslider--4 .slick-prev:hover, .flexslider--4 .slick-prev:focus, .flexslider--4 .slick-next:hover, .flexslider--4 .slick-next:focus {
  background: none; }

.custom-select--1:hover .select__text {
  color: #2a598a;
  -webkit-transition: all 400ms ease 0s;
  -moz-transition: all 400ms ease 0s;
  -o-transition: all 400ms ease 0s;
  transition: all 400ms ease 0s; }

.custom-select--sort .select_text:hover, .custom-select--sort .select_text:hover + span {
  color: #000; }
.custom-select--sort:hover .select_text {
  position: relative;
  z-index: 2;
  cursor: pointer; }
.custom-select--sort:hover [class^="ico-"] {
  z-index: 1; }

.btn-search:hover .ico-search {
  color: #f99f1c; }

.form--redemption-nominee .ico-1-info-round-fill:hover {
  color: #000; }

.form-info-available .block-2 > a:hover .title, .form-info-available .block-2 > a:hover .ico-forms, .form-info-available .block-2 > a:hover .ico-pdf {
  -webkit-transition: all 400ms ease 0s;
  -moz-transition: all 400ms ease 0s;
  -o-transition: all 400ms ease 0s;
  transition: all 400ms ease 0s;
  color: #00266b; }
.form-info-available .block-2 > a:hover em {
  -webkit-transition: all 400ms ease 0s;
  -moz-transition: all 400ms ease 0s;
  -o-transition: all 400ms ease 0s;
  transition: all 400ms ease 0s;
  color: #00266b; }

.ico-tooltips:hover, .btn-close:hover {
  color: #333; }

.link-1:hover {
  color: #f5e2bf; }

.packages .link-1:focus {
  color: #f5e2bf; }

.link-2:hover, .link-2:focus {
  color: #333; }

.custom-checkbox input:focus + label {
  color: #333; }

.link-3:hover {
  color: #00266b; }

.static-item .country-link a:hover {
  color: #00266b; }

a:hover {
  outline: 0;
  text-decoration: none;
  color: #00266b; }

.table-baggage .ico-tooltips.disabled:hover {
  color: #e7e7e4; }

.ent-item--logo:hover .ent-item__thumb, .ent-item-partners:hover .ent-item__thumb {
  opacity: 0.8;
  filter: alpha(opacity=80); }

.highlight:hover .img-block, .what-to-do__content .image-block:hover .full-banner--img, .where-to-stay-wrapper .slide-item:hover .place-1__thumb, .where-to-eat-wrapper .slide-item:hover .place-2__thumb, .static-block-2 .static-item__info:hover img {
  opacity: 0.8;
  filter: alpha(opacity=80); }

.tabs .tab-item:hover {
  background-color: rgba(0, 0, 0, 0.1); }
.tabs .tab-item.active:hover {
  background-color: #00266b; }

.link-download:hover, .link-print:hover {
  color: #333; }


.tabs--2 .tab-item a:hover {
  color: #3d588c; }

.tabs--3 .tabs--3__btn:hover {
  color: #000; }
.tabs--3 .tab-item.active .tabs--3__btn:hover {
  color: #fff; }

.tools-list > li:hover {
  color: #333; }

.search-link:hover {
  color: #333; }
  .search-link:hover .ico-edit {
    color: #333; }

.calendar-link:hover {
  color: #333; }

.search-calendar:hover label {
  background-color: #f0f0f0; }
  .orb-flight-schedule .search-calendar:hover label {
    background-color: #ddd; }
.search-calendar:hover input:checked + label, .search-calendar:hover input:disabled + label {
  background-color: #fff; }

.accordion__content-slider .slick-arrow:hover {
  color: #fff; }

.message-detail .blk-heading .btn-forward:hover, .message-detail .blk-heading .btn-delete:hover {
  color: #333; }

.messages .blk-heading a:hover {
  color: #333; }

.messages-list .messages-list__item:hover {
  background-color: #f7f7f7; }
.messages-list .sub-heading-3--dark a:hover {
  color: #2e77fd; }
.messages-list .messages-list__read .sub-heading-3--dark:hover {
  color: #999; }

.statements .btn-print:hover {
  color: #000; }

.flight-history .flight-history__tools .btn--print:hover {
  color: #000; }

.main-intro .btn-1:hover {
  color: #fff; }

.non-editable .input-1 input:hover {
  cursor: default; }
.non-editable .custom-select--2 .select__text:hover, .non-editable .custom-select--2 .select__label:hover {
  cursor: default; }

.booking-summary .text-miles a:hover {
  color: #00266b; }
.booking-summary.disable .booking-summary__control:hover, .booking-summary.disable .booking-summary__control:focus {
  background-color: #00266b;
  color: #fff;
  cursor: default; }

.booking-summary__control:hover, .booking-summary__control:focus {
  background-color: #2e77fd;
  color: #fff; }

.booking-nav__item:hover {
  border-top: 1px solid #ececec; }
  .booking-nav__item:hover .passenger-info__number, .booking-nav__item:hover .passenger-info__text {
    color: #666; }
  .booking-nav__item:hover.disabled {
    border-top-color: transparent; }
    .booking-nav__item:hover.disabled .passenger-info__number, .booking-nav__item:hover.disabled .passenger-info__text, .booking-nav__item:hover.disabled [class^="ico-"] {
      color: #999; }
.booking-nav__item:first-child:hover {
  border-top: none; }

.cancel-all:hover {
  color: #00266b; }
  .cancel-all:hover em {
    color: #00266b; }

.blk-heading-control a:hover {
  color: #00266b; }
  .blk-heading-control a:hover .ico-cancel-all {
    color: #00266b; }
  .blk-heading-control a:hover .ico-print {
    color: #333; }
.blk-heading-control .ico-print:hover {
  color: #333; }

.booking-passenger__control:hover {
  color: #333; }

.booking-confirm-list a:hover {
  color: #00266b; }
  .booking-confirm-list a:hover *[class^="ico-"] {
    color: #00266b; }
.booking-confirm-list .disabled:hover {
  color: #ccc; }
  .booking-confirm-list .disabled:hover span, .booking-confirm-list .disabled:hover *[class^="ico-"] {
    color: #ccc; }

.toolbar__close:hover {
  color: #ff9f00; }

.toolbar__control li a:hover {
  color: #ff9f00; }

.before-fly .before-fly-hyperlinks-item {
  float: left; }
  .before-fly .before-fly-hyperlinks-item em:hover {
    color: #333; }

.masthead .menu-block .menu__sub-nav .menu__item a:hover {
  color: #02266b; }

.info-card:hover {
  color: #666; }

.popup__close:hover {
  color: #00266b; }

.popup-1 .popup__close:hover {
  color: #ccc; }

.popup--cookie .popup__desc a:hover {
  color: #fff; }

.promotion-desc a:hover {
  color: #f5e2bf; }

.promotion-details__block p a:hover {
  color: #00266b; }

.seat.seat-free:hover {
  background-color: #666;
  color: #fff; }

.seat-status .ico-seat-available:hover {
  background-color: #fff; }
.seat-status .seat.seat-free:hover {
  background-color: #fff; }

.seat-preselected:hover {
  background-color: #aaa; }
.seat-preselected.seat-selected.seat:hover {
  background-color: #fe9500; }

.seat-occupied:hover {
  background-color: #001e52; }

.seat-status .ico-1-info-round-fill:hover {
  color: #333333; }

.seat-preselected:hover {
  background-color: #aaa; }

.generic-seatsmap-page .seat:hover {
  background-color: #fff;
  color: #00266b; }

.seat-legend__control:hover {
  color: #333; }
  .seat-legend__control:hover .ico-down {
    border-top-color: #333; }

.menu .menu-bar > ul > li > a:hover {
  color: #f99f1c; }

.menu-link:hover {
  color: #2e77fd; }

.menu-sub .menu-sub__join li a:hover {
  color: #2e77fd;
  text-decoration: none;
  -webkit-transition: all 400ms ease 0s;
  -moz-transition: all 400ms ease 0s;
  -o-transition: all 400ms ease 0s;
  transition: all 400ms ease 0s; }

.menu-main .menu-item > a:hover {
  text-decoration: none;
  color: #f99f1c;
  -webkit-transition: all 400ms ease 0s;
  -moz-transition: all 400ms ease 0s;
  -o-transition: all 400ms ease 0s;
  transition: all 400ms ease 0s; }

.sub-item li a:hover {
  color: #333;
  -webkit-transition: all 400ms ease 0s;
  -moz-transition: all 400ms ease 0s;
  -o-transition: all 400ms ease 0s;
  transition: all 400ms ease 0s; }

.footer-block li a:hover {
  color: #333;
  -webkit-transition: all 400ms ease 0s;
  -moz-transition: all 400ms ease 0s;
  -o-transition: all 400ms ease 0s;
  transition: all 400ms ease 0s; }

.link-table:hover {
  color: #00266b; }

.calendar__table td.not-available:hover .bgd-hover {
  display: none; }
.calendar__table td:hover .bgd-hover {
  display: block;
  height: 100px; }
.calendar__table td.active:hover {
  cursor: default; }
  .calendar__table td.active:hover .bgd-hover {
    background: transparent;
    height: 96px; }

.flights__table .ico-info-round-fill:hover, .flights__table .ico-tooltips:hover {
  color: #00266b; }
.flights__table .ico-info-round-fill.disabled, .flights__table .ico-tooltips.disabled {
  cursor: default; }
  .flights__table .ico-info-round-fill.disabled:hover, .flights__table .ico-tooltips.disabled:hover {
    color: #ccc; }
.flights__table [data-tooltip]:hover {
  color: #00266b; }
  .flights__table [data-tooltip]:hover.disabled {
    color: #ccc; }
.flights__table .tooltip-wrapper:focus [data-tooltip] {
  color: #00266b; }
  .flights__table .tooltip-wrapper:focus [data-tooltip].disabled {
    color: #ccc; }

.tooltip__close:hover, .tooltip__close:focus {
  color: #00266b; }

.flights__table > tbody > tr:hover > td {
  background: none; }

.flights__table--1__inner:focus td {
  background: none; }

.popup--flights-details--1 .flights__info--group .flights--detail > span {
  cursor: pointer; }

.table-info .infor-item .link-6 :hover {
  color: #00266b;
  -webkit-transition: all 400ms ease 0s;
  -moz-transition: all 400ms ease 0s;
  transition: all 400ms ease 0s; }

.seat {
  -webkit-transition: all 400ms ease 0s;
  -moz-transition: all 400ms ease 0s;
  -o-transition: all 400ms ease 0s;
  transition: all 400ms ease 0s; }

.popup--logged-profile .popup__content .profile-list .link-2:hover {
  color: #666; }

a.info-link-1:hover {
  color: #2e77fd; }

.custom-choose-file:hover .ico-plus {
  color: #00266b;
  border-top-color: #00266b;
  border-right-color: #00266b;
  border-bottom-color: #00266b;
  border-left-color: #00266b; }

.favourites-list .blk-control .favourites-list__filter .select_text:hover {
  color: #000; }
  .favourites-list .blk-control .favourites-list__filter .select_text:hover + .ico-point-d:before {
    color: #000; }

.info-watch:hover {
  color: #000; }

.save-trip .btn-5.btn-delete:hover {
  color: #999; }

.close-btn:hover {
  opacity: 0.8;
  filter: alpha(opacity=80); }

.betabar-block .mini-beta-link:hover {
  color: #fff; }

.booking-summary__content .booking-summary__control-bottom:hover {
  color: #2e77fd;
  transition: none; }

.open-all-btn--accordion:hover, .accordion-component--list .accordion__control:hover .ico-point-d {
  color: #00266b; }

.open-all-btn--accordion:hover:before {
  border-color: #00266b; }
.open-all-btn--accordion:hover [class^="ico-"] {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none; }

.baggage-customer .review-cancel-text .tooltip-button:hover .ico-info-round-fill {
  color: #00266b; }

.form-search .btn-search:hover {
  color: #f99f1c; }

.ent-item .ent-item__inner[data-trigger-popup]:hover {
  cursor: pointer; }

.fare-deals-list a:focus {
  outline: #2e77fd solid thin !important; }

input[type="date"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="url"]:focus, input[type="week"]:focus, input[type="password"]:focus {
  outline: none !important; }

/*# sourceMappingURL=modules__2.css.map */