/* Fontface */
@font-face {
  font-family: 'sia';
  src: url('../fonts/sia.eot');
  src: url('../fonts/sia.eot?#iefix') format('embedded-opentype'), url('../fonts/sia.woff') format('woff'), url('../fonts/sia.ttf') format('truetype'), url('../fonts/sia.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-1';
  src: url('../fonts/sia-1.eot');
  src: url('../fonts/sia-1.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-1.woff') format('woff'), url('../fonts/sia-1.ttf') format('truetype'), url('../fonts/sia-1.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-2';
  src: url('../fonts/sia-2.eot');
  src: url('../fonts/sia-2.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-2.woff') format('woff'), url('../fonts/sia-2.ttf') format('truetype'), url('../fonts/sia-2.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-amenities';
  src: url('../fonts/sia-amenities.eot');
  src: url('../fonts/sia-amenities.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-amenities.woff') format('woff'), url('../fonts/sia-amenities.ttf') format('truetype'), url('../fonts/sia-amenities.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-map';
  src: url('../fonts/sia-map.eot?cbq5t9');
  src: url('../fonts/sia-map.eot?cbq5t9#iefix') format('embedded-opentype'), url('../fonts/sia-map.ttf?cbq5t9') format('truetype'), url('../fonts/sia-map.woff?cbq5t9') format('woff'), url('../fonts/sia-map.svg?cbq5t9#sia-3') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-meals';
  src: url('../fonts/sia-meals.eot?egg8fi');
  src: url('../fonts/sia-meals.eot?egg8fi#iefix') format('embedded-opentype'), url('../fonts/sia-meals.ttf?egg8fi') format('truetype'), url('../fonts/sia-meals.woff?egg8fi') format('woff'), url('../fonts/sia-meals.svg?egg8fi#sia-meals') format('svg');
  font-weight: normal;
  font-style: normal; }

/* End fontface */
.booking-hotel-list .grid-row {
  overflow: hidden; }
  .booking-hotel-list .grid-row + .grid-row {
    margin-top: 13px; }
.booking-hotel-list .grid-col span {
  float: left;
  display: block;
  width: 40%; }
.booking-hotel-list .grid-col .detail {
  width: 60%;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px; }

.select-hotel-block {
  padding-top: 29px; }

.form-select-hotel {
  margin-top: 17px; }
  .form-select-hotel .custom-select--2 .select__label {
    max-width: 60px; }
  .form-select-hotel .custom-select--2 .select__text {
    padding-left: 82px; }
  .form-select-hotel .price-range .slider__inner {
    background-color: #dcdcdc;
    border-color: #ccc #dcdcdc #dcdcdc; }
    .form-select-hotel .price-range .slider__inner .ui-slider_title {
      left: -8px; }
    .form-select-hotel .price-range .slider__inner .ui-slider-result {
      right: -9px; }

.rating-hotel {
  position: relative; }
  .rating-hotel .text-rating {
    position: absolute;
    top: -4px;
    color: #333; }
  .rating-hotel .rating-block {
    margin-top: 17px;
    margin-bottom: 0; }
    .rating-hotel .rating-block .ico-star {
      font-size: 20px;
      margin: 0; }
      .rating-hotel .rating-block .ico-star:before {
        margin: 0; }
    .rating-hotel .rating-block li + li {
      margin-left: 5px; }

.stopover-holiday-link {
  margin-top: 7px; }

.choose-button {
  display: inline-block; }
  .choose-button .custom-radio--1 {
    z-index: 3;
    overflow: hidden; }
    .choose-button .custom-radio--1 input {
      cursor: pointer; }
      .choose-button .custom-radio--1 input + label {
        font-size: 12px;
        display: inline-block;
        color: #fff;
        line-height: 7px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.1em;
        cursor: pointer;
        padding: 17px 20px 16px;
        background-color: #00266b;
        font-weight: 700;
        font-family: sans-serif;
        -webkit-transition: all 400ms ease 0s;
        -moz-transition: all 400ms ease 0s;
        -o-transition: all 400ms ease 0s;
        transition: all 400ms ease 0s;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px; }
        .choose-button .custom-radio--1 input + label:before, .choose-button .custom-radio--1 input + label:after {
          display: none; }

.hotel-item {
  padding-bottom: 20px; }
  .hotel-item .hotel-item__thumb {
    position: relative; }
    .hotel-item .hotel-item__thumb img {
      width: 100%; }
    .hotel-item .hotel-item__thumb .btn-gradient {
      position: absolute;
      top: -5px;
      left: 5px; }
  .hotel-item .hotel-item__heading {
    overflow: hidden;
    margin-bottom: 7px; }
    .hotel-item .hotel-item__heading .sub-heading-2--blue {
      float: left;
      margin-right: 5px; }
    .hotel-item .hotel-item__heading .rating-block {
      float: left;
      margin-top: 7px;
      margin-bottom: 0; }
  .hotel-item .hotel-item__content .address {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    margin: 0; }
  .hotel-item .hotel-item__content .tel {
    margin-top: 7px; }
  .hotel-item .hotel-item__price .price-info {
    display: block; }
  .hotel-item .hotel-item__price small {
    display: block;
    margin-bottom: 20px; }
  .hotel-item .hotel-item__info {
    line-height: 1.4; }
    .hotel-item .hotel-item__info .desc {
      color: #000; }
    .hotel-item .hotel-item__info [class^="ico-"] {
      color: #bbb;
      font-size: 20px;
      margin: 0 3px 0 0; }
      .hotel-item .hotel-item__info [class^="ico-"].ico-swim-25:before {
        margin: 0; }
    .hotel-item .hotel-item__info a:first-child em:before, .hotel-item .hotel-item__info a:first-child em {
      margin-left: 0; }
  .hotel-item .info-list {
    overflow: hidden; }
    .hotel-item .info-list .text {
      color: #999; }
    .hotel-item .info-list .info {
      color: #333;
      margin: 0 0 12px; }
    .hotel-item .info-list .info-icons {
      margin-top: -2px; }

.hotel-item--1 {
  margin-bottom: 20px; }
  .hotel-item--1 .hotel-item__inner {
    position: relative; }
  .hotel-item--1 .hotel-item__info em.ico-swim-36 {
    font-size: 34px;
    max-height: 20px; }
    .hotel-item--1 .hotel-item__info em.ico-swim-36:before {
      margin-top: -9px;
      margin-right: 0;
      margin-left: 0;
      vertical-align: 15px; }

.hotel-item-btn {
  margin-top: 30px; }

.btn-gradient {
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  padding: 5px 10px;
  background: -webkit-linear-gradient( #f8b63c, #f48625) left repeat;
  background: linear-gradient( #f8b63c, #f48625) left repeat;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px; }

.ssh-block {
  margin-top: 30px; }
  .ssh-block .ssh-block__main {
    margin-top: 15px; }

.additional-item {
  position: relative;
  padding-top: 10px; }
  .additional-item > .custom-checkbox {
    padding-right: 90px; }
  .additional-item .additional-cost {
    position: absolute;
    top: 0px;
    right: 0px; }
  .additional-item .additional-cost-checkbox label {
    position: static; }
  .additional-item .additional-cost-checkbox .additional-cost {
    top: 1px; }

.additional-item__inner {
  margin: 10px 0 10px 0;
  padding: 10px;
  background: #f5f5f5; }

.package-cost {
  color: #000; }
  .package-cost .text-dark {
    color: #000;
    font-size: 16px; }
  .package-cost .additional-group + .additional-group {
    margin-top: 20px; }
  .package-cost .additional-item {
    padding-right: 90px; }
    .package-cost .additional-item .additional-cost {
      top: 8px; }
  .package-cost .grand-total {
    margin-top: 20px;
    border-top: 1px solid #f2f2f2; }
    .package-cost .grand-total .total-title {
      margin-top: 18px; }
    .package-cost .grand-total .total-info {
      font-size: 28px; }

.ssh-block__main .additional-item {
  padding-top: 8px; }

.form--additional-requests .button-group-1 {
  margin-top: 20px; }

.ssh-additional-page .checkin-alert {
  margin-top: 20px;
  margin-bottom: 20px; }

.stopover-holiday-block {
  margin-top: 22px; }
  .stopover-holiday-block .rating-block {
    margin: 7px 0 0; }
  .stopover-holiday-block .ico-swim-36 {
    position: relative;
    width: 40px;
    margin: 0; }
    .stopover-holiday-block .ico-swim-36:before {
      position: absolute;
      bottom: -23px;
      margin: 0; }
  .stopover-holiday-block .ico-swim-25 {
    margin: 0; }
    .stopover-holiday-block .ico-swim-25:before {
      margin: 0; }

.hotel-item--2 {
  padding-bottom: 0; }
  .hotel-item--2 .hotel-item__info {
    line-height: 0; }
    .hotel-item--2 .hotel-item__info [class^="ico-"] {
      font-size: 25px;
      margin: 6px 6px 0 0; }
    .hotel-item--2 .hotel-item__info .ico-swim-36 {
      font-size: 40px; }

.hotel-stopover {
  overflow: hidden; }
  .hotel-stopover figure {
    float: left;
    margin-right: 20px; }
    .hotel-stopover figure img {
      width: 100%; }
  .hotel-stopover .sub-heading-2--blue {
    float: left; }
  .hotel-stopover .rating-block {
    float: left;
    margin: 0; }

.hotel-stopover__heading {
  overflow: hidden; }

.hotel-stopover__content {
  margin-left: 250px; }
  .hotel-stopover__content strong {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #333; }

.hotel-stopover__desc {
  margin-top: 20px; }

.hotel-stopover__icons {
  margin-top: 15px; }
  .hotel-stopover__icons li {
    list-style-type: none;
    float: left;
    margin-left: 20px; }
    .hotel-stopover__icons li:first-child {
      margin-left: 0; }

.terms-conditions--2 {
  margin-bottom: 0; }
  .terms-conditions--2 .terms-detail p {
    margin: 10px 0 0; }
    .terms-conditions--2 .terms-detail p:first-child {
      margin-top: 0; }
  .terms-conditions--2 .custom-checkbox--1 {
    margin-top: 20px; }

.additional-requests .additional-group--1 {
  margin-top: 25px;
  padding: 25px 0 0 0;
  border-top: 1px solid #d4d4d4; }
  .additional-requests .additional-group--1 .text-info-1 {
    margin-bottom: 15px; }
.additional-requests .text-info-1 {
  margin: 0 0 20px;
  color: #000; }
.additional-requests .custom-checkbox.disabled {
  color: #666; }
  .additional-requests .custom-checkbox.disabled + .additional-cost {
    color: #666; }
.additional-requests .custom-select--2 .select__text {
  padding-left: 85px; }

.windows-phone .hotel-item__heading .rating-block {
  margin-top: 8px; }

.table-compare-packges th {
  padding-top: 11px;
  padding-bottom: 11px;
  line-height: 1.5em; }
.table-compare-packges td [class^="ico-"] {
  line-height: 18px; }
.table-compare-packges .ico-checkbox {
  font-size: 18px; }

.text-2 {
  margin: 0 0 15px;
  font-weight: 600;
  font-family: sans-serif;
  font-size: 14px;
  color: #000; }

.reservations-accordion, .reservations-block {
  overflow: hidden; }
  .reservations-accordion .alert-block, .reservations-block .alert-block {
    margin-bottom: 20px;
    padding-top: 7px;
    padding-bottom: 7px; }
    .reservations-accordion .alert-block .alert__icon, .reservations-block .alert-block .alert__icon {
      padding-right: 15px; }
  .reservations-accordion .group-input-2, .reservations-block .group-input-2 {
    overflow: hidden; }
  .reservations-accordion .room-selection, .reservations-block .room-selection {
    margin-top: 10px; }
  .reservations-accordion .add-room, .reservations-block .add-room {
    margin-top: 20px; }
  .reservations-accordion .accordion__content, .reservations-block .accordion__content {
    overflow: hidden;
    padding-bottom: 17px; }
  .reservations-accordion .accordion__control, .reservations-block .accordion__control {
    padding-bottom: 15px;
    padding-top: 15px; }

.reservations-accordion .accordion__control .ico-point-d {
  top: 50%; }

.reservations-block {
  background-color: #f0f0f0;
  padding: 25px 20px; }
  .reservations-block .sub-heading-3--dark {
    margin-bottom: 15px; }

.room-selection {
  position: relative;
  padding: 20px;
  background-color: #f7f7f7; }
  .room-selection .close-stopover {
    top: 25px;
    right: 5px; }
  .room-selection .form-group {
    margin-bottom: 0; }

.ssh-selection-page .general-flight .sub-heading-1--dark {
  margin: 0 0 15px; }

.stopover-holiday-form, .add-hotel-form {
  overflow: hidden; }
  .stopover-holiday-form .input-3__label, .add-hotel-form .input-3__label {
    max-width: 70px; }
  .stopover-holiday-form .input-3 .input-3__text input, .add-hotel-form .input-3 .input-3__text input {
    padding-left: 90px; }
  .stopover-holiday-form .room-type-sl .select__label, .add-hotel-form .room-type-sl .select__label {
    max-width: 90px; }
  .stopover-holiday-form .room-type-sl .select__text, .add-hotel-form .room-type-sl .select__text {
    padding-left: 102px; }
  .stopover-holiday-form .accordion__wrap, .add-hotel-form .accordion__wrap {
    margin-top: 0; }

.stopover-holiday-form .btn-1 {
  margin-top: 40px; }

.add-hotel-form .btn-1 {
  margin-top: 20px; }

.wrapper-room-block + .text-error {
  padding: 10px 17px; }

/*# sourceMappingURL=ssh-none-en-char.css.map */