/* Fontface */
@font-face {
  font-family: 'sia';
  src: url('../fonts/sia.eot');
  src: url('../fonts/sia.eot?#iefix') format('embedded-opentype'), url('../fonts/sia.woff') format('woff'), url('../fonts/sia.ttf') format('truetype'), url('../fonts/sia.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-1';
  src: url('../fonts/sia-1.eot');
  src: url('../fonts/sia-1.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-1.woff') format('woff'), url('../fonts/sia-1.ttf') format('truetype'), url('../fonts/sia-1.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-2';
  src: url('../fonts/sia-2.eot');
  src: url('../fonts/sia-2.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-2.woff') format('woff'), url('../fonts/sia-2.ttf') format('truetype'), url('../fonts/sia-2.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-amenities';
  src: url('../fonts/sia-amenities.eot');
  src: url('../fonts/sia-amenities.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-amenities.woff') format('woff'), url('../fonts/sia-amenities.ttf') format('truetype'), url('../fonts/sia-amenities.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-map';
  src: url('../fonts/sia-map.eot?cbq5t9');
  src: url('../fonts/sia-map.eot?cbq5t9#iefix') format('embedded-opentype'), url('../fonts/sia-map.ttf?cbq5t9') format('truetype'), url('../fonts/sia-map.woff?cbq5t9') format('woff'), url('../fonts/sia-map.svg?cbq5t9#sia-3') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-meals';
  src: url('../fonts/sia-meals.eot?egg8fi');
  src: url('../fonts/sia-meals.eot?egg8fi#iefix') format('embedded-opentype'), url('../fonts/sia-meals.ttf?egg8fi') format('truetype'), url('../fonts/sia-meals.woff?egg8fi') format('woff'), url('../fonts/sia-meals.svg?egg8fi#sia-meals') format('svg');
  font-weight: normal;
  font-style: normal; }

/* End fontface */
.hidden-tb-dt {
  display: none !important; }

.inline-block-dt {
  display: inline-block;
  vertical-align: top; }

.main-inner, .promotion-inner {
  max-width: 988px; }

.beta-footer .beta-footer__text {
  font-size: 18px; }

.sub-heading-1--dark .search-link {
  margin-left: 17px; }

.header {
  background-color: #363636; }

.form-flight-search .button-group-1 {
  position: relative;
  padding-bottom: 20px; }
  .form-flight-search .button-group-1 .text {
    margin-left: 0;
    position: absolute;
    bottom: 0;
    right: 86px;
    font-size: 12px;
    font-style: italic; }

.footer-block {
  float: left;
  width: 25%; }
  .footer-block .footer-block-inner {
    padding-left: 20px; }
  .footer-block:first-child .footer-block-inner {
    padding-left: 0; }
  .footer-block .footer-block-heading {
    margin-bottom: 7px; }
    .footer-block .footer-block-heading .ico-point-d {
      display: none; }
  .footer-block li {
    margin-top: 3px; }

.footer-bottom {
  padding: 20px 0;
  border-top: 1px solid #e2e2e2; }

.main-inner .wrapper.first {
  margin-top: -549px; }

.fare-deals .fare-deals-col {
  float: right;
  width: 50%; }

.promo .promo__text {
  display: inline-block; }
.promo .btn-1 {
  position: absolute;
  top: 20px;
  right: 16px; }

.news-ticker .news-ticker__content {
  font-size: 14px; }
.news-ticker .link-2 {
  display: block;
  padding-right: 20px; }
  .news-ticker .link-2.link-2--mobile {
    display: none; }

.sia-breadcrumb-1 {
  background-color: #fff;
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 4;
  clear: both;
  font-family: "baker-signet-web", serif; }
  .sia-breadcrumb-1 ul {
    zoom: 1;
    list-style: none;
    max-width: 988px;
    margin: 0 auto;
    padding: 0; }
    .sia-breadcrumb-1 ul:after {
      content: "";
      visibility: hidden;
      display: block;
      height: 0;
      clear: both; }
    .sia-breadcrumb-1 ul li {
      float: left; }
  .sia-breadcrumb-1 .breadcrumb-item {
    position: relative; }
    .sia-breadcrumb-1 .breadcrumb-item a {
      color: #333;
      line-height: 14px;
      text-transform: capitalize;
      position: relative;
      padding: 19px 14px 16px;
      display: block;
      font-weight: 400;
      font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif; }
    .sia-breadcrumb-1 .breadcrumb-item:after {
      content: "";
      position: absolute;
      right: 14px;
      bottom: 0px;
      left: 14px;
      border-bottom: 2px solid transparent; }
    .sia-breadcrumb-1 .breadcrumb-item.active a {
      color: #363636; }
    .sia-breadcrumb-1 .breadcrumb-item.active:after {
      border-bottom-color: #363636; }

.popup .popup__heading {
  font-size: 28px; }
.popup .popup__inner {
  min-width: 450px;
  max-width: 740px; }
.popup .popup__content {
  padding: 40px; }
.popup .table-col .table-inner {
  padding-left: 5px; }
.popup .table-col:first-child .table-inner {
  padding-left: 0; }

.popup--info-beach .popup__content, .popup--full-content .popup__content {
  padding: 0; }

.popup--flights-details .grand-total .total-info span, .popup--flights-details-sf .grand-total .total-info span, .popup-mb-cost-breakdown-1 .grand-total .total-info span, .popup-mb-cost-breakdown-2 .grand-total .total-info span, .popup--cancel-flight-orc .grand-total .total-info span, .popup--cancel-flight-atc .grand-total .total-info span {
  display: inline;
  clear: none; }

.popup-3 .popup__inner, .popup--confirmation-error .popup__inner {
  max-width: 450px; }

.popup-2 .popup__inner, .popup-4 .popup__inner {
  max-width: 676px; }

.popup-5 .popup__inner, .popup--cvv .popup__inner {
  max-width: 640px; }

.popup-6 .popup__inner, .popup--payment-faqs .popup__inner {
  max-width: 515px; }

.popup-7 .popup__inner, .popup--economy-pwm .popup__inner {
  max-width: 550px; }

.popup--search-compare .popup__inner {
  min-width: 874px; }

.popup--account-update-1 .popup__inner {
  min-width: 698px; }

.popup--confirm-seat .popup__inner, .popup--earnshop-loggedin .popup__inner, .popup--search-leaving .popup__inner, .popup--passenger-condition .popup__inner {
  max-width: 500px; }

.popup--edit-search .popup__inner, .popup--redeem-voucher .popup__inner, .popup--economy-promo .popup__inner {
  max-width: 460px; }

.popup--edit-search-1 .popup__inner {
  width: 696px; }

.popup--stopover .popup__inner {
  max-width: 665px; }

.popout--confirm-passenger .popup__inner {
  min-width: 520px; }

.popup--delete-kf .popup__inner, .popup--delete-pps .popup__inner {
  max-width: 568px; }

.popup--service-fees .popup__inner {
  max-width: 860px; }

.popup--link .popup__inner {
  max-width: 646px; }

.popup--convert .popup__inner {
  max-width: 650px; }

.popup--extend-miles .popup__inner {
  max-width: 465px; }

.popup--add-cities .popup__inner, .popup--manage-user-delete .popup__inner, .popup--saved-trips-delete .popup__inner, .popup--assign-access .popup__inner {
  max-width: 470px; }

.popup--customise-link .popup__inner, .popup--sqc-customise-link .popup__inner {
  max-width: 466px; }

.popup--economy-topup .popup__inner {
  max-width: 510px; }

.popup--economy-stopover .popup__inner, .popup--intro-lightbox .popup__inner, .popup--confirm-email-address .popup__inner, .popup--intro-lightbox .popup__inner, .popup--info-beach .popup__inner, .popup--info-park .popup__inner, .popup--earn-ground-financial .popup__inner, .popup--visas-requirements .popup__inner, .popup--krisshop-not-loggedin .popup__inner, .popup--earnshop-not-loggedin .popup__inner {
  max-width: 700px; }

.popup--promo-code-kf-member .popup__inner {
  max-width: 600px; }

.popup--compare-packages .popup__inner {
  max-width: 790px; }

.popup--file-preference .popup__inner {
  max-width: 695px; }

.popup--redeem-completed .popup__inner {
  max-width: 652px; }

.popup--video-lightbox .popup__inner {
  max-width: 720px; }

.popup--delete-confirmation .popup__inner {
  max-width: 650px; }

.popup--voucher-details .popup__inner {
  max-width: 700px; }

.select__tips {
  left: 0;
  right: 0; }

.economy-stopover-form .sub-heading-3--dark > span {
  float: left; }
.economy-stopover-form .sub-heading-3--dark .add-stopover {
  float: right; }

.group-input {
  padding: 20px; }

.cofirm-block .col {
  width: 50%; }

.popup-2 dl dt, .popup-2 dl dd {
  float: left; }

.popup--add-ons-summary dl dt {
  width: 39%; }
.popup--add-ons-summary dl dd {
  width: 61%; }

.popup--fare-condition dl dt {
  width: 41%; }
.popup--fare-condition dl dd {
  width: 59%; }

.form--mismatch p, .form--mismatch li {
  font-size: 16px; }

.form--confirm-passenger dl dt, .form--confirm-passenger dl dd {
  font-size: 21px; }

.table--krisflyer-update .col-1 {
  width: 4%; }
.table--krisflyer-update .col-2 {
  width: 46%; }
.table--krisflyer-update .col-3 {
  width: 25%; }
.table--krisflyer-update .col-4 {
  width: 25%; }

.form--account-update .table-col-1, .form--account-update-1 .table-col-1 {
  width: 33%; }
.form--account-update .table-col-2, .form--account-update-1 .table-col-2 {
  width: 36%; }
  .form--account-update .table-col-2 .table-inner, .form--account-update-1 .table-col-2 .table-inner {
    padding-right: 46px; }
.form--account-update .table-col-3, .form--account-update-1 .table-col-3 {
  width: 31%; }

.flights-target--1 .table-allocation .type-1 td {
  border-bottom: 1px solid #e7e6e2; }

.popup--promo-code-kf-member .list-code-kf-member > li > strong {
  float: left; }
.popup--promo-code-kf-member .list-code-kf-member > li > a {
  float: right; }
.popup--promo-code-kf-member .form--promo-kf-member .form-group.form-group--1 {
  float: left; }
.popup--promo-code-kf-member .form--promo-kf-member .input-addon-2 {
  float: right;
  text-align: right; }
.popup--promo-code-kf-member .input-group {
  overflow: hidden; }
  .popup--promo-code-kf-member .input-group .input-addon-1 {
    width: 405px;
    float: left; }
  .popup--promo-code-kf-member .input-group .input-addon-2 {
    float: right;
    text-align: right; }

.voucher-redemption-table .table-width-0, .voucher-redemption-table .table-width-1, .voucher-redemption-table .table-width-2, .voucher-redemption-table .table-width-3 {
  width: 25%; }

.popup--voucher-redemption .button-group-1 .total {
  padding-right: 120px; }
.popup--voucher-redemption .button-group-1 .btn-1 {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -20px; }

.form--phone-number .table-col-1 {
  width: 5%; }
.form--phone-number .table-col-2 {
  width: 33%; }
.form--phone-number .table-col-3 {
  width: 20%; }
.form--phone-number .table-col-4 {
  width: 42%; }
.form--phone-number .table-col-5 {
  padding-left: 5%;
  padding-top: 10px; }
.popup--send-checkin-confirmation .form--phone-number .table-row.error .text-error {
  margin-left: 30px; }

.form--cancel-flight .table-col-1, .form--success-flight .table-col-1, .form--cancel-flight-confirm .table-col-1, .form--checkin-cancel-confirm .table-col-1 {
  width: 43.5%; }
.form--cancel-flight .table-col-2, .form--success-flight .table-col-2, .form--cancel-flight-confirm .table-col-2, .form--checkin-cancel-confirm .table-col-2 {
  width: 46.5%; }

.form--seat-prefer .table-default {
  padding: 0; }
.form--seat-prefer .table-row {
  padding: 0 20px 0 13px; }
.form--seat-prefer .table-col-1 {
  width: 47%; }
.form--seat-prefer .table-col-2 {
  width: 36%; }
.form--seat-prefer .table-col-3 {
  width: 17%;
  text-align: right; }
.form--seat-prefer .table-col {
  padding-top: 18px; }

.form--seat-prefer--baggage .table-col-1 {
  padding-top: 11px;
  width: 43%; }
.form--seat-prefer--baggage .table-col-2 {
  width: 57%; }
.form--seat-prefer--baggage .table-col-2__left {
  width: 64%;
  float: left; }
.form--seat-prefer--baggage .table-col-2__right {
  float: right;
  width: 32%;
  text-align: right; }
.form--seat-prefer--baggage .table-row--heading .table-col-2__row {
  margin: 0; }
.form--seat-prefer--baggage .table-row--heading .table-col-2__right {
  top: 13px; }
.form--seat-prefer--baggage .table-row {
  padding-left: 20px;
  padding-right: 18px; }
.form--seat-prefer--baggage .name-customer {
  padding-top: 7px; }

.popup--add-point-sale .table-custom-1 {
  max-height: 280px; }
.popup--add-point-sale .popup__inner {
  max-width: 470px; }
  .popup--add-point-sale .popup__inner .table-custom-1 {
    margin-bottom: 27px; }

.popup--edit-search .form-group--tooltips .custom-radio {
  margin-left: 15px; }
  .popup--edit-search .form-group--tooltips .custom-radio:first-child {
    margin-left: 0; }

.form--boarding-3 .tabs--1 .tab-content {
  padding-top: 17px; }
.form--boarding-3 .email .table-col-1 {
  clear: both;
  width: 34%; }
.form--boarding-3 .email .table-col-2 {
  width: 66%; }
.form--boarding-3 .sms .table-col-1 {
  width: 34%; }
.form--boarding-3 .sms .table-col-2 {
  width: 27%; }
.form--boarding-3 .sms .table-col-3 {
  width: 14%; }
.form--boarding-3 .sms .table-col-4 {
  width: 25%; }

.form--boarding-2 .table-col-1 {
  width: 34%; }
.form--boarding-2 .table-col-2 {
  width: 27%; }
.form--boarding-2 .table-col-3 {
  width: 14%; }
.form--boarding-2 .table-col-4 {
  width: 25%; }

.form--boarding-1 .table-col-1 {
  clear: both;
  width: 34%; }
.form--boarding-1 .table-col-2 {
  width: 66%; }

.popup--cancel-baggage .popup__inner {
  max-width: 780px; }

.popup--cancel-travel-insurance .popup__inner {
  max-width: 590px; }

.popup--ssh-edit-search .popup__inner {
  max-width: 690px; }

.form-passenger-detail .radio-group--left .custom-radio--1 {
  margin-left: 40px; }
  .form-passenger-detail .radio-group--left .custom-radio--1:first-child {
    margin-left: 0; }
.form-passenger-detail .blk-heading {
  padding-right: 40px; }
  .form-passenger-detail .blk-heading .sub-heading-1--blue {
    text-transform: uppercase; }

.passenger-info__personal .passenger-heading {
  padding-right: 120px; }

.booking-info-group {
  margin: 0 20px 19px;
  padding: 6px 20px 0; }
  .booking-info-group.booking-info-group-sf {
    margin-left: 0;
    margin-right: 0; }
  .booking-info-group .booking-info .booking-info-item {
    padding-top: 12px;
    padding-bottom: 17px; }

.booking-passenger-list li {
  float: left;
  width: 50%; }

.before-fly-choose {
  display: none; }

.before-fly .before-fly-item {
  margin-bottom: 38px; }
.before-fly .before-fly-info {
  width: 50%;
  float: left; }
.before-fly .before-fly-weather__item {
  width: 33.333%; }
.before-fly .before-fly-hyperlinks {
  margin-top: 57px; }
.before-fly .before-fly-hyperlinks-item {
  width: 25%; }
  .before-fly .before-fly-hyperlinks-item .before-fly-hyperlinks__cation {
    font-size: 24px; }

.flights__target {
  margin-top: 55px; }

.flights__info--group .flights--detail > span {
  text-transform: uppercase; }

.package--price-number {
  clear: both;
  display: block; }

.flights__searchs .control {
  position: absolute;
  height: 74px;
  width: 100%;
  left: 0;
  top: 0; }
.flights__searchs .wi-icon {
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  text-indent: -900em;
  position: absolute;
  background: #2f7d66;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%; }
  .flights__searchs .wi-icon:before, .flights__searchs .wi-icon:after {
    content: "";
    position: absolute;
    z-index: 1; }
  .flights__searchs .wi-icon:before {
    left: 3px;
    top: 3px;
    width: 24px;
    height: 24px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    border: 1px solid #fff;
    background: #fff; }
  .flights__searchs .wi-icon:after {
    width: 0px;
    height: 0px;
    top: 10px;
    border: 6px solid transparent; }
  .flights__searchs .wi-icon.wi-icon-next:after {
    left: 14px;
    border-left-color: #0b664b;
    border-right: 0; }
  .flights__searchs .wi-icon.wi-icon-previous:after {
    left: 12px;
    border-right-color: #0b664b;
    border-left: 0; }

.flights__table tr td .seat-left {
  z-index: 1;
  position: relative; }
  .flights__table tr td .seat-left span {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 5px; }

.flights__searchs .flights__table.flights__table--two-columns th, .flights__searchs .flights__table.flights__table--two-columns td {
  width: 25%; }
  .flights__searchs .flights__table.flights__table--two-columns th:first-child, .flights__searchs .flights__table.flights__table--two-columns td:first-child {
    width: 75%; }

.share {
  float: left;
  margin-right: 24px; }

footer .social .social__right-block {
  float: right; }
footer .social ul {
  float: left; }
  footer .social ul .text-share {
    margin-top: 2px; }
  footer .social ul .border-left {
    margin-left: 15px;
    padding-left: 18px;
    border-left: 1px solid #e2e2e2; }

.form-search-flight-1 .button-group {
  width: 12.2%; }
.form-search-flight-1 .form-group {
  float: left; }
.form-search-flight-1.form-general .custom-radio--1:first-child {
  margin-left: 10px; }
.form-search-flight-1 .radio-group {
  min-height: 40px; }
  .form-search-flight-1 .radio-group li {
    float: left;
    width: 50%; }
.form-search-flight-1 .button-group li {
  margin-left: 10px; }
.form-search-flight-1 .button-group .btn-1 {
  padding-left: 27px;
  padding-right: 27px; }

.flights__table tr td .hidden-mb {
  padding-bottom: 30px; }
.flights__table tr td .custom-radio--1 {
  padding-top: 27px;
  text-align: center; }
.flights__table .ico-info-round-fill, .flights__table .ico-tooltips {
  font-size: 20px;
  line-height: 1; }
.flights__table .tooltip-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: auto;
  padding: 13px 5px;
  background: transparent; }
.flights__table tr.waitlisted.hidden + tr > td.active .flights__active-border, .flights__table tr:first-child .flights__table--1__inner tr:first-child td.active .flights__active-border {
  border-top: none; }

html[class^="ie"] .flights__table .flight-part, html[class*=" ie"] .flights__table .flight-part {
  overflow: hidden; }
.flights__table .flights__active-border, .flights__table .flights__tooltip-background {
  display: none;
  position: absolute; }
.flights__table td.active .flights__active-border, .flights__table td.active .flights__tooltip-background {
  left: 0;
  right: -1px;
  display: block; }
.flights__table td.active .flights__active-border {
  margin: 0;
  border: 1px solid transparent;
  border-bottom: none;
  top: -1px;
  bottom: -1px; }
  html[class^="ie"] .flights__table td.active .flights__active-border, html[class*=" ie"] .flights__table td.active .flights__active-border {
    top: 0;
    height: 600px; }
.flights__table td.active .flights__tooltip-background {
  top: 0;
  bottom: -1px;
  border: 1px solid transparent;
  border-top: none; }
.flights__table.next-package .package-3.active, .flights__table.previous-package .package-2.active {
  border-bottom-color: #a1a1a1; }
  .flights__table.next-package .package-3.active .flights__active-border, .flights__table.previous-package .package-2.active .flights__active-border {
    bottom: -1px;
    border: 1px solid transparent; }
.flights__table.next-package .package-3.active {
  border-right-color: #e5e5e5; }
  .flights__table.next-package .package-3.active .flights__active-border, .flights__table.next-package .package-3.active .flights__tooltip-background {
    left: 0;
    right: 6px; }
.flights__table.previous-package .package-2.active {
  border-left-color: #e5e5e5; }
  .flights__table.previous-package .package-2.active .flights__active-border, .flights__table.previous-package .package-2.active .flights__tooltip-background {
    right: -1px;
    left: 6px; }

.tooltip-wrapper .ico-info-round-fill, .tooltip-wrapper .ico-tooltips {
  position: relative;
  z-index: 0; }
.flights__table[data-dynamic="false"].next-package .package-3 .tooltip-wrapper, .flights__table[data-dynamic="false"].previous-package .package-2 .tooltip-wrapper {
  background-repeat: repeat-y; }
.flights__table[data-dynamic="false"].next-package .package-3 .tooltip-wrapper {
  background-position: right 0; }
.flights__table[data-dynamic="false"].previous-package .package-2 .tooltip-wrapper {
  background-position: left 0; }
.flights__table[data-dynamic="true"].next-package .package-3 .tooltip-wrapper, .flights__table[data-dynamic="true"].flights__table--no-pey.next-package .package-4 .tooltip-wrapper, .flights__table[data-dynamic="true"].previous-package .package-2 .tooltip-wrapper, .flights__table[data-dynamic="true"].previous-package .package-4 .tooltip-wrapper, .flights__table[data-dynamic="true"].previous-package .border-image .tooltip-wrapper, .flights__table[data-dynamic="true"].next-package .border-image .tooltip-wrapper {
  background-repeat: repeat-y; }
.flights__table[data-dynamic="true"].next-package .border-image .tooltip-wrapper {
  background-image: url("../images/line-2.png");
  background-position: right 0; }
.flights__table[data-dynamic="true"].next-package[data-column="4"] .border-image .tooltip-wrapper {
  background-image: url("../images/line-2.png");
  background-position: 95% 0; }
.flights__table[data-dynamic="true"].previous-package .border-image .tooltip-wrapper {
  background-image: url("../images/line-2.png");
  background-position: left 0; }

.block--redemption .promotion-item__inner {
  margin-bottom: 0; }

.statements .form-calculate-miles .button-group {
  float: left;
  margin-left: 10px; }
.statements .form-calculate-miles .statements-group {
  width: 575px;
  float: left; }

.promotion-desc {
  position: absolute;
  top: 20px;
  left: 0; }
  .promotion-desc .main-heading {
    color: #fff;
    margin-bottom: 20px; }
  .promotion-desc p {
    width: 44%; }

.promotion-heading .main-heading, .promotion-heading .promo-to-title {
  font-size: 28px; }

.promotion-heading .promo-to-country {
  margin-left: 40px; }

.promotion-book-flight .form-promotion-book-flight .button-group-1 {
  margin-top: 30px; }

.promotion-details [class^="promotion-details__"] p {
  width: 80%; }

.seatsmap-page .blk-heading {
  margin-bottom: 26px; }

.seat-equipped-item {
  float: left;
  margin-left: 22px;
  margin-bottom: 5px; }
  .seat-equipped-item:first-child {
    margin-left: 0;
    padding-bottom: 2px;
    position: absolute;
    left: 20px;
    top: 23px; }

.seat-equipped {
  padding-left: 208px; }

.seat-status span {
  line-height: 32px; }

.seat-bg {
  left: 0;
  right: 0; }

.seatmap-wings {
  padding: 0 35px; }

.seatmap-toprow {
  margin-bottom: 45px; }

.seatmap-rownum {
  font-size: 0.875em; }
  .seatmap-rownum.right {
    left: 102%; }
  .seatmap-rownum.left {
    right: 102%; }

.seatmap-facility-lift .seatmap-rownum, .seat-inner-bassinet .seatmap-rownum, .seat-row-hasexit.has-space-forbass.seatmap-facility-lift .seatmap-rownum, .seat-row-hasexit.seat-inner-bassinet .seatmap-rownum {
  top: 45px; }
.seatmap-facility-lift .seat-aisle, .seat-inner-bassinet .seat-aisle, .seat-row-hasexit.has-space-forbass.seatmap-facility-lift .seat-aisle, .seat-row-hasexit.seat-inner-bassinet .seat-aisle {
  height: 90px; }

.seatmap--generic .seatmap-content {
  padding: 30px 20px; }
.seatmap--generic .seatmap__select {
  margin-top: 46px; }
.seatmap--generic .custom-select--seat {
  max-width: 315px; }

.heading-wrap .sub-heading-3--dark, .heading-wrap .sub-heading-2--dark {
  float: left; }
.heading-wrap .print-btn, .heading-wrap .btn-1 {
  float: right; }
.heading-wrap .loading {
  float: right;
  margin: 12px 55px 0 0; }

.account-summary__group .account-summary {
  width: 33.33%; }

.accordion--1 .loading {
  position: absolute;
  top: 50%;
  right: 45px; }
.accordion--1 .booking-form {
  position: absolute;
  top: 50%;
  right: 45px;
  z-index: 2;
  margin-top: -20px; }
.accordion--1 .accordion__control {
  padding: 24px 0; }

.seat-terms-conditions {
  width: 70%; }

.table-default {
  padding: 20px; }

.table--booking .table-row--heading {
  padding-bottom: 20px;
  margin-bottom: 0; }
.table--booking .table-col-1, .table--booking .table-col-2, .table--booking .table-col-3 {
  width: 21%; }
.table--booking .table-col-4 {
  width: 37%; }

.table-allocation {
  width: 100%; }
  .table-allocation tr th {
    padding: 10px 0;
    text-align: right;
    font-size: 14px;
    font-weight: normal;
    color: #666;
    text-align: right; }
    .table-allocation tr th.first {
      width: 45%;
      text-align: left; }
    .table-allocation tr th.second {
      width: 20%; }
    .table-allocation tr th.third {
      width: 35%; }
    .table-allocation tr th:first-child {
      text-align: left; }

.table-allocation--cost tr th.first {
  width: 55%; }
.table-allocation--cost tr th.second {
  width: 25%; }
.table-allocation--cost tr th.third {
  width: 20%; }
.table-allocation--cost tr td {
  text-align: right; }
  .table-allocation--cost tr td:first-child {
    text-align: left; }

.table-responsive .data-title, .table-responsive-1 .data-title {
  display: none; }

.paid-block {
  padding: 25px; }

.paid-item .plus {
  padding: 22px 35px 0 57px; }

.booking-confirm-heading {
  margin-bottom: 28px; }

.booking-reference__item .flights__info--group, .booking-reference__item .info-passengers-group, .booking-reference__item .trave-insurance {
  padding: 10px 20px; }

.booking-reference__item--1 .booking-reference__item__content {
  padding: 20px; }
.booking-reference__item--1 .info-passengers-group {
  padding: 0; }

.table-cost .detail-1 {
  display: none; }

.blk-heading .social {
  position: absolute;
  top: 12px;
  right: 0; }
.blk-heading .social-1 {
  top: 2px; }

.highlights--glance .slides {
  margin-right: -22px; }
.highlights--glance .slide-item {
  width: 33.33333%;
  float: left; }
  .highlights--glance .slide-item img {
    width: 100%; }
.highlights--glance .slick-dots {
  margin-top: 10px; }

.miles-info {
  overflow: hidden; }
  .miles-info > li {
    float: left;
    padding-left: 15px; }
    .miles-info > li:first-child {
      padding-right: 15px;
      padding-left: 0;
      border-right: 1px solid #ccc; }

.popup--flights-details .flights-target__content, .popup--flights-details .info-passengers--style-1, .popup--flights-details-sf .flights-target__content, .popup--flights-details-sf .info-passengers--style-1 {
  padding: 0 20px; }

.popup--allocation .grand-total .btn-1 {
  float: right; }

.button-group-1 > * {
  float: right;
  margin-left: 10px; }

.flights-target {
  margin-bottom: 60px; }

.flights-target--4 {
  margin-bottom: 30px; }

.masthead .top-info .top-info__inner {
  margin: 0 auto;
  max-width: 988px; }
.masthead .top-info .slide__left-desc {
  float: left; }
  .masthead .top-info .slide__left-desc .slide__text--style-2 {
    font-size: 36px; }
.masthead .top-info .slide__right-desc {
  padding: 27px 0 0;
  float: right; }

.blk-heading .sub-heading-1--dark {
  float: left; }
.blk-heading.blk-heading--3 .sub-heading-1--dark {
  float: none; }
  .fare-calendar-page .blk-heading.blk-heading--3 .sub-heading-1--dark {
    margin-top: 55px; }

.blk-heading-control {
  float: right; }

.booking--style-1 .link-5 {
  margin-top: -6px; }

.payments-group__charge .list-cards {
  float: right; }
  .payments-group__charge .list-cards > li {
    margin-left: 10px; }

.wrap-payment-convert .form-inline {
  width: 20%;
  margin-right: 5px; }

.payments--1 .payments-detail__form .input-1--cvv {
  width: 220px; }

.block-1 .blk-heading .main-heading {
  float: left;
  margin-right: 10px; }
.block-1 .blk-heading .sub-heading-1--dark {
  margin-right: 10px; }

.recent-activity .blk-heading a {
  float: right;
  margin: 15px 0 0 30px; }

.two-cols-wrapper {
  overflow: hidden;
  clear: left; }
  .two-cols-wrapper .col-left {
    float: left;
    width: 100%;
    margin-right: -315px; }
    .two-cols-wrapper .col-left > div {
      margin-right: 335px; }

.block--quick-links {
  float: left;
  width: 315px; }
  .block--quick-links .blk-heading a {
    position: absolute;
    top: 50%;
    right: 0px;
    margin-top: -8px; }

.dials .tab {
  float: right;
  margin-top: 3px; }
.dials .dials-inner {
  max-width: 988px;
  padding: 28px 0 43px; }
  .dials .dials-inner .dials__title {
    float: left; }
  .dials .dials-inner .dials-progress-tab .dials__title {
    float: none; }
.dials .dials-chart .item-details__list {
  margin-top: 160px; }
  .dials .dials-chart .item-details__list .item-details__item {
    width: 160px; }
.dials .dials-chart .slide-item {
  float: left;
  width: 50%; }
.dials .dials-chart__item-desc {
  float: left; }
.dials .tab-wrapper .reserve-value .reserve-value__item {
  float: left;
  padding-right: 14px; }
.dials .tab-wrapper .reserve-value .reserve-value__item + .reserve-value__item {
  border-left: 1px solid #dfdfdf;
  padding-left: 14px; }
.dials .dials-progress-tab {
  margin-top: 25px; }
  .dials .dials-progress-tab .tab {
    top: 0; }

.block--redemption .block__title .link-2 {
  position: absolute;
  right: 0px;
  bottom: 0px; }
  .block--redemption .block__title .link-2.block--redemption__view-all {
    bottom: 4px; }

.tabs--3 .tabs--3__btn {
  padding: 0 28px; }

.tabs--5 .tabs--5__btn {
  padding: 0 28px; }

.booking-info {
  display: table; }

.booking-desc .hour {
  font-size: 24px; }

.block--bookings-list .accordion__content {
  margin: 0 -20px; }
.block--bookings-list .booking-info {
  border-top: 1px solid #ccc; }

.statements .table-1 .table-width-5, .recent-activity .table-1 .table-width-5 {
  width: 120px; }

.status-claim-table {
  margin-bottom: 42px; }
  .status-claim-table td {
    vertical-align: top; }
  .status-claim-table .table-width-0 {
    width: 104px; }
  .status-claim-table .table-width-1 {
    width: 174px; }

.flight-history .flight-history__tools {
  position: relative; }
  .flight-history .flight-history__tools .btn--print {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #bbbbbb; }
    .flight-history .flight-history__tools .btn--print .ico-print {
      font-size: 18px;
      line-height: 0; }

.promotion-item--4 .promotion-item__heading, .promotion-item--4 .list-unstyled {
  padding: 0 20px; }
.promotion-item--4 .flight-item {
  float: left;
  width: 32%; }
.promotion-item--4 .promotion-item__content {
  float: left;
  width: 68%;
  padding: 0; }

.form-calculate-miles-1 {
  max-width: 757px; }
  .form-calculate-miles-1 .form-group {
    padding-right: 150px; }
  .form-calculate-miles-1 .button-group {
    position: absolute;
    top: 0px;
    right: 0px;
    zoom: 1; }

.block--flights-miles .blk-filter--city, .block--flights-miles .blk-filter--detail {
  margin-top: 30px; }

.flights-list .flight-item {
  float: left;
  width: 33.33333%; }
.flights-list.promotion-packages-result .flight-item {
  float: none;
  display: inline-block;
  vertical-align: top; }

.form-info-available .block-2 > a {
  padding: 19px 30px 22px 80px; }
.form-info-available .block-2 .title {
  font-size: 24px; }

.form-preferences .heading-wrapper .main-heading {
  float: left;
  width: 60%; }

.form-personal-detail .button-group--noneditable, .form-personal-profile .button-group--noneditable {
  float: right; }

.form-content {
  margin-bottom: 40px;
  padding: 30px 30px 20px 30px; }
  .form__intro + .form-content {
    margin-top: -15px; }

.promotion-book-flight .link-2 {
  position: relative;
  top: -25px; }

.login-message .login-message__text {
  width: 80%;
  float: left; }
  .passenger-detail .login-message .login-message__text {
    width: auto; }
.login-message .process-message {
  width: 73%;
  float: left; }
.login-message .btn-1 {
  float: right; }
  .passenger-detail .login-message .btn-1 {
    float: none; }

.watch-now-message .watch-now-message__text {
  width: 75%;
  float: left;
  line-height: 21px; }

.block--redemption .block__title p {
  max-width: 765px;
  line-height: 1.7; }

.promotion-item__desc {
  height: 84px;
  -webkit-line-clamp: 4; }

.promotion-item--2 .promotion-item__desc {
  height: auto; }

.statements .statement-field {
  float: left; }

.find-your-booking .button-group {
  overflow: hidden;
  position: absolute;
  top: 0; }

.flights__info--group .link-5 {
  display: none; }

.security-wrap {
  padding: 20px 30px; }
  .security-wrap .btn-group-1 {
    position: absolute;
    top: 30px;
    right: 30px; }

.kf-profile-security .button-group--noneditable {
  position: absolute;
  top: 30px;
  right: 30px; }

.custom-checkbox--wrapper {
  max-width: 768px; }

.form__intro:first-child {
  position: relative;
  top: -40px; }

.redemption-nominee-page .main-intro {
  position: relative;
  padding-right: 0; }
  .redemption-nominee-page .main-intro .add-nominee {
    position: absolute;
    top: 0;
    right: 0; }

.add-redemption-nominee-page .main-intro {
  padding-right: 253px; }

.accordion__heading-redemp {
  max-width: 34%; }

.form--redemption-nominee .non-editable fieldset {
  padding-bottom: 23px; }
.form--redemption-nominee .non-editable .form-group--mobile .one-third {
  width: 61%; }
.form--redemption-nominee .non-editable .form-group--mobile .two-third {
  width: 39%; }

.form--redemption-nominee--1 .form-group {
  padding-right: 414px; }
.form--redemption-nominee--1 .form-group--1 {
  padding-right: 315px; }
.form--redemption-nominee--1 .btn-1 {
  margin-left: 10px;
  float: right; }
.form--redemption-nominee--1 .btn-2 {
  float: right; }
  .form--redemption-nominee--1 .btn-2:first-child {
    margin-left: 0; }

.redemp-time {
  position: absolute;
  top: 50%;
  left: 35%;
  margin-top: -6px; }

.message-detail__heading {
  padding: 20px 22px 20px 20px; }

.message-detail__content {
  padding: 27px 20px 7px; }

.message-detail__info {
  float: left;
  width: 80%; }

.message-detail__time {
  float: right; }
  .message-detail__time p {
    margin: 5px 0; }

.message-forward .form-forward {
  padding: 30px 25px 22px 21px; }

.messages-list .custom-checkbox {
  max-width: 15px;
  padding: 25px; }
.messages-list .messages-list__time {
  display: table-cell;
  width: 120px;
  text-align: right; }

.table-baggage .baggage-1 {
  width: 43%; }
.table-baggage .baggage-2 {
  width: 22%; }
.table-baggage .baggage-3 {
  width: 35%; }

.booking--style-3 .booking--style-3__main {
  padding: 20px; }

.booking-info-addon--1 .booking-info-addon__item {
  float: left;
  width: 50%; }

.booking-info--1 .sub-heading, .booking-info--2 .sub-heading {
  font-size: 16px; }
  .booking-info--1 .sub-heading span, .booking-info--2 .sub-heading span {
    display: inline-block;
    padding: 2px 0 4px;
    line-height: 14px; }
.booking-info--1 .booking-info--2__item, .booking-info--2 .booking-info--2__item {
  padding: 20px; }

.icon-group-1 {
  float: right; }

.booking-details .col-custom, .booking-details .col-4 {
  position: absolute;
  top: 0px;
  right: 0px; }
.booking-details .col-1 {
  margin-top: -14px;
  top: 50%; }
.booking-details .col-2 {
  position: absolute;
  top: 50%;
  left: 65px;
  width: 80px;
  font-size: 16px;
  margin-top: -10px; }
.booking-details .col-3 {
  margin: 0 130px 0 145px;
  padding: 20px; }
.booking-details .col-4 {
  padding: 20px 0;
  width: 130px; }
.booking-details.single-line .col-3 p {
  margin: 10px 0; }
.booking-details .booking-col .align-wrapper {
  min-height: 20px; }

.add-ons-item .add-ons-item__content .item-left-col {
  float: left;
  margin-right: 20px; }
.add-ons-item .item-right-col, .add-ons-item .item-right-col--1 {
  padding: 20px 0;
  overflow: hidden; }

.booking-status .booking-status-col.col-1 {
  width: 80%;
  border-right: 1px solid #e1e1e1; }
.booking-status .booking-status-col.col-2 {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 20%; }
.booking-status .booking-status-info {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center; }
  .booking-status .booking-status-info span {
    display: table-cell;
    vertical-align: middle;
    padding: 0 10px; }

.form-change-flight .blk-control {
  float: right; }
.form-change-flight .sub-heading-3--dark {
  float: left; }

.multi-flight .ico-airplane-lift {
  position: absolute;
  top: 50%;
  left: 17px;
  margin-top: -30px;
  font-size: 50px;
  color: #ccc; }
.multi-flight a[data-remove-stopover] {
  top: 27px;
  right: 20px; }
.multi-flight .form-wrapper .form-group-1 {
  float: left;
  width: 72%; }
.multi-flight .form-wrapper .form-group-2 {
  float: left;
  width: 28%; }

.multi-flight--change .ico-airplane-lift {
  top: 50%;
  margin-top: -25px; }

.add-baggage-page .main-heading {
  padding-bottom: 38px; }

.paid-summary.type-1 .paid-item, .paid-summary.type-1 .middle-item {
  display: inline-block; }

.block--account-summary-chart .chart-info-row {
  padding: 9px 0;
  margin-left: 0; }
  .block--account-summary-chart .chart-info-row + .chart-info-row {
    border-top: 1px solid #dedede; }

.booking--style-2 {
  padding-bottom: 15px; }
  .booking--style-2 .accordion__control {
    padding: 19px 0 16px; }

.expenditure .table-info td {
  padding: 26px 20px 27px; }

.paid-block br {
  display: none; }

.table-manage-user th:first-child {
  padding-left: 65px; }
.table-manage-user th.table-width-3 {
  width: 190px; }
.table-manage-user th a {
  position: static; }

.booking--style-2 h3.custom-checkbox--1 input + label {
  margin-right: 220px; }

.check-flight-details {
  display: none; }

.search-flight .popup__close, .filter-flight-history .popup__close {
  display: none; }

.flight-history-table {
  padding-top: 30px; }

.filter-flight-history .form-group-1 {
  width: 66.6666%;
  float: left; }

.popup--intro-lightbox .popup__heading {
  font-size: 36px;
  margin: 40px 0 0; }
.popup--intro-lightbox .intro-list {
  display: inline-block; }
  .popup--intro-lightbox .intro-list li {
    float: left; }
    .popup--intro-lightbox .intro-list li + li {
      margin-left: 15px; }
.popup--intro-lightbox .button-group {
  margin: 31px 0 42px; }

[class*="col-mb-"] {
  float: left; }

.col-mb-6 {
  width: 50%; }

.col-mb-3 {
  width: 25%; }

.landing-form {
  margin-top: 30px; }

.flight-history-table tbody tr {
  border-top: 1px solid #f2f2f2; }
  .flight-history-table tbody tr:first-child {
    border-top: none; }
  .flight-history-table tbody tr:nth-child(even) {
    background-color: #fff; }

.block--full-page .block--full-page__inner {
  max-width: 988px; }
.block--full-page.block--full-page--no-padding {
  padding: 0; }

.what-to-do .what-to-do__content .sub-heading-2--blue {
  max-height: 61px;
  overflow: hidden;
  line-height: normal; }
.what-to-do .what-to-do__content .text-block__text {
  max-height: 95px;
  overflow: hidden; }

.text-block {
  height: 188px; }
  .text-block .info-link-1 {
    position: absolute;
    bottom: 10px;
    left: 20px; }

.full-banner--img, .component-carousel__background {
  float: left; }

.block-city-info .col-mb-6 {
  width: 47%; }
  .block-city-info .col-mb-6:first-child {
    margin-right: 6%; }
.block-city-info .city-info__content > li {
  padding: 25px 0; }

.static-item.static-item--large .static-item__link {
  padding-right: 10px;
  padding-left: 14px; }
.static-item.static-item--large .static-item__name {
  padding-right: 45px;
  padding-left: 14px; }
.static-item.static-item--large .static-item__name {
  font-size: 24px; }
.static-item.static-item--large .static-item__detail {
  bottom: 12px; }
.static-item.static-item--large .static-item__info {
  height: 282px; }
.static-item .static-item__info {
  height: 131px; }

.static-block-3 .static-item.static-item--large .static-item__info {
  height: auto; }

.where-destination__inner {
  margin-right: -20px; }

.editor img.left {
  margin-right: 30px; }
.editor img.right {
  margin-left: 30px; }
.editor img.content-type-1 {
  max-width: 286px;
  min-width: 286px;
  height: auto; }

.static-block--item-unique .static-item {
  float: left; }
  .static-block--item-unique .static-item .static-item__info {
    height: 179px; }

.ent-item {
  vertical-align: top;
  display: inline-block;
  font-size: 14px; }

.entertaiment-result {
  font-size: 0;
  overflow: hidden; }

.entertaiment-tab .main-heading {
  float: left; }
.entertaiment-tab .tabs--3 {
  float: right; }

.static-block--item-3 {
  float: left; }
  .static-block--item-3 .static-item__desc {
    min-height: 90px; }

.heritage-intro {
  margin-bottom: 60px; }

.heritage-nav .heritage-nav__list {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 235px;
  padding-left: 85px; }
  .heritage-nav .heritage-nav__list ul {
    list-style: none; }
    .heritage-nav .heritage-nav__list ul li {
      height: 26px;
      line-height: 26px; }
      .heritage-nav .heritage-nav__list ul li + li {
        margin-top: 2px; }
      .heritage-nav .heritage-nav__list ul li a {
        display: inline-block;
        padding-left: 10px;
        border-left: 6px solid #ccc;
        color: #999; }
        .heritage-nav .heritage-nav__list ul li a:hover, .heritage-nav .heritage-nav__list ul li a.active {
          font-weight: bold;
          border-color: #000;
          color: #000; }
.heritage-nav .heritage-nav__select {
  display: none; }

.heritage-item {
  padding-left: 25px; }
  .heritage-item .heritage-item__inner {
    padding: 0 20px 20px;
    margin-left: 5px; }
  .heritage-item + .heritage-item .heritage-highlight__circle, .heritage-item + .heritage-item .heritage-highlight__arrow {
    top: 15px; }

.heritage-highlight__circle {
  left: -8px;
  width: 13px;
  height: 13px; }

.heritage-highlight__arrow {
  top: -5px;
  right: -30px; }

.full-banner img {
  height: 250px; }
.full-banner .destination-img img {
  height: 287px; }

.static-item-2 .static-item-2--img {
  float: left;
  width: 32%; }

.accordion .accordion__item {
  padding: 20px; }
  .accordion .accordion__item img.left {
    margin-right: 30px; }
  .accordion .accordion__item img.right {
    margin-left: 60px; }
  .accordion .accordion__item img.content-accordion {
    max-width: 184px;
    min-width: 184px;
    height: auto; }

.content-left {
  width: 60%;
  width: calc(100% - 244px);
  float: left; }

.editor table {
  width: 100%; }
  .editor table th {
    background-color: #363636;
    color: #fff;
    padding: 25px 20px;
    text-align: left;
    font-weight: bold; }
    .editor table th a {
      color: #fff;
      position: relative; }
      .editor table th a .ico-point-d {
        font-size: 10px;
        margin-top: -5px;
        position: absolute;
        top: 50%;
        right: -20px; }
  .editor table td {
    padding: 20px; }
  .editor table.fares-table th {
    color: #666;
    font-weight: normal;
    background-color: transparent;
    padding: 5px 0;
    width: 50%; }
  .editor table.table-1--border td {
    padding-top: 25px;
    padding-bottom: 25px; }

.fare-basic-table th.th-6 {
  width: 16.667%; }

.static-item-1 {
  float: left; }

.group-input-2 .grid-col--half {
  width: 50%; }

.form-select-hotel .price-range {
  width: 80%; }
.form-select-hotel .slider .slider__inner {
  padding-left: 7px;
  padding-right: 7px; }
.form-select-hotel .rating-hotel {
  float: right; }

.list-hotel, .stopover-holiday-block {
  padding: 20px; }

.hotel-item {
  overflow: hidden; }
  .hotel-item .hotel-item__thumb, .hotel-item .hotel-item__inner {
    float: left; }
  .hotel-item .hotel-item__thumb .wrap-img {
    margin-top: 7px;
    margin-right: 18px; }
  .hotel-item .hotel-item__thumb .btn-gradient {
    top: 2px; }
  .hotel-item .info-list .text {
    float: left;
    width: 132px; }
  .hotel-item .info-list .info {
    float: left;
    width: 230px; }
    .hotel-item .info-list .info.info-icons {
      width: 320px; }
  .hotel-item .hotel-item__price {
    text-align: right;
    position: absolute;
    top: 0px;
    right: 0px; }

.hotel-item--1 {
  padding-top: 5px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e5e5e5; }
  .hotel-item--1 .hotel-item__thumb {
    width: 33.3%; }
  .hotel-item--1 .hotel-item__inner {
    width: 66.6%; }
  .hotel-item--1 .hotel-item__content .address {
    max-width: 342px; }
  .hotel-item--1 .hotel-item__heading {
    max-width: 285px; }
  .hotel-item--1 .hotel-item__price {
    max-width: 150px; }

.hotel-item--2 .hotel-item__thumb {
  width: 36.3%; }
.hotel-item--2 .hotel-item__inner {
  width: 63.7%; }
.hotel-item--2 .hotel-item__info {
  margin-top: 27px; }

.terms-conditions--2 {
  padding: 25px 20px; }

.ssh-block .ssh-block__main {
  padding: 20px; }

.btn-gradient.visible-mb {
  display: none; }

.additional-requests .additional-group--1 {
  padding-right: 40px; }
.additional-requests .custom-checkbox + .custom-checkbox {
  margin-top: 10px; }

.additional-item__inner {
  margin-left: 23px; }

.form-feedback .block-2 {
  margin-top: 20px; }

.list-receipt__info-group {
  display: table;
  width: 100%; }
  .list-receipt__info-group .list-receipt-info {
    display: table-cell;
    vertical-align: middle;
    width: 50%; }

.table-compare-packges th, .table-compare-packges td {
  text-align: center; }
  .table-compare-packges th:first-child, .table-compare-packges td:first-child {
    text-align: left;
    width: 31%; }
.table-compare-packges .text-content {
  display: block;
  text-align: center;
  margin-top: 5px; }

.watch-list li {
  float: left;
  width: 50%; }

.dashboard-wrapper .block--quick-links .blk-heading .link-4 {
  position: static; }

.editor .watch-list-1 {
  margin: 0 -10px 0 0; }
  .editor .watch-list-1 .slide-item {
    float: left; }
  .editor .watch-list-1 .info-watch-1 {
    margin-right: 10px; }

.slickslider--custom .slick-next {
  right: 10px; }

.video-block .wrap-video {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }
  .video-block .wrap-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.booking-summary .loading--medium-2 {
  margin: 5px 13px 15px; }

.reservations-accordion .group-input-2 > .error .check-date-rd {
  margin-top: 30px; }
.reservations-accordion .group-input-2 > .error > .text-error {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 45px; }

.booking-summary .loading--medium-2 {
  margin: 5px 13px 15px; }

.captcha-form {
  max-width: 454px; }

.financial-partners-block {
  font-size: 0; }

.convert-confirm-content dl.one-third {
  display: inline-block;
  width: 33%;
  clear: none; }

.accordion-component--list .accordion-wrapper-heading .sub-heading-2--blue {
  max-width: 72%; }

.video-block--custom-width-1 {
  max-width: 578px; }

.editor .contact-table tr td:first-child {
  width: 35%; }

.baggage-info-details .review-cancel__group {
  padding: 20px; }
.baggage-info-details .membership-tier {
  float: right; }
.baggage-info-details .pref-bag .ico-business-1 {
  font-size: 31px; }

.booking-details__baggage .col-3 .align-inner {
  display: table; }
.booking-details__baggage .booking-details__baggage-left, .booking-details__baggage .booking-details__baggage-right {
  display: table-cell; }
.booking-details__baggage .booking-details__baggage-left {
  white-space: nowrap;
  font-weight: bold;
  padding-right: 5px; }
.booking-details__baggage .col-1 {
  top: 25px;
  margin-top: 0; }
.booking-details__baggage .col-2 {
  top: 29px;
  margin-top: 0; }

.review-cancel--1__item {
  padding: 12px 17px; }

.baggage-customer .accordion__control {
  padding-top: 15px; }
.baggage-customer .review-cancel--1__item .review-cancel-text {
  width: 56%;
  float: left;
  margin-top: 2px; }
  .baggage-customer .review-cancel--1__item .review-cancel-text [class^="ico-"] {
    margin-top: 2px; }
.baggage-customer .review-cancel--1__item .add-baggage-list {
  float: left;
  margin-left: 15px; }

.account-summary__group .account-summary .btn-1 {
  float: right;
  margin-top: 5px; }

.krisflyer-booking.detail-image img.left {
  margin-right: 14px; }

.popup--send-checkin-confirmation .form--email-address .table-content--1 {
  height: 247px; }

.packages__wrapper .packages__detail {
  float: left;
  width: 254px; }
.packages__wrapper .packages__image {
  float: right;
  width: calc(100% - 254px); }

.packages .flexslider--2 .slick-prev, .packages .flexslider--2 .slick-next {
  margin-top: -20px; }
.packages .flexslider--2 .slick-prev {
  left: 254px; }
.packages .flexslider--2 .slick-dots {
  box-sizing: border-box;
  bottom: -24px;
  padding-left: 254px; }

img.lightbox-half {
  max-width: 270px;
  min-width: 270px;
  height: auto; }

.blk-heading--promotions .social {
  top: 17px;
  right: -6px; }

.form--add-point-sale .text-error span {
  padding-left: 5px; }

.component-join-kf .login-message {
  max-width: 696px; }

.component-column-content .what-to-do .text-block__text {
  max-height: 126px; }

.component-promt .static-item-2 .static-item-2--img {
  width: 29%; }

.component-body-copy img {
  max-width: 286px; }
.component-body-copy .component-body-copy__text {
  margin-top: -4px; }

.form-station .custom-width {
  width: 362px; }

.promotion-result {
  position: relative; }

.promotion-result--enhance .editor table tr td:first-child {
  padding-top: 5px; }

.popup--bag-tag-number .popup__inner {
  max-width: 460px; }

.editor .battery-table {
  width: 671px; }
  .editor .battery-table th:first-child, .editor .battery-table td:first-child {
    padding-left: 30px; }

.booking-widget.sticky .booking-widget__inner .booking-widget__content {
  max-width: 928px;
  margin: 0 auto; }
.booking-widget.booking-widget-destination {
  max-width: 968px; }

.news-announcements-component .blk-heading .link-2 {
  float: right; }

.popup--intro-lightbox-comingsoon .popup__inner {
  max-width: 700px; }
.popup--intro-lightbox-comingsoon .popup__close {
  top: 5px;
  right: 5px; }

.popup--ent .popup__inner {
  max-width: 334px;
  min-width: 334px; }

.donate-mile__detail {
  display: table; }
  .donate-mile__detail figure {
    display: table-cell; }
    .donate-mile__detail figure img {
      width: auto; }
  .donate-mile__detail .description {
    display: table-cell;
    padding-left: 40px;
    vertical-align: top; }

.interstitial-block {
  margin-left: -295px;
  min-width: 590px; }
  .interstitial-block .progress-flying {
    width: 535px;
    height: 248px; }

.static-sqc__list-1, .static-sqc__list {
  overflow: hidden;
  margin-left: -10px;
  margin-right: -10px; }
  .static-sqc__list-1 .static-sqc__item-1, .static-sqc__list-1 .static-sqc__item, .static-sqc__list .static-sqc__item-1, .static-sqc__list .static-sqc__item {
    float: left; }
    .static-sqc__list-1 .static-sqc__item-1 .inner, .static-sqc__list-1 .static-sqc__item .inner, .static-sqc__list .static-sqc__item-1 .inner, .static-sqc__list .static-sqc__item .inner {
      margin-left: 10px;
      margin-right: 10px; }

.static-sqc__list-1 .static-sqc__item-1 {
  width: 33.33333%; }
  .static-sqc__list-1 .static-sqc__item-1 .inner {
    min-height: 112px; }
    .static-sqc__list-1 .static-sqc__item-1 .inner p {
      margin-bottom: 0; }

.static-sqc__list .static-sqc__item {
  float: left;
  width: 50%; }
  .static-sqc__list .static-sqc__item .inner {
    min-height: 365px; }

img.content-type-1 {
  max-width: 286px;
  min-width: 286px;
  height: auto; }

.membership-card {
  padding: 40px 38px; }
  .membership-card .card-image, .membership-card .card-info, .membership-card .card-info__col {
    float: left; }
  .membership-card .card-image {
    width: 38%; }
  .membership-card .card-info {
    width: 62%; }
  .membership-card .card-info__col {
    width: 42%;
    margin-left: 8%; }
  .membership-card .btn-group {
    clear: both;
    margin-left: 8%;
    float: left;
    width: 100%; }

.membership-digital .card-image {
  width: 40%; }
.membership-digital .membership-digital__content {
  padding: 35px 39px; }

.private-form .salutation {
  max-width: 150px; }

.travel-widget .form-group--tooltips .link-2 {
  position: absolute;
  right: 0;
  top: 0; }
.travel-widget .form-group--tooltips.expand-form .link-2 {
  right: 50%;
  margin-right: 20px; }

.travel-widget--1 .form-book-car .input-3 .input-3__label {
  max-width: 70px; }
.travel-widget--1 .form-book-car .input-3 .input-3__text input {
  padding-left: 72px; }

.sq-upgrade-marketing-page .block-upgrade .block-list {
  display: table;
  margin-left: -13px;
  margin-right: -13px;
  border-spacing: 13px; }
.sq-upgrade-marketing-page .block-upgrade-enjoy {
  display: table; }
  .sq-upgrade-marketing-page .block-upgrade-enjoy .image {
    display: table-cell;
    vertical-align: middle;
    padding-right: 40px;
    max-width: 300px; }
  .sq-upgrade-marketing-page .block-upgrade-enjoy img {
    max-width: 300px; }
  .sq-upgrade-marketing-page .block-upgrade-enjoy .text {
    display: table-cell;
    vertical-align: middle; }
.sq-upgrade-marketing-page .block-content {
  padding: 5px 0 7px; }
.sq-upgrade-marketing-page .container-accordion .ico-point-d {
  right: -10px; }

.block-item {
  width: 33%;
  display: table-cell; }
  .block-item .image img {
    vertical-align: bottom; }

.voucher-list {
  display: table;
  width: 100%; }
  .voucher-list .item-row {
    display: table-row;
    background-color: #fff; }
  .voucher-list .item-cell {
    padding: 10px 20px;
    width: 25%;
    display: table-cell;
    vertical-align: middle;
    border-top: 2px solid #f2f2f2; }

.block__flight--segment + .block__flight--segment {
  margin-top: 30px; }

.voucher-flight-segment .custom-button {
  margin-left: 20px;
  max-width: 40%; }

.popup--term-conditions .popup__inner, .popup--miles-calculated .popup__inner {
  max-width: 602px; }

.block-manage-voucher .use-voucher-booking {
  position: relative; }
  .block-manage-voucher .use-voucher-booking li {
    width: 30%;
    float: left; }
  .block-manage-voucher .use-voucher-booking .btn-1 {
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -20px; }

.group-progress {
  padding-top: 65px;
  min-height: 200px; }
  .group-progress .progress-bar {
    width: 74%;
    padding-left: 95px; }
  .group-progress .time-end {
    right: -160px;
    top: -37px; }
  .group-progress .time-start {
    left: -95px;
    top: -34px; }
  .group-progress .milestones {
    width: 100%;
    height: 8px; }
    .group-progress .milestones.milestones-animate {
      height: 8px; }
  .group-progress .milestones-bar--left, .group-progress .milestones-bar--right {
    top: 0;
    height: 8px; }
  .group-progress .milestones-bar--left {
    left: 0;
    width: 50%; }
  .group-progress .milestones-bar--right {
    left: 50%;
    width: 50%; }
  .group-progress .milestones-item-1 {
    left: 20%; }
  .group-progress .milestones-item-2 {
    left: 40%; }
  .group-progress .milestones-item-3 {
    left: 60%; }
  .group-progress .milestones-item-4 {
    left: 80%; }
  .group-progress .milestones-item-5 {
    left: 100%; }
  .group-progress .milestones-item-6 {
    left: 25%; }
  .group-progress .milestones-item-7 {
    left: 75%; }
  .group-progress .milestones-item.active .milestones-item__info:before {
    top: -53px;
    height: 47px; }
  .group-progress .milestones-item__info {
    top: 70px; }
    .group-progress .milestones-item__info .line {
      left: 0;
      top: -50px;
      height: 44px;
      width: 1px; }
    .group-progress .milestones-item__info .desc {
      margin-left: -60px;
      text-align: center; }
    .group-progress .milestones-item__info .icon-milestones {
      top: -79px;
      left: -12px; }
  .group-progress .tooltip-progress {
    top: -55px;
    margin-left: -65px; }
    .group-progress .tooltip-progress:before {
      top: 100%;
      left: 50%;
      margin-left: -7px;
      border-color: #ccc transparent transparent transparent; }

.use-voucher-thankyou-page .main-heading {
  display: inline-block; }

.form-search-car .driver-field {
  margin-right: 2px; }
  .form-search-car .driver-field .btn-1 {
    position: absolute;
    top: 0;
    right: 0; }

.addon-car-editfilter .block-apply {
  display: table; }
  .addon-car-editfilter .block-apply .select-size {
    width: 117px; }
.addon-car-editfilter .btn-apply {
  padding-right: 28px;
  padding-left: 27px; }
.addon-car-editfilter .block-check {
  display: table-cell;
  padding-right: 38px; }
.addon-car-editfilter .block-filters .block-item-choose {
  float: left;
  width: 72%;
  min-height: 71px; }
.addon-car-editfilter .block-filters .sort {
  float: left;
  width: 28%; }

.list-cars-result .item-result + .item-result {
  margin-top: 20px; }
.list-cars-result figure {
  float: left;
  max-width: 210px; }
  .list-cars-result figure img {
    width: 100%; }
.list-cars-result .content-result {
  padding-left: 230px; }
.list-cars-result .supplied-by {
  position: absolute;
  left: 20px;
  bottom: 20px; }
.list-cars-result .price-car {
  position: absolute;
  top: 18px;
  right: 30px; }
  .list-cars-result .price-car .btn-1 {
    min-width: 90px; }
.list-cars-result .cancellation {
  margin-top: 26px; }
  .list-cars-result .cancellation li, .list-cars-result .cancellation .free-tooltip {
    display: inline-block;
    width: 49%; }
.list-cars-result .location li {
  max-width: 130px; }
  .list-cars-result .location li + li {
    padding-left: 15px; }
.list-cars-result.car-extra .miles {
  display: none; }

.full-protection table {
  margin-top: 30px; }
.full-protection .content-tbody td {
  padding: 18px; }
.full-protection .inner-full-protection {
  display: none; }
.full-protection .item-hidden {
  display: none; }
.full-protection .button-group-2 {
  margin-bottom: 8px; }
  .full-protection .button-group-2 span {
    float: left;
    padding-top: 8px; }
  .full-protection .button-group-2 .btn-4, .full-protection .button-group-2 .btn-1 {
    float: right; }

.block-extras .custom-select {
  max-width: 90px; }

.ancillary-sales .list-desc-extra .item-desc .text {
  float: left; }
.ancillary-sales .list-desc-extra .item-desc .image {
  float: right; }

.car-avaliable .slick-dots {
  margin-top: 10px; }
.car-avaliable .flexslider--3 .slick-next {
  right: -10px; }
.car-avaliable .flexslider--3 .slick-prev:before, .car-avaliable .flexslider--3 .slick-next:before {
  margin-top: 24px; }
.car-avaliable .flexslider .slick-prev:before {
  margin-left: -1px; }
.car-avaliable .flexslider .slick-next:before {
  margin-left: -9px; }
.car-avaliable .flexslider--3 .slick-dots {
  margin-left: 6px; }

.add-ons__list--sales .item.item--1 .price-room {
  width: 50%;
  padding-right: 0; }
.add-ons__list--sales .hotel-infor figure {
  width: auto;
  display: block;
  padding-right: 0; }

.hotel-room--details .fare-basic-table .btn-group .btn-1 {
  width: 64px; }
.hotel-room--details .terms-conditions {
  position: relative; }
  .hotel-room--details .terms-conditions .include-price {
    position: absolute;
    top: 10px;
    right: 20px; }

.car-avaliable .flexslider {
  overflow: hidden;
  margin-bottom: 17px; }
.car-avaliable .slick-slider {
  margin-bottom: 45px; }

.menu-main .menu-item.active > a:before {
  content: "";
  height: 40px;
  display: block;
  position: absolute;
  bottom: -10px;
  left: 20px;
  right: 0; }

.menu-sub .menu-sub__close {
  display: none; }

.footer > .footer-inner {
  max-width: 988px;
  padding-top: 28px; }
.footer .social__right-block {
  margin-top: 27px; }

.beta-footer {
  margin: 0 0 25px; }
  .beta-footer > .beta-footer-inner {
    padding: 0 0 16px;
    text-align: center; }
  .beta-footer .beta-footer__text {
    display: inline-block;
    margin: 0 8px 10px 0; }
  .beta-footer .btn-1 {
    margin: 0 0 10px 9px; }

.booking-summary {
  width: 233px;
  position: absolute;
  right: 0;
  margin-bottom: 20px; }
  .booking-summary .grand-total .info-charge {
    padding-left: 55px; }

.passenger-details-page .booking-summary.active {
  z-index: 1001; }
  .passenger-details-page .booking-summary.active.reset-zindex {
    z-index: 4; }

.alert-custom-width {
  width: 71%; }

.booking-nav__shadow {
  display: block;
  position: absolute;
  top: 0;
  right: 14px;
  bottom: 0;
  width: 30px;
  -webkit-box-shadow: 7px 0 9px -9px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 7px 0 9px -9px rgba(50, 50, 50, 0.3);
  box-shadow: 7px 0 9px -9px rgba(50, 50, 50, 0.3); }

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 138px;
  width: 255px;
  padding-right: 14px; }
  .sidebar .inner {
    width: 255px;
    padding-right: 14px; }

.condition-contract {
  margin-bottom: 230px; }

.menu {
  padding-left: 44px; }
  .menu .menu-bar > ul {
    float: right;
    padding-top: 20px; }
    .menu .menu-bar > ul > li {
      float: left;
      line-height: 1.4; }
      .menu .menu-bar > ul > li:first-child {
        margin-left: 0; }
  .menu .menu-bar .login {
    padding-left: 8px; }

.back-to-menu {
  display: none; }

.menu-main .menu-item {
  position: relative; }
  .menu-main .menu-item > a {
    font-size: 17px; }
.menu-main > ul > li {
  float: left;
  min-height: 24px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 73px;
  height: 72px; }
  .menu-main > ul > li:nth-child(2) {
    padding-left: 20px; }

.sub-item {
  float: left;
  width: 20%; }
  .sub-item > .sub-item-inner {
    padding: 5px; }
  .sub-item .sub-item-heading {
    color: #363636;
    font-size: 17px; }
  .sub-item ul {
    border-top: 1px solid #eaeae9; }
    .sub-item ul li {
      border-bottom: 1px solid #eaeae9;
      padding: 8px; }
      .sub-item ul li a {
        color: #666; }

.menu-sub {
  background-color: #fff; }
  .menu-sub .menu-sub-outer {
    overflow: hidden;
    max-width: 1022px;
    margin: 10px auto 20px; }
  .menu-sub .menu-sub-list + .menu-sub-list {
    margin-top: 15px; }
  .menu-sub .menu-sub__join {
    max-width: 1022px; }
    .menu-sub .menu-sub__join li {
      padding-left: 12px; }
      .menu-sub .menu-sub__join li a {
        color: #363636;
        font-size: 17px; }

.menu-sub__join {
  margin: 25px auto; }

.travel-widget .tab {
  display: table;
  width: 100%; }
  .travel-widget .tab .tab-item {
    display: table-cell;
    float: none;
    vertical-align: middle;
    text-align: center;
    padding: 7px 5px 5px;
    height: 35px; }
    .travel-widget .tab .tab-item a {
      line-height: 1.3;
      display: inline; }

.travel-widget--expanded .tab {
  width: 50%; }

.news-ticker .news-ticker-inner {
  max-width: 988px;
  padding: 9px 0; }
.news-ticker .news-ticker__content {
  padding-left: 93px; }

.fare-deals-list--tablet {
  display: none; }

.fare-deals-list {
  width: 50%;
  float: left; }

.hidden-tablet.visible-mb {
  display: block; }

.blk-heading.blk-heading--1 {
  width: 74%; }
  .payments-page .blk-heading.blk-heading--1.block--shadow {
    position: static; }

.blk-heading .tools-list--1 {
  top: 93px; }

.header > .header-inner {
  max-width: 988px; }

.grid-row-1 .one-half {
  width: 100%; }

.news-ticker .link-2 {
  padding-right: 0; }

.form-passenger-detail .form-group, .form-passenger-detail .button-group-1 {
  padding-right: 40px; }
.form-passenger-detail .form-group-2 {
  padding-right: 137px; }

.booking-info-group .booking-info .booking-info-item {
  width: 50%; }

.booking-confirm-list {
  display: table-cell;
  width: 60%; }
  .booking-confirm-list li {
    width: 33.33%;
    text-align: right; }

.booking-passenger-list li {
  width: 33.32%; }

.passenger-detail {
  margin-left: 315px; }

.promo-filter-results {
  display: none; }

.form-fare-filter-city .from-select {
  min-width: 202px; }
.form-fare-filter-city .price-range {
  width: 24%;
  margin-left: 32px; }

.form-fare-filter .grid-row {
  padding-right: 88px; }
.form-fare-filter .one-four {
  width: 22%; }
.form-fare-filter .aside-button {
  position: absolute;
  right: 10px;
  top: 0; }
.form-fare-filter.form-promotion--enhance .grid-row {
  padding-right: 0; }
.form-fare-filter.form-promotion--enhance .grid-col {
  max-width: 410px;
  width: 100%;
  margin-right: 40px; }
  .form-fare-filter.form-promotion--enhance .grid-col.price-range {
    max-width: 540px;
    margin-right: 0; }

.promotion-item--2 {
  width: 33.2%; }

.fares-details-page .blk-heading {
  margin-bottom: 40px; }
.fares-details-page .main-heading {
  float: left;
  width: 75%;
  font-size: 34px;
  line-height: 1.2; }
.fares-details-page .share {
  float: right;
  margin-right: 0;
  margin-top: 15px; }

.promotion-conditions-text {
  width: 50%;
  float: left; }
  .promotion-conditions-text dt {
    width: 34%;
    float: left; }
  .promotion-conditions-text dd {
    width: 66%;
    float: right; }
  .promotion-conditions-text.full {
    width: 100%; }
  .promotion-conditions-text.right {
    clear: right; }

.share {
  float: left;
  margin-right: 24px; }

.promotion-book-flight .form-promotion-book-flight {
  float: right;
  width: 48.989%; }
.promotion-book-flight figure {
  float: left;
  width: 51.011%; }
.promotion-book-flight .flight-item {
  margin-right: 20px; }
.promotion-book-flight .form-promotion-book-flight .input-3 .input-3__text {
  padding-left: 70px; }

.flight-search-calendar__content .flight-search-calendar__item {
  width: 14.28571%; }

.flights__table tr th {
  width: 12.5%; }
  .flights__table tr th:first-child {
    width: 50%; }
.flights__table.next-package[data-column="4"] .border-image {
  width: 14%; }

.form-search-flight-1 .flight-group {
  width: 20%; }
.form-search-flight-1 .radio-group {
  width: 15.8%; }
.form-search-flight-1 .depart-group, .form-search-flight-1 .date-group {
  width: 26%; }
.form-search-flight-1 .one-four {
  width: 24.5%; }

.flight-by-route .two-four {
  width: 47.5%; }

.menu .menu-bar > ul > li > a.status {
  padding-bottom: 0;
  padding-top: 0;
  margin-top: 2px; }

.orb-confirmation-page .blk-heading, .orb-confirmation-page .main-inner > .main-intro {
  width: 74%; }
.orb-confirmation-page .main-intro {
  padding-right: 0; }
.orb-confirmation-page .blk-heading.blk-heading--1.block--shadow {
  position: relative; }

.blk-heading--1 + .main-intro {
  width: 74%; }

.orb-payments-page .payments-detail__form {
  width: 74%; }
  .orb-payments-page .payments-detail__form .main-intro {
    padding-right: 0;
    margin-top: 8px; }
    .orb-payments-page .payments-detail__form .main-intro .sub-heading-1--dark {
      margin-bottom: 22px; }
    .orb-payments-page .payments-detail__form .main-intro p {
      margin-top: 0; }

.flights__info--group .flights__info--detail .date br {
  display: none; }

.seatmap {
  margin-left: 295px;
  min-height: 450px; }

.seat-legend {
  display: none; }

.seat-status {
  padding: 24px 0 0 12px; }

.seatmap--generic .seatmap-content {
  margin-top: 50px; }

.flights__info--group .flights__info--detail {
  width: 43%; }
  .flights__info--group .flights__info--detail .ico-airplane-lift {
    left: 36%; }

.flight__calendar .control-horizontal {
  width: 87.5%; }
.flight__calendar .control-vertical {
  height: 87.5%;
  width: 12.5%; }

.content-wrapper {
  width: 74%; }

.content-wrapper-1 {
  width: 66%; }

.booking .sub-heading-2--dark {
  margin-top: 15px;
  margin-bottom: 10px; }

.booking-confirm-heading {
  display: table;
  width: 100%; }

.booking-confirm__desc {
  display: table-cell;
  width: 40%; }

.booking--style-1 .booking-info .booking-info--width-1 {
  width: 17.5%; }
.booking--style-1 .booking-info .booking-info--width-2 {
  width: 29%; }
.booking--style-1 .booking-info .booking-info--width-3 {
  width: 25%; }
.booking--style-1 .booking-info-item {
  padding: 24px 0; }

.tab-select {
  display: none; }

.highlights--glance figcaption {
  min-height: 161px; }

.masthead ul {
  list-style: none; }
.masthead .top-info {
  padding: 50px 0 38px; }
.masthead .menu-block .menu__items-wrapper {
  border-bottom: 6px solid #000; }
.masthead .menu-block .menu__select {
  display: none; }
.masthead .menu-block .menu__items {
  overflow: hidden;
  max-width: 988px;
  margin: 0 auto; }
  .masthead .menu-block .menu__items .menu__item {
    padding: 0 0 15px 0; }
    .masthead .menu-block .menu__items .menu__item.active:before {
      content: '';
      bottom: 0;
      left: 50%;
      margin-left: -6px;
      width: 0px;
      height: 0px;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 7px solid #000;
      position: absolute; }
    .masthead .menu-block .menu__items .menu__item.active a {
      color: #fff; }
.masthead .menu-block .menu__item {
  float: left;
  margin: 0 0 0 30px;
  position: relative; }
  .masthead .menu-block .menu__item:first-child {
    margin-left: 0; }
  .masthead .menu-block .menu__item a {
    font-weight: 400;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    color: #fff; }
.masthead .menu-block .sub-nav {
  background-color: #fff;
  position: relative; }
.masthead .menu-block .menu__sub-nav {
  overflow: hidden;
  max-width: 988px;
  margin: 0 auto;
  font-size: 0; }
  .masthead .menu-block .menu__sub-nav .menu__item {
    float: left;
    margin: 0 0 0 30px;
    display: inline-block; }
    .masthead .menu-block .menu__sub-nav .menu__item:first-child {
      margin-left: 0; }
    .masthead .menu-block .menu__sub-nav .menu__item a {
      font-size: 14px;
      color: #333;
      padding: 20px 0;
      display: block;
      -webkit-transition: color 400ms ease 0s;
      -moz-transition: color 400ms ease 0s;
      -o-transition: color 400ms ease 0s;
      transition: color 400ms ease 0s; }
      .masthead .menu-block .menu__sub-nav .menu__item a .text {
        display: inline-block; }
    .masthead .menu-block .menu__sub-nav .menu__item.active a {
      color: #404040;
      border-bottom: solid 2px #404040; }

.block--expiring-miles .blk-content-wrap .blk-content .link-2 {
  position: absolute;
  right: 0px;
  bottom: 30px; }

.claim-make {
  padding-top: 32px; }

.form-claim-flight {
  max-width: 653px; }

.accrual-calculator-result {
  width: 607px; }

.flights-list .items {
  margin-left: -20px; }
.flights-list .flight-item {
  width: 33.33334%; }
  .flights-list .flight-item .flight-item__inner {
    margin-left: 20px; }

.form-personal-detail .form-content .passenger-info__personal .form-mobile--3 {
  width: 80%; }

.block--redemption .block--redemption__text {
  display: block;
  clear: both; }

.promotion-item--1 {
  width: 33.33%; }

.form-calculate-miles-2 {
  position: relative; }
  .form-calculate-miles-2 .form-group {
    padding-right: 150px; }
  .form-calculate-miles-2 .button-group {
    position: absolute;
    top: 0px;
    right: 0px;
    zoom: 1; }

.statements .btn-print {
  float: right;
  margin: 25px 0 0 0; }
  .statements .btn-print .ico-print {
    font-size: 16px;
    font-style: normal; }

.find-your-booking .grid-col {
  width: 30%; }
.find-your-booking .button-group {
  left: 60%;
  margin: 0 0 0 9px; }

.kf-profile-security .field-group-col {
  width: 38.37953%; }

.form--redemption-nominee--2 .form-group {
  padding-right: 457px; }
.form--redemption-nominee--2 .form-group--1 {
  padding-right: 252px; }

.message-detail__content {
  max-width: 790px; }

.promotion-item--4 .list-unstyled li {
  width: 40.8%; }

.dashboard-wrapper {
  margin-top: 83px;
  background: #fff;
  border-bottom: 2px solid #ccc; }
  .dashboard-wrapper .vertical-line {
    width: 20px;
    background-color: #f7f7f7;
    position: absolute;
    top: 0px;
    bottom: -3px;
    left: 74.5%; }
  .dashboard-wrapper .blk-heading {
    position: absolute;
    top: -62px;
    left: 0px;
    z-index: 1; }

.width-9 {
  width: 40%; }

.non-editable .form-group .two-five {
  width: 38%; }

.wrap-widget .asked-questions-block {
  width: 203px;
  margin-bottom: 20px; }
  .static-content--width-1 .wrap-widget .asked-questions-block {
    width: 276px; }

.wrap-widget {
  width: 24.5%;
  float: right; }
  .static-content--faqs .wrap-widget {
    width: 30%;
    float: left; }
    .static-content--faqs .wrap-widget .wrap-widget-inner {
      width: 296.4px;
      max-width: 100%;
      margin-bottom: 20px; }
    .static-content--faqs .wrap-widget .widget-1 {
      margin-left: 65px; }

.wrap-widget-1 {
  width: 315px;
  float: right; }

.static-content .static-details {
  width: 70%;
  float: left; }
.static-content .static-details--2 {
  width: 66%; }
.static-content .static-details--sqc + .wrap-widget {
  margin-top: 10px; }

.static-details--1 {
  max-width: 650px; }

.static-content--width-1 .static-details {
  width: 60%; }
.static-content--width-1 .wrap-widget {
  width: 32%; }

.popup__fare-heading {
  display: none; }

.block--full-page {
  padding: 40px 0; }

.full-banner--img {
  background-position: 50% 50%; }

.place-1 .place-1__thumb, .place-1 .place-1__inner {
  float: left;
  width: 50%; }
.place-1 .place-1__thumb {
  height: 200px; }
.place-1 .place-1__inner {
  padding: 27px 15px 5px 20px; }
.place-1 .rating-block {
  margin-top: 10px; }

.weatherImages li {
  width: 18%; }
  .weatherImages li + li {
    margin-left: 2.5%; }

.where-destination__item {
  width: 33.33%; }

.more-destinations-wrapper .slide-item {
  width: 25%; }

.ent-item--1 {
  width: 20%; }

.ent-item--2 {
  width: 24.9999%; }

.heritage-list {
  padding-right: 320px; }

.multi-tabs.tabs--1 .tab .tab-item.limit-item a, .multi-tabs-extra.tabs--1 .tab .tab-item.limit-item a {
  display: none; }
.multi-tabs .multi-select, .multi-tabs-extra .multi-select {
  display: none; }

.asked-questions-block {
  position: absolute;
  width: 275px;
  right: 0;
  top: 0; }
  .asked-questions-block.no-absolute-block {
    position: static; }

.watch-list-1 .watch-list-item {
  width: 25%; }

.watch-list-1 .watch-list-item {
  width: 25%; }

.form-search .input-1 .ico-cancel-thin {
  right: 0; }
.form-search .btn-search {
  padding: 1px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  width: 40px; }
  .form-search .btn-search .ico-search {
    position: absolute;
    top: 50%;
    right: 2px;
    font-size: 18px;
    margin-top: -9px;
    width: 40px;
    z-index: -1;
    text-align: center;
    color: white; }

.form-search-result .input-1 {
  width: 74.5%;
  float: left; }
.form-search-result .btn-search {
  position: static;
  width: 120px;
  margin-left: 10px;
  padding-left: 0;
  padding-right: 0;
  float: right; }

.form-search-result--faqs {
  width: 70%;
  margin-bottom: 45px; }
  .form-search-result--faqs .btn-search {
    margin-left: 3px; }

.home-search-result .wrap-widget {
  margin-top: 150px; }
.home-search-no-result .wrap-widget {
  margin-top: 126px; }

.form-flight-search--fare .flights__searchs .flights__info--group .flights__info--detail .ico-airplane-lift, .form-flight-search--idr .flights__searchs .flights__info--group .flights__info--detail .ico-airplane-lift {
  left: 50%;
  margin-left: -50px; }

.form-flight-search--fare .flights__target {
  margin: 50px 0 30px; }
  .form-flight-search--fare .flights__target.sort-style-1 {
    margin: 38px 0 30px; }
.form-flight-search--fare .flights__searchs .flights__info--group .flights__info--detail {
  width: 41%; }

.form-flight-search--idr .flights__table tr th, .form-flight-search--idr .flights__table--1__inner.type-economy-cib tr td {
  width: 15.5%; }
  .form-flight-search--idr .flights__table tr th:first-child, .form-flight-search--idr .flights__table--1__inner.type-economy-cib tr td:first-child {
    width: 38%;
    padding-left: 20px;
    padding-right: 20px; }
.form-flight-search--idr .flights__table tr th {
  padding-left: 10px;
  padding-right: 10px; }
.form-flight-search--idr .flights__table--1__inner.type-economy-cib tr td {
  padding-left: 3px;
  padding-right: 3px; }
.form-flight-search--idr .flights__searchs .flights__info--group .flights__info--detail {
  width: 46%; }

.booking-reference__item .flights__info--group .flights__info--detail {
  width: 50%; }

.faqs-nav {
  margin-bottom: 50px; }
  .faqs-nav .faqs-nav__item {
    margin-bottom: 3px;
    padding: 15px 0 15px 87px;
    display: block;
    color: #000;
    border-right: 2px solid transparent; }
    .faqs-nav .faqs-nav__item.active {
      border-color: #e47200;
      background: #fff;
      font-weight: bold; }

.accordion-component--list .accordion-wrapper-heading {
  padding: 0 34px 0 20px; }
.accordion-component--list .accordion {
  padding-left: 0;
  padding-right: 0; }
.accordion-component--list .accordion__content {
  padding: 2px 20px 7px 18px; }
.accordion-component--list .accordion__control {
  padding: 8px 40px 2px 20px; }
.accordion-component--list .accordion-wrapper-content {
  margin-top: 37px; }
.accordion-component--list .accordion__control .ico-point-d {
  right: 20px; }

.faqs-table-baggage-allowance {
  width: 76%; }

.faqs-search-no-results .static-content--faqs {
  background: #fff; }
.faqs-search-no-results .wrap-widget {
  margin-bottom: 0;
  background: #f7f7f7; }

.form-contact .button-group {
  float: right; }

.blk-heading--promotions .text-info-1, .blk-heading--promotions .text-info-2 {
  max-width: 70%; }
.blk-heading--promotions .main-heading {
  max-width: 652px; }

.component-carousel .full-banner--img {
  height: 410px; }
.component-carousel .flexslider .slick-prev, .component-carousel .flexslider .slick-next {
  top: 205px; }

.component-carousel--1 .component-carousel__image {
  float: left;
  width: 734px; }
.component-carousel--1 .component-carousel__detail {
  float: left;
  width: 214px;
  padding: 22px 10px 22px 20px;
  max-height: 366px; }
.component-carousel--1 .flexslider .slick-next {
  right: 254px; }

.component-carousel--2 .component-carousel__detail {
  position: relative; }
  .component-carousel--2 .component-carousel__detail .component-carousel__text {
    float: left;
    width: 770px; }
  .component-carousel--2 .component-carousel__detail .button-group {
    position: absolute;
    right: 30px;
    bottom: 40px;
    max-width: 218px; }
    .component-carousel--2 .component-carousel__detail .button-group .button-group {
      margin-top: 0; }

.has-image .component-body-copy__text {
  max-width: 652px;
  float: left; }

.flight-schedule-table th.th-link {
  width: 240px; }

.component-promt .static-item-2 .static-item-2--img {
  width: 29%; }
  .component-promt .static-item-2 .static-item-2--img .full-banner--img {
    height: 187px; }

.multi-tabs--1 .tab .tab-item {
  display: none; }
  .multi-tabs--1 .tab .tab-item .custom-select {
    display: none; }
.multi-tabs--1 .multi-select {
  height: 47px;
  display: block;
  z-index: 5;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .multi-tabs--1 .multi-select .select__text {
    cursor: pointer; }
.multi-tabs--1.addons-tab .tab .tab-item {
  display: block; }
  .multi-tabs--1.addons-tab .tab .tab-item.hidetab {
    display: none; }
.multi-tabs--1.addons-tab .multi-select {
  display: none; }

.promotion-enhancement .promotion-result--enhance .editor table td {
  padding: 5px 15px; }
.promotion-enhancement .promotion-result--enhance .editor table tbody tr + tr td {
  border-top: 1px solid #cccccc; }
.promotion-enhancement .promotion-result--enhance .editor table tbody tr:last-child td {
  padding-bottom: 20px; }
.promotion-enhancement .promotion-result--enhance .editor table tbody tr td:first-child {
  padding-right: 0; }
.promotion-enhancement .promotion-result--enhance .editor table .btn-1 {
  width: auto;
  min-width: 80px; }
.promotion-enhancement .promotion-result--enhance .editor .advance-purchase {
  width: 135px; }
.promotion-enhancement .promotion-result--enhance .editor .book-by {
  width: 90px; }
.promotion-enhancement .promotion-result--enhance .editor .min-pax {
  width: 100px; }

.popup--meal-maincourse .time-meal {
  width: 63%; }

.flexslider--v2 .slick-dots {
  bottom: 30px;
  position: relative;
  text-align: right;
  width: 1000px;
  margin: 0 auto; }

.travel-widget--2 {
  min-height: 550px; }
  .travel-widget--2.travel-widget {
    width: 484px; }
  .travel-widget--2 .widget-icon-collapsed {
    display: none; }
  .travel-widget--2 .tab .tab-item a {
    font-size: 12px;
    text-transform: uppercase; }
  .travel-widget--2 .tab-form-expand .col-expand--right {
    display: block; }
  .travel-widget--2 .col-expand--right {
    display: none; }
  .travel-widget--2 .form-group--btn {
    margin-top: 25px;
    min-height: 40px; }
    .travel-widget--2 .form-group--btn .two-third {
      position: absolute;
      top: 0;
      right: 0; }
    .travel-widget--2 .form-group--btn .full {
      margin-top: 3px; }
    .travel-widget--2 .form-group--btn .one-third {
      margin-top: 5px; }
  .travel-widget--2 .select__tips {
    text-align: left; }
  .travel-widget--2 .tab {
    background: rgba(0, 0, 0, 0.4);
    border: 0; }
    .travel-widget--2 .tab .tab-item {
      padding: 3px 5px 2px; }
  .travel-widget--2 .tab-wrapper {
    border-top: 2px solid #363636;
    transition: min-width 0.25s linear;
    padding-bottom: 0; }
  .travel-widget--2 .form-book-car .btn-1, .travel-widget--2 .form-book-hotel .btn-1 {
    margin-top: 20px; }
  .travel-widget--2 .form-book-flight .col-expand--right {
    margin-top: -48px; }
  .travel-widget--2 .form-book-car .grid-row-1 {
    margin-bottom: 0; }
    .travel-widget--2 .form-book-car .grid-row-1 .grid-col {
      margin-bottom: 7px; }
    .travel-widget--2 .form-book-car .grid-row-1 .text-error {
      top: -7px; }
  .travel-widget--2 .radio-tooltips {
    width: 442px;
    min-width: 442px; }
  .travel-widget--2 .grid-row-1 .one-half {
    width: 50%; }
  .travel-widget--2 .form-group {
    margin-bottom: 7px; }

.travel-widget--1 .col-expand-hotel--1 {
  width: 33.33%;
  float: left; }
  .travel-widget--1 .col-expand-hotel--1 .grid-col.full {
    width: 100%; }
.travel-widget--1 .col-expand-hotel--2 {
  width: calc(70% - 3px);
  margin-left: 5px;
  float: left; }
  .travel-widget--1 .col-expand-hotel--2 .grid-col {
    width: 50%; }
.travel-widget--1 .form-group:last-child {
  position: initial; }
.travel-widget--1 .form-book-package .form-group--btn {
  margin-top: 35px; }
.travel-widget--1 .form-book-flight .form-group--btn {
  margin-top: 30px; }
.travel-widget--1 .form-book-car .grid-row-1 .one-half {
  width: 50%; }

.form-book-flight .from-to-container .one-half, .form-book-package .from-to-container .one-half {
  width: 100%; }
  .form-book-flight .from-to-container .one-half:first-child, .form-book-package .from-to-container .one-half:first-child {
    margin-bottom: 7px; }

/*# sourceMappingURL=style-large-dark-site.css.map */