/* Fontface */
@font-face {
  font-family: 'sia';
  src: url('../fonts/sia.eot');
  src: url('../fonts/sia.eot?#iefix') format('embedded-opentype'), url('../fonts/sia.woff') format('woff'), url('../fonts/sia.ttf') format('truetype'), url('../fonts/sia.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-1';
  src: url('../fonts/sia-1.eot');
  src: url('../fonts/sia-1.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-1.woff') format('woff'), url('../fonts/sia-1.ttf') format('truetype'), url('../fonts/sia-1.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-2';
  src: url('../fonts/sia-2.eot');
  src: url('../fonts/sia-2.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-2.woff') format('woff'), url('../fonts/sia-2.ttf') format('truetype'), url('../fonts/sia-2.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-amenities';
  src: url('../fonts/sia-amenities.eot');
  src: url('../fonts/sia-amenities.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-amenities.woff') format('woff'), url('../fonts/sia-amenities.ttf') format('truetype'), url('../fonts/sia-amenities.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-map';
  src: url('../fonts/sia-map.eot?cbq5t9');
  src: url('../fonts/sia-map.eot?cbq5t9#iefix') format('embedded-opentype'), url('../fonts/sia-map.ttf?cbq5t9') format('truetype'), url('../fonts/sia-map.woff?cbq5t9') format('woff'), url('../fonts/sia-map.svg?cbq5t9#sia-3') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-meals';
  src: url('../fonts/sia-meals.eot?egg8fi');
  src: url('../fonts/sia-meals.eot?egg8fi#iefix') format('embedded-opentype'), url('../fonts/sia-meals.ttf?egg8fi') format('truetype'), url('../fonts/sia-meals.woff?egg8fi') format('woff'), url('../fonts/sia-meals.svg?egg8fi#sia-meals') format('svg');
  font-weight: normal;
  font-style: normal; }

/* End fontface */
.bgd-green-1 {
  background-color: #0b664b; }
  .flights__info--group .flights__info .bgd-green-1.flights__info--price.active {
    border-color: #0b664b; }
  .bgd-green-1 .package--name {
    background-color: #0b664b; }
  .bgd-green-1 .fare-label {
    color: #0b664b; }

.bgd-active-green-1 .flights__table--1__inner tr td.active {
  border-color: #0b664b; }
.bgd-active-green-1 .flights__table .flights__table--1__inner td.active .flights__active-border, .bgd-active-green-1 .flights__table .flights__table--1__inner td.active .flights__tooltip-background {
  border-color: #0b664b; }

.bgd-green-2 {
  background-color: #176e54; }
  .flights__info--group .flights__info .bgd-green-2.flights__info--price.active {
    border-color: #176e54; }
  .bgd-green-2 .package--name {
    background-color: #176e54; }
  .bgd-green-2 .fare-label {
    color: #176e54; }

.bgd-active-green-2 .flights__table--1__inner tr td.active {
  border-color: #176e54; }
.bgd-active-green-2 .flights__table .flights__table--1__inner td.active .flights__active-border, .bgd-active-green-2 .flights__table .flights__table--1__inner td.active .flights__tooltip-background {
  border-color: #176e54; }

.bgd-green-3 {
  background-color: #24765d; }
  .flights__info--group .flights__info .bgd-green-3.flights__info--price.active {
    border-color: #24765d; }
  .bgd-green-3 .package--name {
    background-color: #24765d; }
  .bgd-green-3 .fare-label {
    color: #24765d; }

.bgd-active-green-3 .flights__table--1__inner tr td.active {
  border-color: #24765d; }
.bgd-active-green-3 .flights__table .flights__table--1__inner td.active .flights__active-border, .bgd-active-green-3 .flights__table .flights__table--1__inner td.active .flights__tooltip-background {
  border-color: #24765d; }

.bgd-green-4 {
  background-color: #2f7d66; }
  .flights__info--group .flights__info .bgd-green-4.flights__info--price.active {
    border-color: #2f7d66; }
  .bgd-green-4 .package--name {
    background-color: #2f7d66; }
  .bgd-green-4 .fare-label {
    color: #2f7d66; }

.bgd-active-green-4 .flights__table--1__inner tr td.active {
  border-color: #2f7d66; }
.bgd-active-green-4 .flights__table .flights__table--1__inner td.active .flights__active-border, .bgd-active-green-4 .flights__table .flights__table--1__inner td.active .flights__tooltip-background {
  border-color: #2f7d66; }

.bgd-green-5 {
  background-color: #075B3F; }
  .flights__info--group .flights__info .bgd-green-5.flights__info--price.active {
    border-color: #075B3F; }
  .bgd-green-5 .package--name {
    background-color: #075B3F; }
  .bgd-green-5 .fare-label {
    color: #075B3F; }

.bgd-active-green-5 .flights__table--1__inner tr td.active {
  border-color: #075B3F; }
.bgd-active-green-5 .flights__table .flights__table--1__inner td.active .flights__active-border, .bgd-active-green-5 .flights__table .flights__table--1__inner td.active .flights__tooltip-background {
  border-color: #075B3F; }

.bgd-green-6 {
  background-color: #3D8970; }
  .flights__info--group .flights__info .bgd-green-6.flights__info--price.active {
    border-color: #3D8970; }
  .bgd-green-6 .package--name {
    background-color: #3D8970; }
  .bgd-green-6 .fare-label {
    color: #3D8970; }

.bgd-active-green-6 .flights__table--1__inner tr td.active {
  border-color: #3D8970; }
.bgd-active-green-6 .flights__table .flights__table--1__inner td.active .flights__active-border, .bgd-active-green-6 .flights__table .flights__table--1__inner td.active .flights__tooltip-background {
  border-color: #3D8970; }

.bgd-green-7 {
  background-color: #4D937A; }
  .flights__info--group .flights__info .bgd-green-7.flights__info--price.active {
    border-color: #4D937A; }
  .bgd-green-7 .package--name {
    background-color: #4D937A; }
  .bgd-green-7 .fare-label {
    color: #4D937A; }

.bgd-active-green-7 .flights__table--1__inner tr td.active {
  border-color: #4D937A; }
.bgd-active-green-7 .flights__table .flights__table--1__inner td.active .flights__active-border, .bgd-active-green-7 .flights__table .flights__table--1__inner td.active .flights__tooltip-background {
  border-color: #4D937A; }

.bgd-economy-1 {
  background-color: #4D937A; }
  .flights__info--group .flights__info .bgd-economy-1.flights__info--price.active {
    border-color: #4D937A; }
  .bgd-economy-1 .package--name {
    background-color: #4D937A; }
  .bgd-economy-1 .fare-label {
    color: #4D937A; }

.bgd-active-economy-1 .flights__table--1__inner tr td.active {
  border-color: #4D937A; }
.bgd-active-economy-1 .flights__table .flights__table--1__inner td.active .flights__active-border, .bgd-active-economy-1 .flights__table .flights__table--1__inner td.active .flights__tooltip-background {
  border-color: #4D937A; }

.bgd-economy-2 {
  background-color: #3D8970; }
  .flights__info--group .flights__info .bgd-economy-2.flights__info--price.active {
    border-color: #3D8970; }
  .bgd-economy-2 .package--name {
    background-color: #3D8970; }
  .bgd-economy-2 .fare-label {
    color: #3D8970; }

.bgd-active-economy-2 .flights__table--1__inner tr td.active {
  border-color: #3D8970; }
.bgd-active-economy-2 .flights__table .flights__table--1__inner td.active .flights__active-border, .bgd-active-economy-2 .flights__table .flights__table--1__inner td.active .flights__tooltip-background {
  border-color: #3D8970; }

.bgd-economy-3 {
  background-color: #2f7d66; }
  .flights__info--group .flights__info .bgd-economy-3.flights__info--price.active {
    border-color: #2f7d66; }
  .bgd-economy-3 .package--name {
    background-color: #2f7d66; }
  .bgd-economy-3 .fare-label {
    color: #2f7d66; }

.bgd-active-economy-3 .flights__table--1__inner tr td.active {
  border-color: #2f7d66; }
.bgd-active-economy-3 .flights__table .flights__table--1__inner td.active .flights__active-border, .bgd-active-economy-3 .flights__table .flights__table--1__inner td.active .flights__tooltip-background {
  border-color: #2f7d66; }

.bgd-economy-4 {
  background-color: #24765d; }
  .flights__info--group .flights__info .bgd-economy-4.flights__info--price.active {
    border-color: #24765d; }
  .bgd-economy-4 .package--name {
    background-color: #24765d; }
  .bgd-economy-4 .fare-label {
    color: #24765d; }

.bgd-active-economy-4 .flights__table--1__inner tr td.active {
  border-color: #24765d; }
.bgd-active-economy-4 .flights__table .flights__table--1__inner td.active .flights__active-border, .bgd-active-economy-4 .flights__table .flights__table--1__inner td.active .flights__tooltip-background {
  border-color: #24765d; }

.bgd-economy-5 {
  background-color: #176e54; }
  .flights__info--group .flights__info .bgd-economy-5.flights__info--price.active {
    border-color: #176e54; }
  .bgd-economy-5 .package--name {
    background-color: #176e54; }
  .bgd-economy-5 .fare-label {
    color: #176e54; }

.bgd-active-economy-5 .flights__table--1__inner tr td.active {
  border-color: #176e54; }
.bgd-active-economy-5 .flights__table .flights__table--1__inner td.active .flights__active-border, .bgd-active-economy-5 .flights__table .flights__table--1__inner td.active .flights__tooltip-background {
  border-color: #176e54; }

.bgd-economy-6 {
  background-color: #0b664b; }
  .flights__info--group .flights__info .bgd-economy-6.flights__info--price.active {
    border-color: #0b664b; }
  .bgd-economy-6 .package--name {
    background-color: #0b664b; }
  .bgd-economy-6 .fare-label {
    color: #0b664b; }

.bgd-active-economy-6 .flights__table--1__inner tr td.active {
  border-color: #0b664b; }
.bgd-active-economy-6 .flights__table .flights__table--1__inner td.active .flights__active-border, .bgd-active-economy-6 .flights__table .flights__table--1__inner td.active .flights__tooltip-background {
  border-color: #0b664b; }

.bgd-economy-7 {
  background-color: #075B3F; }
  .flights__info--group .flights__info .bgd-economy-7.flights__info--price.active {
    border-color: #075B3F; }
  .bgd-economy-7 .package--name {
    background-color: #075B3F; }
  .bgd-economy-7 .fare-label {
    color: #075B3F; }

.bgd-active-economy-7 .flights__table--1__inner tr td.active {
  border-color: #075B3F; }
.bgd-active-economy-7 .flights__table .flights__table--1__inner td.active .flights__active-border, .bgd-active-economy-7 .flights__table .flights__table--1__inner td.active .flights__tooltip-background {
  border-color: #075B3F; }

.bgd-green-gray {
  background-color: #687878; }
  .flights__info--group .flights__info .bgd-green-gray.flights__info--price.active {
    border-color: #687878; }
  .bgd-green-gray .package--name {
    background-color: #687878; }
  .bgd-green-gray .fare-label {
    color: #687878; }

.bgd-active-green-gray .flights__table--1__inner tr td.active {
  border-color: #687878; }
.bgd-active-green-gray .flights__table .flights__table--1__inner td.active .flights__active-border, .bgd-active-green-gray .flights__table .flights__table--1__inner td.active .flights__tooltip-background {
  border-color: #687878; }

.bgd-blue-1 {
  background-color: #053a76; }
  .flights__info--group .flights__info .bgd-blue-1.flights__info--price.active {
    border-color: #053a76; }
  .bgd-blue-1 .package--name {
    background-color: #053a76; }
  .bgd-blue-1 .fare-label {
    color: #053a76; }

.bgd-active-blue-1 .flights__table--1__inner tr td.active {
  border-color: #053a76; }
.bgd-active-blue-1 .flights__table .flights__table--1__inner td.active .flights__active-border, .bgd-active-blue-1 .flights__table .flights__table--1__inner td.active .flights__tooltip-background {
  border-color: #053a76; }

.bgd-blue-2 {
  background-color: #2a578a; }
  .flights__info--group .flights__info .bgd-blue-2.flights__info--price.active {
    border-color: #2a578a; }
  .bgd-blue-2 .package--name {
    background-color: #2a578a; }
  .bgd-blue-2 .fare-label {
    color: #2a578a; }

.bgd-active-blue-2 .flights__table--1__inner tr td.active {
  border-color: #2a578a; }
.bgd-active-blue-2 .flights__table .flights__table--1__inner td.active .flights__active-border, .bgd-active-blue-2 .flights__table .flights__table--1__inner td.active .flights__tooltip-background {
  border-color: #2a578a; }

.bgd-business {
  background-color: #053a76; }
  .flights__info--group .flights__info .bgd-business.flights__info--price.active {
    border-color: #053a76; }
  .bgd-business .package--name {
    background-color: #053a76; }
  .bgd-business .fare-label {
    color: #053a76; }

.bgd-active-business .flights__table--1__inner tr td.active {
  border-color: #053a76; }
.bgd-active-business .flights__table .flights__table--1__inner td.active .flights__active-border, .bgd-active-business .flights__table .flights__table--1__inner td.active .flights__tooltip-background {
  border-color: #053a76; }

.bgd-business-1 {
  background-color: #2a578a; }
  .flights__info--group .flights__info .bgd-business-1.flights__info--price.active {
    border-color: #2a578a; }
  .bgd-business-1 .package--name {
    background-color: #2a578a; }
  .bgd-business-1 .fare-label {
    color: #2a578a; }

.bgd-active-business-1 .flights__table--1__inner tr td.active {
  border-color: #2a578a; }
.bgd-active-business-1 .flights__table .flights__table--1__inner td.active .flights__active-border, .bgd-active-business-1 .flights__table .flights__table--1__inner td.active .flights__tooltip-background {
  border-color: #2a578a; }

.bgd-business-2 {
  background-color: #1E4E84; }
  .flights__info--group .flights__info .bgd-business-2.flights__info--price.active {
    border-color: #1E4E84; }
  .bgd-business-2 .package--name {
    background-color: #1E4E84; }
  .bgd-business-2 .fare-label {
    color: #1E4E84; }

.bgd-active-business-2 .flights__table--1__inner tr td.active {
  border-color: #1E4E84; }
.bgd-active-business-2 .flights__table .flights__table--1__inner td.active .flights__active-border, .bgd-active-business-2 .flights__table .flights__table--1__inner td.active .flights__tooltip-background {
  border-color: #1E4E84; }

.bgd-business-3 {
  background-color: #12447D; }
  .flights__info--group .flights__info .bgd-business-3.flights__info--price.active {
    border-color: #12447D; }
  .bgd-business-3 .package--name {
    background-color: #12447D; }
  .bgd-business-3 .fare-label {
    color: #12447D; }

.bgd-active-business-3 .flights__table--1__inner tr td.active {
  border-color: #12447D; }
.bgd-active-business-3 .flights__table .flights__table--1__inner td.active .flights__active-border, .bgd-active-business-3 .flights__table .flights__table--1__inner td.active .flights__tooltip-background {
  border-color: #12447D; }

.bgd-business-4 {
  background-color: #053A76; }
  .flights__info--group .flights__info .bgd-business-4.flights__info--price.active {
    border-color: #053A76; }
  .bgd-business-4 .package--name {
    background-color: #053A76; }
  .bgd-business-4 .fare-label {
    color: #053A76; }

.bgd-active-business-4 .flights__table--1__inner tr td.active {
  border-color: #053A76; }
.bgd-active-business-4 .flights__table .flights__table--1__inner td.active .flights__active-border, .bgd-active-business-4 .flights__table .flights__table--1__inner td.active .flights__tooltip-background {
  border-color: #053A76; }

.bgd-midnight-blue {
  background-color: #363636; }
  .flights__info--group .flights__info .bgd-midnight-blue.flights__info--price.active {
    border-color: #363636; }
  .bgd-midnight-blue .package--name {
    background-color: #363636; }
  .bgd-midnight-blue .fare-label {
    color: #363636; }

.bgd-active-midnight-blue .flights__table--1__inner tr td.active {
  border-color: #363636; }
.bgd-active-midnight-blue .flights__table .flights__table--1__inner td.active .flights__active-border, .bgd-active-midnight-blue .flights__table .flights__table--1__inner td.active .flights__tooltip-background {
  border-color: #363636; }

.bgd-catalina-blue {
  background-color: #053a76; }
  .flights__info--group .flights__info .bgd-catalina-blue.flights__info--price.active {
    border-color: #053a76; }
  .bgd-catalina-blue .package--name {
    background-color: #053a76; }
  .bgd-catalina-blue .fare-label {
    color: #053a76; }

.bgd-active-catalina-blue .flights__table--1__inner tr td.active {
  border-color: #053a76; }
.bgd-active-catalina-blue .flights__table .flights__table--1__inner td.active .flights__active-border, .bgd-active-catalina-blue .flights__table .flights__table--1__inner td.active .flights__tooltip-background {
  border-color: #053a76; }

.bgd-st-tropaz {
  background-color: #2a578a; }
  .flights__info--group .flights__info .bgd-st-tropaz.flights__info--price.active {
    border-color: #2a578a; }
  .bgd-st-tropaz .package--name {
    background-color: #2a578a; }
  .bgd-st-tropaz .fare-label {
    color: #2a578a; }

.bgd-active-st-tropaz .flights__table--1__inner tr td.active {
  border-color: #2a578a; }
.bgd-active-st-tropaz .flights__table .flights__table--1__inner td.active .flights__active-border, .bgd-active-st-tropaz .flights__table .flights__table--1__inner td.active .flights__tooltip-background {
  border-color: #2a578a; }

.bgd-st-tropaz-1 {
  background-color: #1E4E84; }
  .flights__info--group .flights__info .bgd-st-tropaz-1.flights__info--price.active {
    border-color: #1E4E84; }
  .bgd-st-tropaz-1 .package--name {
    background-color: #1E4E84; }
  .bgd-st-tropaz-1 .fare-label {
    color: #1E4E84; }

.bgd-active-st-tropaz-1 .flights__table--1__inner tr td.active {
  border-color: #1E4E84; }
.bgd-active-st-tropaz-1 .flights__table .flights__table--1__inner td.active .flights__active-border, .bgd-active-st-tropaz-1 .flights__table .flights__table--1__inner td.active .flights__tooltip-background {
  border-color: #1E4E84; }

.bgd-st-tropaz-2 {
  background-color: #12447D; }
  .flights__info--group .flights__info .bgd-st-tropaz-2.flights__info--price.active {
    border-color: #12447D; }
  .bgd-st-tropaz-2 .package--name {
    background-color: #12447D; }
  .bgd-st-tropaz-2 .fare-label {
    color: #12447D; }

.bgd-active-st-tropaz-2 .flights__table--1__inner tr td.active {
  border-color: #12447D; }
.bgd-active-st-tropaz-2 .flights__table .flights__table--1__inner td.active .flights__active-border, .bgd-active-st-tropaz-2 .flights__table .flights__table--1__inner td.active .flights__tooltip-background {
  border-color: #12447D; }

.bgd-totem-pole {
  background-color: #87220b; }
  .flights__info--group .flights__info .bgd-totem-pole.flights__info--price.active {
    border-color: #87220b; }
  .bgd-totem-pole .package--name {
    background-color: #87220b; }
  .bgd-totem-pole .fare-label {
    color: #87220b; }

.bgd-active-totem-pole .flights__table--1__inner tr td.active {
  border-color: #87220b; }
.bgd-active-totem-pole .flights__table .flights__table--1__inner td.active .flights__active-border, .bgd-active-totem-pole .flights__table .flights__table--1__inner td.active .flights__tooltip-background {
  border-color: #87220b; }

.bgd-mule-fawn {
  background-color: #99432f; }
  .flights__info--group .flights__info .bgd-mule-fawn.flights__info--price.active {
    border-color: #99432f; }
  .bgd-mule-fawn .package--name {
    background-color: #99432f; }
  .bgd-mule-fawn .fare-label {
    color: #99432f; }

.bgd-active-mule-fawn .flights__table--1__inner tr td.active {
  border-color: #99432f; }
.bgd-active-mule-fawn .flights__table .flights__table--1__inner td.active .flights__active-border, .bgd-active-mule-fawn .flights__table .flights__table--1__inner td.active .flights__tooltip-background {
  border-color: #99432f; }

.bgd-brown-rust {
  background-color: #aa5440; }
  .flights__info--group .flights__info .bgd-brown-rust.flights__info--price.active {
    border-color: #aa5440; }
  .bgd-brown-rust .package--name {
    background-color: #aa5440; }
  .bgd-brown-rust .fare-label {
    color: #aa5440; }

.bgd-active-brown-rust .flights__table--1__inner tr td.active {
  border-color: #aa5440; }
.bgd-active-brown-rust .flights__table .flights__table--1__inner td.active .flights__active-border, .bgd-active-brown-rust .flights__table .flights__table--1__inner td.active .flights__tooltip-background {
  border-color: #aa5440; }

.bgd-pey-1 {
  background-color: #1A637B; }
  .flights__info--group .flights__info .bgd-pey-1.flights__info--price.active {
    border-color: #1A637B; }
  .bgd-pey-1 .package--name {
    background-color: #1A637B; }
  .bgd-pey-1 .fare-label {
    color: #1A637B; }

.bgd-active-pey-1 .flights__table--1__inner tr td.active {
  border-color: #1A637B; }
.bgd-active-pey-1 .flights__table .flights__table--1__inner td.active .flights__active-border, .bgd-active-pey-1 .flights__table .flights__table--1__inner td.active .flights__tooltip-background {
  border-color: #1A637B; }

.bgd-pey-2 {
  background-color: #10576E; }
  .flights__info--group .flights__info .bgd-pey-2.flights__info--price.active {
    border-color: #10576E; }
  .bgd-pey-2 .package--name {
    background-color: #10576E; }
  .bgd-pey-2 .fare-label {
    color: #10576E; }

.bgd-active-pey-2 .flights__table--1__inner tr td.active {
  border-color: #10576E; }
.bgd-active-pey-2 .flights__table .flights__table--1__inner td.active .flights__active-border, .bgd-active-pey-2 .flights__table .flights__table--1__inner td.active .flights__tooltip-background {
  border-color: #10576E; }

.bgd-pey-3 {
  background-color: #0B5066; }
  .flights__info--group .flights__info .bgd-pey-3.flights__info--price.active {
    border-color: #0B5066; }
  .bgd-pey-3 .package--name {
    background-color: #0B5066; }
  .bgd-pey-3 .fare-label {
    color: #0B5066; }

.bgd-active-pey-3 .flights__table--1__inner tr td.active {
  border-color: #0B5066; }
.bgd-active-pey-3 .flights__table .flights__table--1__inner td.active .flights__active-border, .bgd-active-pey-3 .flights__table .flights__table--1__inner td.active .flights__tooltip-background {
  border-color: #0B5066; }

.bgd-pey-4 {
  background-color: #08495E; }
  .flights__info--group .flights__info .bgd-pey-4.flights__info--price.active {
    border-color: #08495E; }
  .bgd-pey-4 .package--name {
    background-color: #08495E; }
  .bgd-pey-4 .fare-label {
    color: #08495E; }

.bgd-active-pey-4 .flights__table--1__inner tr td.active {
  border-color: #08495E; }
.bgd-active-pey-4 .flights__table .flights__table--1__inner td.active .flights__active-border, .bgd-active-pey-4 .flights__table .flights__table--1__inner td.active .flights__tooltip-background {
  border-color: #08495E; }

.bgd-first-1 {
  background-color: #AA5440; }
  .flights__info--group .flights__info .bgd-first-1.flights__info--price.active {
    border-color: #AA5440; }
  .bgd-first-1 .package--name {
    background-color: #AA5440; }
  .bgd-first-1 .fare-label {
    color: #AA5440; }

.bgd-active-first-1 .flights__table--1__inner tr td.active {
  border-color: #AA5440; }
.bgd-active-first-1 .flights__table .flights__table--1__inner td.active .flights__active-border, .bgd-active-first-1 .flights__table .flights__table--1__inner td.active .flights__tooltip-background {
  border-color: #AA5440; }

.bgd-first-2 {
  background-color: #99432F; }
  .flights__info--group .flights__info .bgd-first-2.flights__info--price.active {
    border-color: #99432F; }
  .bgd-first-2 .package--name {
    background-color: #99432F; }
  .bgd-first-2 .fare-label {
    color: #99432F; }

.bgd-active-first-2 .flights__table--1__inner tr td.active {
  border-color: #99432F; }
.bgd-active-first-2 .flights__table .flights__table--1__inner td.active .flights__active-border, .bgd-active-first-2 .flights__table .flights__table--1__inner td.active .flights__tooltip-background {
  border-color: #99432F; }

.bgd-first-3 {
  background-color: #92311B; }
  .flights__info--group .flights__info .bgd-first-3.flights__info--price.active {
    border-color: #92311B; }
  .bgd-first-3 .package--name {
    background-color: #92311B; }
  .bgd-first-3 .fare-label {
    color: #92311B; }

.bgd-active-first-3 .flights__table--1__inner tr td.active {
  border-color: #92311B; }
.bgd-active-first-3 .flights__table .flights__table--1__inner td.active .flights__active-border, .bgd-active-first-3 .flights__table .flights__table--1__inner td.active .flights__tooltip-background {
  border-color: #92311B; }

.bgd-first-4 {
  background-color: #87220B; }
  .flights__info--group .flights__info .bgd-first-4.flights__info--price.active {
    border-color: #87220B; }
  .bgd-first-4 .package--name {
    background-color: #87220B; }
  .bgd-first-4 .fare-label {
    color: #87220B; }

.bgd-active-first-4 .flights__table--1__inner tr td.active {
  border-color: #87220B; }
.bgd-active-first-4 .flights__table .flights__table--1__inner td.active .flights__active-border, .bgd-active-first-4 .flights__table .flights__table--1__inner td.active .flights__tooltip-background {
  border-color: #87220B; }

.bgd-suites-1 {
  background-color: #CAB289; }
  .flights__info--group .flights__info .bgd-suites-1.flights__info--price.active {
    border-color: #CAB289; }
  .bgd-suites-1 .package--name {
    background-color: #CAB289; }
  .bgd-suites-1 .fare-label {
    color: #CAB289; }

.bgd-active-suites-1 .flights__table--1__inner tr td.active {
  border-color: #CAB289; }
.bgd-active-suites-1 .flights__table .flights__table--1__inner td.active .flights__active-border, .bgd-active-suites-1 .flights__table .flights__table--1__inner td.active .flights__tooltip-background {
  border-color: #CAB289; }

.bgd-suites-2 {
  background-color: #C6A97F; }
  .flights__info--group .flights__info .bgd-suites-2.flights__info--price.active {
    border-color: #C6A97F; }
  .bgd-suites-2 .package--name {
    background-color: #C6A97F; }
  .bgd-suites-2 .fare-label {
    color: #C6A97F; }

.bgd-active-suites-2 .flights__table--1__inner tr td.active {
  border-color: #C6A97F; }
.bgd-active-suites-2 .flights__table .flights__table--1__inner td.active .flights__active-border, .bgd-active-suites-2 .flights__table .flights__table--1__inner td.active .flights__tooltip-background {
  border-color: #C6A97F; }

.bgd-suites-3 {
  background-color: #C1A474; }
  .flights__info--group .flights__info .bgd-suites-3.flights__info--price.active {
    border-color: #C1A474; }
  .bgd-suites-3 .package--name {
    background-color: #C1A474; }
  .bgd-suites-3 .fare-label {
    color: #C1A474; }

.bgd-active-suites-3 .flights__table--1__inner tr td.active {
  border-color: #C1A474; }
.bgd-active-suites-3 .flights__table .flights__table--1__inner td.active .flights__active-border, .bgd-active-suites-3 .flights__table .flights__table--1__inner td.active .flights__tooltip-background {
  border-color: #C1A474; }

.bgd-suites-4 {
  background-color: #AF8F62; }
  .flights__info--group .flights__info .bgd-suites-4.flights__info--price.active {
    border-color: #AF8F62; }
  .bgd-suites-4 .package--name {
    background-color: #AF8F62; }
  .bgd-suites-4 .fare-label {
    color: #AF8F62; }

.bgd-active-suites-4 .flights__table--1__inner tr td.active {
  border-color: #AF8F62; }
.bgd-active-suites-4 .flights__table .flights__table--1__inner td.active .flights__active-border, .bgd-active-suites-4 .flights__table .flights__table--1__inner td.active .flights__tooltip-background {
  border-color: #AF8F62; }

.flights__searchs {
  position: relative; }
  .flights__searchs .flights__table.next-package th.package-3 {
    padding-right: 24px;
    padding-left: 16px; }
  .flights__searchs .flights__table.previous-package th.package-2 {
    padding-left: 24px; }

.operated {
  font-weight: 600;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  color: #e47305;
  font-size: 13px; }
  .flights__info--detail + .operated {
    float: left;
    clear: both;
    width: 100%;
    margin: 11px 0 3px; }
  .booking-info-item + .operated {
    float: left;
    clear: both;
    width: 100%; }

.flights__table {
  width: 100%;
  border-collapse: separate;
  width: 100%;
  border-collapse: separate; }
  .flights__table[data-dynamic="false"].next-package .package-4 {
    display: none;
    width: 0;
    padding: 0;
    border: none; }
  .flights__table[data-dynamic="false"].next-package .package-3 {
    background-position: right 0;
    background-repeat: repeat-y;
    background-image: url("../images/line-2.png");
    border-right: none; }
  .flights__table[data-dynamic="false"].previous-package td.first {
    border-right: none; }
  .flights__table[data-dynamic="false"].previous-package .package-1 {
    display: none;
    width: 0;
    padding: 0;
    border: none; }
  .flights__table[data-dynamic="false"].previous-package .package-2 {
    background-position: left 0;
    background-repeat: repeat-y;
    background-image: url("../images/line-2.png"); }
  .flights__table[data-dynamic="true"].next-package .border-image {
    background-position: right 0;
    background-repeat: repeat-y;
    background-image: url("../images/line-2.png");
    border-right: none; }
  .flights__table[data-dynamic="true"].next-package[data-column="4"] .border-image {
    background-position: 95% 0;
    background-repeat: repeat-y;
    background-image: url("../images/line-2.png");
    border-right: none; }
  .flights__table[data-dynamic="true"].previous-package .border-image {
    background-position: left 0;
    background-repeat: repeat-y;
    background-image: url("../images/line-2.png");
    border-right: left; }
  .flights__table[data-dynamic="true"] th[class*="package-"], .flights__table[data-dynamic="true"] td[class*="package-"] {
    display: none; }
  .flights__table .flight-part {
    padding: 0;
    border: none; }
  .flights__table tr td, .flights__table tr th {
    vertical-align: middle; }
    .flights__table tr td:first-child, .flights__table tr th:first-child {
      text-align: left; }
  .flights__table tr th {
    height: 54px;
    font-size: 13px;
    padding: 7px 20px; }
    .flights__table tr th.bgd-green-1 {
      border-right: 2px solid #0b664b; }
    .flights__table tr th.bgd-green-2 {
      border-right: 2px solid #176e54; }
    .flights__table tr th.bgd-green-3 {
      border-right: 2px solid #24765d; }
    .flights__table tr th.bgd-green-4 {
      border-right: 2px solid #2f7d66; }
    .flights__table tr th.bgd-green-gray {
      border-right: 2px solid #687878; }
    .flights__table tr th:first-child.bgd-green-1 {
      border-left: 2px solid #0b664b; }
  .flights__table tr td {
    position: relative;
    padding: 7px 10px 2px;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #a1a1a1;
    text-align: center; }
    .flights__table tr td.first {
      padding-left: 20px;
      padding-right: 20px; }
    .flights__table tr td.last {
      border-right-color: transparent; }
    .flights__table tr td > span {
      font-weight: 400;
      font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
      font-size: 14px;
      color: #000;
      display: block;
      margin-top: -10px; }
    .flights__table tr td .custom-radio--1 {
      z-index: 1; }
      .flights__table tr td .custom-radio--1 label {
        padding-left: 0;
        display: block;
        font-size: 13px;
        line-height: 20px;
        color: #000;
        font-weight: 400;
        font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif; }
        .flights__table tr td .custom-radio--1 label:before, .flights__table tr td .custom-radio--1 label:after {
          left: 50%; }
        .flights__table tr td .custom-radio--1 label:before {
          width: 18px;
          height: 18px;
          top: -25px;
          margin-left: -10px; }
        .flights__table tr td .custom-radio--1 label:after {
          width: 12px;
          height: 12px;
          top: -21px;
          margin-left: -6px; }
        .flights__table tr td .custom-radio--1 label .package--price-number {
          font-size: 15px; }
      .flights__table tr td .custom-radio--1 input {
        width: 20px;
        height: 20px;
        margin-left: -10px;
        top: 2px;
        left: 50%; }
    .flights__table tr td .seat-left {
      color: #000;
      font-size: 13px; }
  .flights__table tr.active td {
    border-bottom-color: #999; }
  .flights__table tr.active .flight-part {
    border-top: none;
    border-bottom: none; }
  .flights__table tr.active .flights__table--1__inner tr.waitlisted td {
    position: static;
    border-right: none;
    border-bottom: 1px solid #e5e5e5; }
  .flights__table > tbody > tr > td {
    background: #fff; }
  .flights__table .title-head {
    color: #fff; }
  .flights__table .ico-info-round-fill {
    color: #ccc;
    letter-spacing: -3px; }
  .flights__table .operated {
    float: left;
    clear: both;
    width: 100%;
    margin-top: 13px;
    margin-bottom: 3px; }
  .flights__table .flights__info--group .flights--detail {
    position: relative; }
    .flights__table .flights__info--group .flights--detail > span {
      float: left; }
    .flights__table .flights__info--group .flights--detail .details {
      clear: left; }
  .flights__table.flights__table--1 th {
    width: 16.66667%; }
    .flights__table.flights__table--1 th:first-child {
      width: 50%; }
  .flights__table.flights__table--3 .package--price-number, .flights__table.flights__table--4 .package--price-number {
    display: none; }
  .flights__table.flights__table--3 th {
    width: 25%; }
    .flights__table.flights__table--3 th:first-child {
      width: 50%; }
  .flights__table.flights__table--4 th {
    width: 50%; }
    .flights__table.flights__table--4 th:first-child {
      width: 50%; }

.flights--detail .loading--small {
  margin-left: 8px;
  vertical-align: middle; }

.flights__table--1__inner {
  border-collapse: separate;
  width: 100%; }
  .flights__table--1__inner tr.waitlisted td {
    border-right: none;
    border-bottom: 1px solid #e5e5e5;
    background: #fff; }
  .flights__table--1__inner.type-economy-cib tr td {
    width: 12.5%; }
    .flights__table--1__inner.type-economy-cib tr td.first {
      width: 50%; }
  .flights__table--1__inner.type-business-cib tr td {
    width: 50%; }
  .flights__table--1__inner.type-economy-orb tr td {
    width: 16.66667%; }
    .flights__table--1__inner.type-economy-orb tr td.first {
      width: 50%; }
  .flights__table--1__inner.type-business-orb tr td {
    width: 25%; }
    .flights__table--1__inner.type-business-orb tr td.first {
      width: 50%; }
  .flights__table--1__inner[class*="type"] tr.waitlisted td {
    width: 100%; }

.flights__table--dummy .flights__table--1__inner.type-business-orb tr td {
  width: 16.66667%; }
  .flights__table--dummy .flights__table--1__inner.type-business-orb tr td.first {
    width: 50%; }

.flights__table[data-column="4"] tr th:first-child {
  width: 40%; }
.flights__table[data-column="4"] .flights__table--1__inner td.first {
  width: 40%; }

.flights__info--group {
  position: relative; }
  .flights__info--group .flights__info {
    padding: 13px 0;
    overflow: hidden;
    border-bottom: 1px solid #e5e5e5;
    position: relative; }
    .flights__info--group .flights__info.flights__info--mb {
      display: none;
      position: static; }
    .flights__info--group .flights__info.none-border {
      border: 0; }
      .flights__info--group .flights__info.none-border .flights--detail {
        margin-bottom: -10px; }
      .flights__info--group .flights__info.none-border .aircraft-type {
        margin-top: 10px; }
    .flights__info--group .flights__info.last {
      border-bottom-width: 0; }
    .flights__info--group .flights__info .class-flight {
      position: absolute;
      right: 0px; }
  .flights__info--group .flights__info--detail {
    float: left;
    margin-bottom: 2px; }
    .flights__info--group .flights__info--detail .ico-airplane-lift {
      position: absolute;
      top: 12px;
      left: 35%;
      font-size: 2.5em;
      color: #ccc; }
    .flights__info--group .flights__info--detail .hour {
      font-family: "baker-signet-web", serif;
      font-size: 24px;
      color: #363636;
      display: block; }
      .flights__info--group .flights__info--detail .hour .plus-number {
        margin-left: 5px;
        font-weight: 600;
        font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
        font-size: 20px;
        color: #666; }
    .flights__info--group .flights__info--detail .country-name {
      display: block;
      font-weight: 700;
      font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
      font-size: 13px;
      color: #333; }
    .flights__info--group .flights__info--detail .date {
      font-size: 13px;
      color: #666;
      line-height: 16px;
      vertical-align: top; }
    .flights__info--group .flights__info--detail .terminal {
      display: inline-block;
      line-height: 16px;
      vertical-align: baseline; }
  .flights__info--group .flights--detail {
    color: #000;
    line-height: 18px;
    font-size: 13px; }
    .flights__info--group .flights--detail .details p {
      margin: 0; }
    .flights__info--group .flights--detail > span {
      font-weight: 700;
      cursor: pointer; }
      .booking-info-group .flights__info--group .flights--detail > span {
        text-transform: uppercase; }
    .flights__info--group .flights--detail .ico-point-d, .flights__info--group .flights--detail .ico-point-u {
      font-size: 0.8em;
      margin-left: 7px; }

.flights__searchs--business .flights__table tr th {
  width: 50%; }
.flights__searchs--business .flights__table tr.active .flights__table--1__inner tr.waitlisted:first-child td {
  border-top: 0; }
.flights__searchs--business .flights__table.flights__table--1 tr th {
  width: 25%; }
  .flights__searchs--business .flights__table.flights__table--1 tr th:first-child {
    width: 50%; }
.flights__searchs--business .flights__table.flights__table--dummy tr th {
  width: 16.66667%; }
  .flights__searchs--business .flights__table.flights__table--dummy tr th:first-child {
    width: 50%; }

.flights__searchs {
  position: relative; }
  .flights__searchs .flights__info--group .flights__info--detail {
    float: right; }
    .flights__searchs .flights__info--group .flights__info--detail:first-child {
      float: left; }

.flights__searchs--suites .flights__table.flights__table--1 tr th {
  width: 25%; }
  .flights__searchs--suites .flights__table.flights__table--1 tr th:first-child {
    width: 50%; }
.flights__searchs--suites .flights__table.flights__table--1 tr.active .flights__table--1__inner tr.waitlisted:first-child td {
  border-top: 0; }

.flights__searchs--suites.flights__searchs--suites--dummy .flights__table.flights__table--1 tr th {
  width: 16.66667%; }
  .flights__searchs--suites.flights__searchs--suites--dummy .flights__table.flights__table--1 tr th:first-child {
    width: 50%; }
.flights__searchs--suites.flights__searchs--suites--dummy .flights__table.flights__table--1 tr td {
  width: 16.66667%; }
  .flights__searchs--suites.flights__searchs--suites--dummy .flights__table.flights__table--1 tr td:first-child {
    width: 50%; }
.flights__searchs--suites.flights__searchs--suites--dummy .flights__table.flights__table--1 tr.active .flights__table--1__inner tr.waitlisted:first-child td {
  border-top: 0; }

.form-flight-search--fare .flights__searchs .waitlist-text {
  color: #8a8a8a; }

.fare-notice {
  margin: 5px 0 0;
  font-style: italic;
  font-size: 12px;
  color: #000; }

.waitlist-prefered {
  background: #dae1eb;
  padding: 12px 20px 30px;
  margin: 13px 0 32px; }
  .waitlist-prefered .waitlist-prefered-note {
    color: #333;
    margin: 10px 0 0; }

.flight__control {
  zoom: 1;
  margin: 16px 0; }
  .flight__control:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }
  .flight__control + .btn-compare {
    margin-top: 0; }

.says {
  /*
    font-size: 0; - prevents output in safari+VO
  */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; }

/* Style for masthead */
.masthead {
  background: #363636;
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0); }
  .masthead .top-info {
    overflow: hidden;
    color: #fff;
    position: relative; }
    .masthead .top-info a[href^=tel] {
      color: inherit; }
    .masthead .top-info p {
      margin: 0; }
    .masthead .top-info .top-info__inner {
      position: relative;
      z-index: 1;
      zoom: 1; }
      .masthead .top-info .top-info__inner:after {
        content: "";
        visibility: hidden;
        display: block;
        height: 0;
        clear: both; }
    .masthead .top-info .slide__left-desc .slide__text--style-1 {
      font-weight: 400;
      font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
      font-size: 15px;
      line-height: 27px; }
    .masthead .top-info .slide__left-desc .slide__text--style-2 {
      font-family: "baker-signet-web", serif; }
    .masthead .top-info .slide__right-desc {
      font-weight: 400;
      font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
      font-size: 13px; }
      .masthead .top-info .slide__right-desc .slide__text--style-2 a {
        color: #fff; }
      .masthead .top-info .slide__right-desc .text {
        text-align: right; }

/* End masthead */
/*# sourceMappingURL=table-flight-dark-site.css.map */