/* Fontface */
@font-face {
  font-family: 'sia';
  src: url('../fonts/sia.eot');
  src: url('../fonts/sia.eot?#iefix') format('embedded-opentype'), url('../fonts/sia.woff') format('woff'), url('../fonts/sia.ttf') format('truetype'), url('../fonts/sia.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-1';
  src: url('../fonts/sia-1.eot');
  src: url('../fonts/sia-1.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-1.woff') format('woff'), url('../fonts/sia-1.ttf') format('truetype'), url('../fonts/sia-1.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-2';
  src: url('../fonts/sia-2.eot');
  src: url('../fonts/sia-2.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-2.woff') format('woff'), url('../fonts/sia-2.ttf') format('truetype'), url('../fonts/sia-2.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-amenities';
  src: url('../fonts/sia-amenities.eot');
  src: url('../fonts/sia-amenities.eot?#iefix') format('embedded-opentype'), url('../fonts/sia-amenities.woff') format('woff'), url('../fonts/sia-amenities.ttf') format('truetype'), url('../fonts/sia-amenities.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-map';
  src: url('../fonts/sia-map.eot?cbq5t9');
  src: url('../fonts/sia-map.eot?cbq5t9#iefix') format('embedded-opentype'), url('../fonts/sia-map.ttf?cbq5t9') format('truetype'), url('../fonts/sia-map.woff?cbq5t9') format('woff'), url('../fonts/sia-map.svg?cbq5t9#sia-3') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sia-meals';
  src: url('../fonts/sia-meals.eot?egg8fi');
  src: url('../fonts/sia-meals.eot?egg8fi#iefix') format('embedded-opentype'), url('../fonts/sia-meals.ttf?egg8fi') format('truetype'), url('../fonts/sia-meals.woff?egg8fi') format('woff'), url('../fonts/sia-meals.svg?egg8fi#sia-meals') format('svg');
  font-weight: normal;
  font-style: normal; }

/* End fontface */
/* Style for tooltip */
.tooltip {
  display: block;
  background: transparent;
  position: absolute;
  clear: both;
  z-index: 13;
  top: auto;
  left: auto;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  -webkit-box-shadow: 2px 2px 6px 0 rgba(99, 99, 99, 0.2);
  -moz-box-shadow: 2px 2px 6px 0 rgba(99, 99, 99, 0.2);
  box-shadow: 2px 2px 6px 0 rgba(99, 99, 99, 0.2); }
  .tooltip .tooltip__arrow {
    position: absolute;
    top: 100%;
    left: 50%;
    margin: -8px 0 0 -9px;
    font-family: "sia";
    font-size: 18px;
    line-height: 1;
    color: #fff; }
    .tooltip .tooltip__arrow:before {
      display: inline-block;
      position: relative;
      z-index: -1;
      content: "\e61c";
      font-style: normal;
      font-weight: normal;
      speak: none;
      text-shadow: 2px 2px 6px rgba(99, 99, 99, 0.2); }
    .tooltip .tooltip__arrow.type-top {
      margin: 0 0 0 -8px;
      top: -11px; }
      .tooltip .tooltip__arrow.type-top:before {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        text-shadow: -2px 2px 8px rgba(99, 99, 99, 0.275); }
  .tooltip .btn-full {
    padding: 0;
    line-height: 40px; }
  .tooltip .tooltip__content {
    background-color: #fff;
    padding: 28px 20px 25px 13px; }

.tooltip__close {
  font-family: "sia";
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 1;
  z-index: 10;
  padding: 15px;
  color: #000;
  -webkit-transform: translate3d(0, 0, 0); }

.tooltip__text-1 {
  color: #333;
  margin-bottom: 15px;
  font-size: 12px; }
  .tooltip__text-1 span {
    margin-bottom: 5px; }
  .tooltip__text-1 a {
    font-size: 12px;
    margin-top: 3px; }

.tooltip__text-2 {
  margin: 0;
  line-height: 18px;
  font-size: 13px;
  letter-spacing: -0.3px;
  color: #333; }

.tooltip__preferred {
  display: none; }

.tooltip__windowless {
  color: #333;
  display: none;
  font-weight: 600; }

.tooltip__preferred-text {
  margin-top: 20px;
  line-height: 1.4em;
  color: #333; }

.tooltip--seat-1 .tooltip__arrow, .tooltip--seat-2 .tooltip__arrow {
  margin-top: -5px; }

.tooltip--seat-1 .form-group {
  width: 194px; }
.tooltip--seat-1 .tooltip__heading {
  position: relative;
  padding-left: 40px;
  margin-bottom: 10px;
  color: #333; }
  .tooltip--seat-1 .tooltip__heading .ico-preferred {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 40px;
    margin: 0; }
    .tooltip--seat-1 .tooltip__heading .ico-preferred:before {
      margin: 0; }
  .tooltip--seat-1 .tooltip__heading span {
    font-size: 14px;
    position: relative;
    top: 0;
    display: block;
    font-weight: 400;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif; }
  .tooltip--seat-1 .tooltip__heading strong {
    display: block;
    font-size: 26px;
    font-weight: 600;
    font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
    line-height: 28px; }
.tooltip--seat-1 .tooltip__text-1 {
  padding-bottom: 15px;
  border-bottom: 1px solid #e5e5e5; }
.tooltip--seat-1 .form--tooltip-1 {
  display: none; }
  .tooltip--seat-1 .form--tooltip-1 .tooltip__label {
    text-transform: none; }
  .tooltip--seat-1 .form--tooltip-1 .custom-radio--1 {
    margin-bottom: 15px;
    margin-left: 0;
    position: relative;
    clear: both;
    display: block; }
  .tooltip--seat-1 .form--tooltip-1 label {
    display: inline-block;
    text-transform: uppercase;
    color: #333;
    margin-right: 35px; }
  .tooltip--seat-1 .form--tooltip-1 .passenger-info__seat {
    margin-right: 0;
    padding: 0 4px;
    line-height: 1.8;
    min-height: 19px;
    position: absolute;
    right: 0;
    top: -1px;
    font-size: 11px; }
.tooltip--seat-1 .tooltip__label {
  margin-bottom: 10px; }
.tooltip--seat-1 .tooltip__windowless, .tooltip--seat-1 .tooltip__emergency {
  margin-bottom: 0; }
.tooltip--seat-1 .custom-radio.disabled {
  background-color: transparent; }
  .tooltip--seat-1 .custom-radio.disabled label {
    color: #d9d9d9; }
.tooltip--seat-1 .custom-radio label {
  color: #808080;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block; }
.tooltip--seat-1 .custom-radio:checked + label {
  color: #000; }

.tooltip--seat-2 .tooltip__heading {
  font-weight: 700;
  font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  color: #333;
  margin-top: 0;
  margin-bottom: 30px; }
.tooltip--seat-2 .tooltip__text-1 {
  font-size: 14px;
  margin-top: 8px;
  white-space: nowrap; }
.tooltip--seat-2 .btn-2 {
  background-color: #666; }

.tooltip.tooltip--info-1 {
  text-align: center; }
  .tooltip.tooltip--info-1 .tooltip__content {
    padding: 10px; }
.tooltip.tooltip--conditions-1 {
  -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25); }
  .tooltip.tooltip--conditions-1 .tooltip__content {
    padding: 20px; }

.tooltip--info-1 {
  position: absolute;
  left: 50%;
  margin-left: -82.5px;
  top: auto;
  bottom: 40px; }

.tooltip--conditions-1 {
  margin-top: 10px; }
  .tooltip--conditions-1 .summary-fare__conditions {
    margin-top: 15px;
    margin-bottom: 0; }

.tooltip-2 {
  width: 220px; }

.tooltip-3 {
  width: 200px; }

.tooltip-4 {
  width: 165px; }

.tooltip-5 {
  width: 180px; }

.tooltip-6 {
  width: 270px; }

.tooltip-7 {
  width: 102px; }

/* End tooltip */
/*# sourceMappingURL=tooltips-dark-site.css.map */